In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
import time
from io import StringIO

In [3]:
def get_latest_manufacturing_pmi():
    service = Service(executable_path='./chromedriver.exe')
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(service=service, options=options)
    driver.get(f'https://tradingeconomics.com/country-list/manufacturing-pmi')
    time.sleep(2)

    table = driver.find_element(
        By.XPATH, '//*[@id="ctl00_ContentPlaceHolder1_ctl01_UpdatePanel1"]/div/div'
    )
    dfs = pd.read_html(StringIO(table.get_attribute('innerHTML')))
    df_raw = dfs[0]
    driver.close()

    df_raw.index = df_raw['Country']
    
    return df_raw

In [4]:
latest_pmi = get_latest_manufacturing_pmi()
latest_pmi

                                   Country   Last  Previous Reference    Unit
Country
Mongolia                          Mongolia  59.00     54.20    Jun/23  points
India                                India  58.60     57.70    Aug/23  points
Saudi Arabia                  Saudi Arabia  56.60     57.70    Aug/23  points
United Arab Emirates  United Arab Emirates  55.00     56.00    Aug/23  points
Indonesia                        Indonesia  53.90     53.30    Aug/23  points
Qatar                                Qatar  53.90     54.00    Aug/23  points
Myanmar                            Myanmar  53.00     51.10    Aug/23  points
Greece                              Greece  52.90     53.50    Aug/23  points
Russia                              Russia  52.70     52.10    Aug/23  points
Kazakhstan                      Kazakhstan  52.40     52.70    Aug/23  points
Norway                              Norway  51.40     56.40    Aug/23  points
Mexico                              Mexico  51.20     53.20    Aug/23  points
China                                China  51.00     49.20    Aug/23  points
Ireland                            Ireland  50.80     47.00    Aug/23  points
Kenya                                Kenya  50.60     45.50    Aug/23  points
Vietnam                            Vietnam  50.50     48.70    Aug/23  points
Brazil                              Brazil  50.10     47.80    Aug/23  points
Nigeria                            Nigeria  50.00     49.10    Feb/23  points
Puerto Rico                    Puerto Rico  50.00     53.80    Jul/23  points
Singapore                        Singapore  49.90     49.80    Aug/23  points
Hong Kong                        Hong Kong  49.80     49.40    Aug/23  points
Philippines                    Philippines  49.70     51.90    Aug/23  points
South Africa                  South Africa  49.70     47.29    Aug/23  points
Australia                        Australia  49.60     49.60    Aug/23  points
Japan                                Japan  49.60     49.60    Aug/23  points
Sri Lanka                        Sri Lanka  49.30     44.60    Aug/23  points
Egypt                                Egypt  49.20     49.20    Aug/23  points
Turkey                              Turkey  49.00     49.90    Aug/23  points
World                                World  49.00     48.60    Aug/23  points
South Korea                    South Korea  48.90     49.40    Aug/23  points
Thailand                          Thailand  48.90     50.70    Aug/23  points
Lebanon                            Lebanon  48.70     50.30    Aug/23  points
Israel                              Israel  48.30     48.20    Jul/23  points
Canada                              Canada  48.00     49.60    Aug/23  points
United States                United States  47.90     49.00    Aug/23  points
Malaysia                          Malaysia  47.80     47.80    Aug/23  points
Colombia                          Colombia  46.80     48.40    Aug/23  points
Spain                                Spain  46.50     47.80    Aug/23  points
Hungary                            Hungary  46.46     45.94    Aug/23  points
New Zealand                    New Zealand  46.06     46.64    Aug/23  points
France                              France  46.00     45.10    Aug/23  points
Netherlands                    Netherlands  45.90     45.30    Aug/23  points
Sweden                              Sweden  45.80     48.00    Aug/23  points
Italy                                Italy  45.40     44.50    Aug/23  points
Taiwan                              Taiwan  44.30     44.10    Aug/23  points
Euro Area                        Euro Area  43.50     42.70    Aug/23  points
Poland                              Poland  43.10     43.50    Aug/23  points
United Kingdom              United Kingdom  43.00     45.30    Aug/23  points
Czech Republic              Czech Republic  42.90     41.40    Aug/23  points
Austria                            Austria  40.60     38.80    Aug/23  points
Switzerland                    Switzerland  39.90     38.50    Aug/23  points
Germany                            Germany  39.10     38.80    Aug/23  points

In [5]:
valid_pmi = latest_pmi[latest_pmi['Reference'] == 'Aug/23']['Last']

In [6]:
historic_pmi = pd.read_csv('Historic_Manufacturing_PMI.csv', parse_dates=True, index_col=0)

In [7]:
historic_pmi.columns

Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Hong Kong', 'Italy', 'Singapore', 'Norway',
       'Israel', 'Ireland', 'New Zealand', 'Austria', 'Eurozone', 'China',
       'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Greece', 'Hungary',
       'Czechia', 'Russia'],
      dtype='object')

In [8]:
valid_pmi.index

Index(['India', 'Saudi Arabia', 'United Arab Emirates', 'Indonesia', 'Qatar',
       'Myanmar', 'Greece', 'Russia', 'Kazakhstan', 'Norway', 'Mexico',
       'China', 'Ireland', 'Kenya', 'Vietnam', 'Brazil', 'Singapore',
       'Hong Kong', 'Philippines', 'South Africa', 'Australia', 'Japan',
       'Sri Lanka', 'Egypt', 'Turkey', 'World', 'South Korea', 'Thailand',
       'Lebanon', 'Canada', 'United States', 'Malaysia', 'Colombia', 'Spain',
       'Hungary', 'New Zealand', 'France', 'Netherlands', 'Sweden', 'Italy',
       'Taiwan', 'Euro Area', 'Poland', 'United Kingdom', 'Czech Republic',
       'Austria', 'Switzerland', 'Germany'],
      dtype='object', name='Country')

In [9]:
historic_pmi.loc[pd.to_datetime('2023-09')] = valid_pmi
historic_pmi.loc[pd.to_datetime('2023-09'),'Eurozone'] = valid_pmi['Euro Area']
historic_pmi.loc[pd.to_datetime('2023-09'),'Czechia'] = valid_pmi['Czech Republic']
historic_pmi.loc[pd.to_datetime('2023-09'),'Korea'] = valid_pmi['South Korea']
historic_pmi.loc[pd.to_datetime('2023-09'),'Turkiye'] = valid_pmi['Turkey']
historic_pmi.tail()

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Greece,Hungary,Czechia,Russia
2023-01-05,47.1,49.5,47.8,50.2,45.6,45.3,44.5,48.0,44.9,47.6,...,59.6,49.8,51.1,52.7,51.5,46.6,52.4,61.90,42.8,52.6
2023-01-06,46.9,50.6,47.1,49.0,45.7,43.2,43.2,48.4,44.2,45.7,...,58.5,49.2,50.5,50.3,51.5,47.0,51.5,57.10,42.8,53.5
2023-01-07,46.0,49.8,46.5,48.8,46.0,44.9,40.6,48.2,43.8,NaN,...,59.6,47.6,50.9,52.5,51.5,45.1,51.8,44.20,40.8,52.6
2023-01-08,46.4,49.6,45.3,49.6,45.1,38.5,38.8,49.6,45.3,NaN,...,57.7,47.3,50.9,53.3,49.9,43.5,53.5,45.70,41.4,52.1
2023-09-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,45.9,NaN,...,56.6,49.7,51.2,53.9,49.0,43.1,52.9,46.46,42.9,52.7

In [10]:
last_pmi = historic_pmi.iloc[-1]
last_pmi[last_pmi.isna()]

Denmark   NaN
Israel    NaN
Name: 2023-09-01 00:00:00, dtype: float64

In [13]:
len(historic_pmi.columns)

36

In [11]:
historic_pmi.to_csv('Historic_Manufacturing_PMI.csv')