In [1]:
import pandas as pd
import numpy as np
from oecd_api import *

## GDP Annual Growth Rate (YoY)

In [2]:
# gdp_df = pd.read_csv('Indicators/OECD_Quaterly GDP YoY.csv', parse_dates=True, index_col=0)
# gdp_df = gdp_df.round(2)
# gdp_df.to_csv('KeyIndicators/gdp_annual_growth_rate.csv')

In [3]:
# gdp_df.index = pd.date_range(start='1999-01-01', end='2023-07-01', freq='QS')
# gdp_df.to_csv('KeyIndicators/gdp_annual_growth_rate.csv')

In [4]:
gdp_df = pd.read_csv('KeyIndicators/gdp_annual_growth_rate.csv', parse_dates=True, index_col=0)
gdp_df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,4.82,-0.84,2.34,4.19,2.78,1.03,0.79,5.27,4.21,4.22,...,6.58,0.67,2.90,0.98,2.29,-6.41,-4.09,2.10,-2.18,-1.8
1999-04-01,4.72,-0.03,2.17,5.01,2.61,0.58,1.22,4.61,4.62,3.52,...,12.16,-0.44,NaN,1.64,2.30,1.50,-3.86,4.22,-5.14,3.2
1999-07-01,4.79,0.33,3.47,5.69,3.54,1.17,1.86,3.83,5.17,3.80,...,13.30,-0.46,NaN,2.97,2.76,2.92,-4.14,5.30,-5.12,11.5
1999-10-01,4.82,-0.44,4.26,5.74,4.18,3.73,3.12,3.97,5.68,4.45,...,13.73,2.15,-3.80,4.01,3.61,5.99,-1.02,6.53,-1.01,12.1
2000-01-01,4.22,2.67,4.82,5.52,4.36,4.32,3.40,3.64,4.59,3.99,...,12.47,2.97,NaN,4.22,4.86,3.48,2.27,6.38,-0.11,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,1.71,1.51,2.06,3.99,1.32,1.40,1.25,5.75,3.10,2.87,...,3.07,4.36,7.59,3.88,4.97,6.09,3.78,4.96,5.34,-3.7
2022-10-01,0.65,0.63,0.66,2.15,0.78,1.14,0.82,2.31,3.07,-0.11,...,1.34,3.25,6.26,1.35,4.51,5.16,3.35,0.76,1.10,-2.7
2023-01-01,1.72,2.48,0.46,1.80,0.95,1.51,-0.18,2.37,2.08,1.28,...,1.01,3.72,2.47,0.22,3.50,4.96,2.88,-1.35,1.23,-1.8
2023-04-01,2.38,2.27,0.56,1.19,1.17,0.40,0.09,2.05,-0.07,-0.38,...,0.87,3.40,0.76,1.53,3.44,4.92,4.79,-0.30,-3.30,4.9
2023-07-01,3.00,1.63,0.61,0.46,0.56,0.43,-0.40,2.05,-0.39,-1.45,...,1.25,2.47,-3.63,-0.48,3.29,4.93,4.51,0.57,NaN,5.5

In [5]:
check_data_coverage(gdp_df)

Data coverage since 1999 (50 countries):  59.3 %
Data coverage since 2013 (30 countries): 99.9 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Sweden', 'Spain',
       'Italy', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria', 'China',
       'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:

Missing last:

Done

## GDP Growth Rate (QoQ)

In [6]:
# gdp_df = pd.read_csv('Indicators/OECD_Quaterly GDP QoQ.csv', parse_dates=True, index_col=0)
# gdp_df['Taiwan'] = np.nan
# gdp_df = gdp_df[selected_countries].round(2)
# gdp_df.to_csv('KeyIndicators/gdp_growth_rate.csv')
# gdp_df

In [7]:
gdp_growth_qoq = pd.read_csv('KeyIndicators/gdp_growth_rate.csv', parse_dates=True, index_col=0)
gdp_growth_qoq

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,0.94,-1.37,0.69,1.81,0.66,0.10,1.16,0.74,1.67,1.09,...,3.03,0.31,NaN,0.96,0.86,5.65,-1.69,0.80,-1.25,4.1
1999-04-01,0.83,0.38,0.47,0.84,0.62,0.65,0.00,0.34,1.11,0.68,...,4.38,0.32,NaN,0.80,0.75,-0.06,-0.56,2.09,-1.13,3.5
1999-07-01,1.33,0.53,1.60,1.56,1.50,0.63,1.11,1.14,1.38,0.71,...,2.78,0.06,NaN,1.09,0.95,0.27,-1.69,2.00,-0.29,2.0
1999-10-01,1.64,0.03,1.43,1.41,1.34,2.32,0.83,1.70,1.41,1.91,...,2.89,1.45,NaN,1.10,0.99,0.11,2.99,1.48,1.67,2.2
2000-01-01,0.36,1.71,1.23,1.60,0.83,0.66,1.43,0.41,0.62,0.64,...,1.90,1.11,NaN,1.17,2.08,3.15,1.57,0.66,-0.34,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,0.66,-0.10,-0.09,0.46,0.50,0.25,0.36,0.20,0.13,0.78,...,0.23,1.05,1.23,1.77,1.22,0.80,0.54,0.62,0.45,NaN
2022-10-01,0.64,0.25,0.13,-0.22,0.00,-0.03,-0.41,0.85,0.70,-0.85,...,-0.30,-0.12,1.16,-1.09,0.68,2.34,1.15,-2.28,-1.80,NaN
2023-01-01,0.56,1.23,0.32,0.61,0.06,0.31,0.00,0.53,-0.48,0.50,...,0.33,1.44,-1.12,0.41,0.57,0.84,-0.25,1.10,0.89,NaN
2023-04-01,0.51,0.88,0.19,0.34,0.61,-0.13,0.14,0.44,-0.42,-0.81,...,0.61,0.98,-0.51,0.46,0.93,0.87,3.31,0.30,-2.84,NaN
2023-07-01,1.26,-0.73,-0.03,-0.27,-0.11,0.27,-0.13,0.21,-0.19,-0.29,...,0.62,0.14,-3.18,-0.25,1.07,0.81,0.27,1.49,NaN,NaN

In [8]:
check_data_coverage(gdp_growth_qoq)

Data coverage since 1999 (50 countries):  57.9 %
Data coverage since 2013 (30 countries): 99.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Sweden', 'Spain',
       'Italy', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria', 'China',
       'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
China 2011-01-01 00:00:00
Saudi Arabia 2010-04-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

## Monthly Unemployment Rate

In [9]:
# monthly_unemployment = pd.read_csv('Indicators/OECD_Monthly Unemployment.csv', parse_dates=True, index_col=0)
# monthly_unemployment['Taiwan'] = np.nan
# monthly_unemployment = monthly_unemployment[selected_countries].round(2)
# monthly_unemployment.to_csv('KeyIndicators/monthly_unemployment.csv')

In [10]:
# Source file '../OECD_Monthly Unemployment.csv' and '../OECD_Quarterly Unemployment.csv'
monthly_unemployment = pd.read_csv('KeyIndicators/monthly_unemployment.csv', parse_dates=True, index_col=0)
monthly_unemployment

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,4.3,4.5,6.2,7.9,12.0,3.5,8.9,7.12,4.6,7.3,...,7.6,NaN,NaN,NaN,2.60,NaN,NaN,11.5,NaN,13.8
1999-02-01,4.4,4.6,6.2,7.9,12.0,3.4,8.8,7.11,4.5,7.0,...,7.4,NaN,NaN,NaN,3.10,NaN,NaN,12.0,NaN,14.1
1999-03-01,4.2,4.7,6.2,7.9,11.8,3.2,8.8,7.01,4.4,7.0,...,7.2,NaN,NaN,NaN,2.70,NaN,NaN,12.3,NaN,13.7
1999-04-01,4.3,4.7,6.1,8.2,11.7,2.9,8.7,6.98,4.4,6.9,...,7.0,NaN,NaN,NaN,2.80,NaN,NaN,12.7,NaN,13.1
1999-05-01,4.2,4.7,6.0,7.9,11.5,2.7,8.6,7.02,4.3,6.7,...,6.8,NaN,NaN,NaN,2.60,NaN,NaN,12.9,NaN,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,3.6,2.5,4.3,5.4,7.3,1.9,3.0,3.48,3.5,8.0,...,2.6,8.0,NaN,NaN,2.67,NaN,9.5,2.8,NaN,3.1
2023-07-01,3.5,2.7,NaN,5.5,7.4,1.9,3.0,3.74,3.6,7.1,...,2.8,7.9,NaN,31.9,2.93,NaN,9.3,2.8,6.2,3.0
2023-08-01,3.8,2.7,NaN,5.5,7.4,2.0,3.0,3.70,3.6,8.1,...,2.4,7.8,NaN,NaN,2.75,NaN,9.2,2.8,NaN,3.0
2023-09-01,3.8,2.6,4.2,5.5,7.3,2.0,3.1,3.55,3.7,8.2,...,2.6,7.7,NaN,NaN,2.69,NaN,9.1,2.8,NaN,3.0
2023-10-01,3.9,2.5,NaN,5.7,7.3,2.0,3.1,3.72,3.6,7.9,...,2.5,7.6,NaN,NaN,2.66,NaN,NaN,2.8,6.3,2.9

In [11]:
check_data_coverage(monthly_unemployment)

Data coverage since 1999 (50 countries):  50.2 %
Data coverage since 2013 (30 countries): 88.1 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Sweden', 'Spain',
       'Italy', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria', 'China',
       'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
China 2002-07-01 00:00:00
India 2018-11-01 00:00:00
Brazil 2012-03-01 00:00:00
Saudi Arabia 2000-01-01 00:00:00
South Africa 2000-07-01 00:00:00
Indonesia 2000-01-01 00:00:00
Turkiye 2005-01-01 00:00:00
Argentina 2002-10-01 00:00:00

Missing last:

Done

## Inflation Rate

In [12]:
# inflation_rate = pd.read_csv('Indicators/OECD_Inflation Rate.csv', parse_dates=True, index_col=0)
# inflation_rate['Taiwan'] = np.nan
# inflation_rate = inflation_rate[selected_countries].round(2)
# inflation_rate.to_csv('KeyIndicators/inflation_rate.csv')
# inflation_rate

In [13]:
# Source file '../OECD_Inflation Rate.csv' and '../OECD_Inflation Rate Q.csv'
inflation_rate = pd.read_csv('KeyIndicators/inflation_rate.csv', parse_dates=True, index_col=0)
inflation_rate

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,1.67,0.2,2.0,0.66,0.24,0.07,0.24,NaN,2.18,-0.22,...,1.46,1.65,-1.66,8.88,19.02,70.64,65.90,6.9,0.50,96.92
1999-02-01,1.61,-0.1,1.9,0.66,0.18,0.29,0.12,1.19,2.11,-0.10,...,0.17,2.24,-1.85,8.63,18.54,53.41,63.93,5.6,0.00,103.24
1999-03-01,1.73,-0.4,2.1,0.99,0.35,0.47,0.24,NaN,2.15,0.13,...,0.51,3.02,-1.36,7.89,18.26,45.42,63.54,6.2,-0.60,107.58
1999-04-01,2.28,-0.1,2.0,1.65,0.42,0.59,0.60,NaN,2.11,0.06,...,0.42,3.35,-2.30,7.62,18.23,37.97,63.86,6.3,-0.70,113.06
1999-05-01,2.09,-0.4,1.7,1.53,0.41,0.58,0.48,1.04,2.24,0.08,...,0.76,3.14,-1.39,7.02,18.01,30.74,62.97,6.4,-1.20,116.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,2.97,3.3,7.3,2.81,4.53,1.71,6.38,NaN,5.70,9.31,...,2.68,3.16,2.74,5.66,5.06,3.52,38.21,11.5,115.58,3.30
2023-07-01,3.18,3.3,6.4,3.27,4.29,1.61,6.16,NaN,4.57,9.26,...,2.26,3.99,2.31,4.81,4.79,3.08,47.83,10.8,113.45,4.30
2023-08-01,3.67,3.2,6.3,4.00,4.86,1.55,6.14,5.37,3.03,7.45,...,3.42,4.61,1.95,4.80,4.64,3.27,58.94,10.1,124.37,5.20
2023-09-01,3.70,3.0,6.3,3.80,4.90,1.65,4.53,NaN,0.21,6.48,...,3.73,5.19,1.69,5.45,4.45,2.28,61.53,8.2,138.28,6.00
2023-10-01,3.24,3.3,4.7,3.12,3.98,1.69,3.79,NaN,-0.41,6.52,...,3.81,4.82,1.62,6.09,4.26,2.56,61.36,6.6,142.66,6.70

In [14]:
check_data_coverage(inflation_rate)

Data coverage since 1999 (50 countries):  58.5 %
Data coverage since 2013 (30 countries): 97.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Sweden', 'Spain',
       'Italy', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria', 'China',
       'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:

Missing last:

Done