In [15]:
import pandas as pd

In [16]:
all_countries = ['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
                 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
                 'Sweden', 'Spain', 'Hong Kong', 'Italy', 'Singapore',
                 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland',
                 'New Zealand', 'Austria', 'Portugal', 'Eurozone',
                 'China', 'Taiwan', 'India', 'Korea', 'Brazil',
                 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia',
                 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye',
                 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru',
                 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']

In [17]:
len(all_countries)

50

In [18]:
def check_data_coverage(df):
    available_countries = df.columns[~df.isna().all()]
    print('Available countries:')
    print(available_countries)
    print()

    print('No data:')
    for country in all_countries:
        if not country in df.columns:
            print(country)
    no_data = df.columns[df.isna().all()]
    print(no_data)
    print()

    print('Missing first:')
    for country in df.columns:
        first_valid = df[country].first_valid_index()
        if first_valid != None and (not str(first_valid).startswith('1999')):
            print(country, first_valid)
    print()

    print('Missing last:')
    for country in df.columns:
        last_valid = df[country].last_valid_index()
        if last_valid != None and (not str(last_valid).startswith('2023')):
            print(country, last_valid)
            
    print()
    print('Done')

## Monthly Unemployment Rate

In [19]:
monthly_unemployment = pd.read_csv('KeyIndicators/monthly_unemployment.csv', parse_dates=True, index_col=0)
monthly_unemployment

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.3,4.5,6.2,7.9,12.0,3.5,8.9,7.1,4.6,5.0,...,NaN,NaN,11.5,8.4,11.4,7.2,7.8,NaN,NaN,13.8
1999-02-01,4.4,4.6,6.2,7.9,12.0,3.4,8.8,7.1,4.5,5.0,...,NaN,NaN,12.0,8.8,11.4,7.2,8.1,NaN,NaN,14.1
1999-03-01,4.2,4.7,6.2,7.9,11.8,3.2,8.8,7.0,4.4,5.0,...,NaN,NaN,12.3,9.3,11.4,7.1,8.6,NaN,NaN,13.7
1999-04-01,4.3,4.7,6.1,8.2,11.7,2.9,8.7,7.0,4.4,5.0,...,NaN,NaN,12.7,10.0,12.1,7.0,8.6,NaN,NaN,13.1
1999-05-01,4.2,4.7,6.0,7.9,11.5,2.7,8.6,7.0,4.3,5.0,...,NaN,NaN,12.9,10.6,12.0,6.9,8.7,NaN,NaN,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-01,3.4,2.6,3.8,5.0,7.3,2.0,2.9,3.7,3.4,5.0,...,5.4,10.0,2.8,8.3,11.6,3.9,2.7,10.3,6.2,3.3
2023-05-01,3.7,2.6,4.0,5.2,7.3,1.9,2.9,3.6,3.5,4.9,...,5.4,9.5,2.8,8.2,11.2,3.9,2.5,10.1,6.2,3.2
2023-06-01,3.6,2.5,4.2,5.4,7.3,1.9,2.9,3.5,3.5,4.9,...,5.4,9.6,2.8,8.4,11.0,3.9,2.7,9.4,6.2,3.1
2023-07-01,3.5,2.7,4.3,5.5,7.4,1.9,2.9,3.7,3.6,5.6,...,NaN,9.4,2.8,NaN,10.8,4.0,2.7,9.3,6.2,3.0
2023-08-01,3.8,NaN,NaN,5.5,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

In [20]:
#monthly_unemployment['Argentina'] = monthly_unemployment['Argentina'].ffill(limit=3)
monthly_unemployment.to_csv('KeyIndicators/monthly_unemployment.csv')

In [21]:
check_data_coverage(monthly_unemployment)

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Hong Kong
Singapore
Eurozone
Thailand
Malaysia
United Arab Emirates
Qatar
Kuwait
Philippines
Peru
Egypt
Index([], dtype='object')

Missing first:
China 2002-07-01 00:00:00
India 2018-11-01 00:00:00
Brazil 2012-03-01 00:00:00
Saudi Arabia 2000-01-01 00:00:00
South Africa 2000-07-01 00:00:00
Indonesia 2000-01-01 00:00:00
Turkiye 2005-01-01 00:00:00
Colombia 2001-01-01 00:00:00
Argentina 2002-10-01 00:00:00

Missing last:

Done

## GDP Annual Growth Rate (YoY)

In [22]:
# Source file '../OECD_Quaterly GDP YoY.csv'
gdp_df = pd.read_csv('KeyIndicators/gdp_annual_growth_rate.csv', parse_dates=True, index_col=0)
gdp_df = gdp_df.round(1)
gdp_df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.8,-0.8,2.2,4.2,2.8,1.0,0.8,5.2,4.2,2.3,...,-6.4,-4.1,2.1,-2.2,2.4,2.5,0.4,NaN,-2.2,-1.8
1999-04-01,4.7,0.0,2.1,5.0,2.6,0.6,1.2,4.5,4.6,3.6,...,1.5,-3.9,4.2,-3.6,2.9,2.1,0.6,NaN,-5.1,3.2
1999-07-01,4.8,0.3,3.5,5.7,3.5,1.2,1.9,3.8,5.2,2.4,...,2.9,-4.1,5.3,-0.9,2.9,3.0,1.5,NaN,-5.1,11.5
1999-10-01,4.8,-0.4,4.3,5.7,4.2,3.7,3.1,4.0,5.7,3.5,...,6.0,-1.0,6.5,5.1,3.7,4.2,2.5,NaN,-1.0,12.1
2000-01-01,4.2,2.7,4.8,5.5,4.4,4.3,3.4,3.6,4.6,3.6,...,3.5,2.3,6.4,6.1,3.3,5.2,3.9,NaN,-0.1,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,1.9,1.4,3.8,4.7,3.9,3.3,1.6,3.1,5.2,3.2,...,5.3,7.0,6.0,5.5,7.1,6.2,3.4,12.2,7.7,-4.5
2022-07-01,1.7,1.5,2.0,3.8,1.2,1.4,1.2,6.0,3.0,2.3,...,6.1,3.8,5.0,0.0,4.1,3.7,1.4,7.3,5.3,-3.5
2022-10-01,0.7,0.5,0.6,2.1,0.7,1.2,0.8,2.7,3.1,0.4,...,5.2,3.4,1.0,-2.1,4.8,0.7,0.1,2.0,1.1,-2.7
2023-01-01,1.7,1.8,0.2,2.1,0.8,1.4,-0.3,2.4,2.1,2.0,...,4.9,3.0,-0.6,-1.0,2.0,-1.2,-0.4,3.0,1.2,-1.8
2023-04-01,2.4,1.7,0.4,1.1,1.0,0.6,-0.1,2.1,0.0,1.5,...,4.9,5.1,-1.4,-1.1,2.7,-2.3,-0.6,0.3,-3.3,4.9

In [23]:
gdp_df.to_csv('KeyIndicators/gdp_annual_growth_rate.csv')

In [24]:
check_data_coverage(gdp_df)

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Hong Kong
Singapore
Eurozone
Thailand
Malaysia
United Arab Emirates
Qatar
Kuwait
Philippines
Peru
Egypt
Index([], dtype='object')

Missing first:
Colombia 2006-01-01 00:00:00

Missing last:

Done

## GDP Growth Rate (QoQ)

In [25]:
#gdp_growth_qoq = pd.read_csv('Indicators/OECD_Quaterly GDP QoQ.csv', parse_dates=True, index_col=0)
#gdp_growth_qoq

In [26]:
gdp_growth_qoq = pd.read_csv('KeyIndicators/gdp_growth_rate.csv', parse_dates=True, index_col=0)
gdp_growth_qoq = gdp_growth_qoq.round(2)
gdp_growth_qoq

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,0.94,-1.38,0.69,1.81,0.66,0.10,1.16,0.73,1.67,0.91,...,5.65,-1.69,0.80,0.02,0.76,-0.01,0.03,NaN,-1.25,4.1
1999-04-01,0.83,0.37,0.47,0.84,0.63,0.67,0.00,0.32,1.11,0.52,...,-0.06,-0.56,2.09,0.27,0.93,1.10,0.45,NaN,-1.13,3.5
1999-07-01,1.33,0.54,1.60,1.56,1.47,0.57,1.11,1.16,1.38,0.62,...,0.27,-1.69,2.00,2.11,0.38,1.89,0.92,NaN,-0.29,2.0
1999-10-01,1.64,0.04,1.43,1.41,1.36,2.36,0.83,1.70,1.41,1.40,...,0.11,2.99,1.48,2.63,1.60,1.14,1.12,NaN,1.67,2.2
2000-01-01,0.36,1.69,1.23,1.60,0.84,0.67,1.43,0.40,0.62,0.98,...,3.15,1.57,0.66,0.94,0.38,0.91,1.33,NaN,-0.34,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,-0.14,1.29,0.09,0.90,0.38,0.87,-0.13,0.72,1.81,1.03,...,0.91,1.41,-1.39,-0.17,0.50,0.96,0.15,1.59,1.71,NaN
2022-07-01,0.66,-0.30,-0.09,0.56,0.32,0.26,0.36,0.67,-0.17,-0.20,...,0.82,0.54,1.24,-1.23,0.26,-0.88,-0.23,0.86,0.45,NaN
2022-10-01,0.64,0.05,0.13,-0.04,0.11,0.02,-0.41,0.65,0.88,0.58,...,2.31,1.15,-2.01,0.04,1.19,-0.91,-0.39,-1.66,-1.80,NaN
2023-01-01,0.56,0.80,0.32,0.65,0.02,0.28,-0.09,0.37,-0.42,0.84,...,0.82,-0.13,1.60,0.41,-0.00,-0.32,0.09,2.22,0.89,NaN
2023-04-01,0.51,1.17,0.19,-0.05,0.53,0.02,0.02,0.36,-0.23,-0.35,...,0.85,3.47,-2.17,-0.29,1.26,-0.16,-0.02,-1.03,-2.84,NaN

In [27]:
gdp_growth_qoq.to_csv('KeyIndicators/gdp_growth_rate.csv')

In [28]:
check_data_coverage(gdp_growth_qoq)

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Hong Kong
Singapore
Eurozone
Thailand
Malaysia
United Arab Emirates
Qatar
Kuwait
Philippines
Peru
Egypt
Index([], dtype='object')

Missing first:
China 2011-01-01 00:00:00
Saudi Arabia 2010-04-01 00:00:00
Colombia 2005-04-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

## Inflation Rate

In [32]:
inflation_rate = pd.read_csv('KeyIndicators/inflation_rate.csv', parse_dates=True, index_col=0)
inflation_rate

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,1.67,0.2,2.0,0.66,0.24,0.07,0.24,NaN,2.18,1.70,...,70.64,65.90,6.9,3.59,3.70,9.75,3.59,17.18,NaN,96.92
1999-02-01,1.61,-0.1,1.9,0.66,0.18,0.29,0.12,NaN,2.11,2.04,...,53.41,63.93,5.6,3.80,3.69,9.39,2.97,15.38,NaN,103.24
1999-03-01,1.73,-0.4,2.1,0.99,0.35,0.47,0.24,NaN,2.15,2.32,...,45.42,63.54,6.2,4.05,3.40,9.27,2.67,13.50,NaN,107.58
1999-04-01,2.28,-0.1,2.0,1.65,0.42,0.59,0.60,NaN,2.11,2.36,...,37.97,63.86,6.3,4.03,2.81,9.39,2.51,11.16,NaN,113.06
1999-05-01,2.09,-0.4,1.7,1.53,0.41,0.58,0.48,NaN,2.24,2.07,...,30.74,62.97,6.4,3.97,2.37,8.86,2.51,10.00,NaN,116.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-01,4.05,NaN,7.9,3.36,5.12,2.16,6.10,NaN,6.06,2.93,...,4.00,39.59,13.0,8.73,2.78,21.50,11.06,12.36,114.25,NaN
2023-06-01,2.97,NaN,7.3,2.81,4.53,1.71,6.38,NaN,5.70,2.46,...,3.52,38.21,11.5,7.56,1.76,20.10,9.70,12.13,115.58,NaN
2023-07-01,3.18,NaN,6.4,3.27,4.29,1.61,6.16,NaN,4.57,3.13,...,3.08,47.83,10.8,6.48,2.47,17.60,8.77,11.78,113.45,NaN
2023-08-01,3.67,NaN,6.3,4.00,4.86,1.55,6.14,NaN,3.03,2.44,...,3.27,58.94,10.1,5.32,2.74,16.40,8.52,11.43,124.37,NaN
2023-09-01,NaN,NaN,NaN,NaN,NaN,1.65,NaN,NaN,NaN,NaN,...,2.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
inflation_rate.to_csv('KeyIndicators/inflation_rate.csv')

In [33]:
check_data_coverage(inflation_rate)

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'China', 'India', 'Korea', 'Brazil', 'Saudi Arabia',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile',
       'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Hong Kong
Singapore
Taiwan
Thailand
Malaysia
United Arab Emirates
Qatar
Kuwait
Philippines
Peru
Egypt
Index(['Australia', 'New Zealand', 'Eurozone'], dtype='object')

Missing first:
Argentina 2017-12-01 00:00:00

Missing last:
Japan 2021-06-01 00:00:00
Russia 2022-03-01 00:00:00

Done