In [1]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'MEI_CLI' # Composite Leading Indicators (MEI) 
subject = 'CSCICP03' # OECD Standardised Consumer Confidence Indicator, Amplitude adjusted (Long term average=100), sa
measure = ''
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, with_measure=False, 
                   file_name='Consumer Confidence Indicator')
df

https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/CSCICP03.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.M/all?startTime=1999-01&contentType=csv
Data coverage:  84.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'France', 'Switzerland',
       'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Israel', 'Ireland', 'New Zealand',
       'Austria', 'Portugal', 'Eurozone', 'China', 'India', 'Korea', 'Brazil',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile',
       'Greece', 'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Canada', 'Norway', 'Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
Israel 2011-03
India 2012-08
Mexico 2001-04
Indonesia 2001-04
Turkiye 2004-01
Poland 2001-05
Chile 2002-03
Colombia 2001-11

Missing last:
India 2020-09

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,102.1616,99.1387,101.7730,NaN,101.2572,101.1827,100.6068,101.2532,100.9710,99.3067,...,NaN,NaN,NaN,NaN,102.4175,100.5840,96.8140,NaN,NaN,90.7300
1999-02,102.3725,99.2262,102.1197,NaN,101.2168,101.0141,100.4978,101.5505,100.8927,99.3947,...,NaN,NaN,NaN,NaN,102.4525,100.5667,96.4586,NaN,NaN,91.1700
1999-03,102.4083,99.2546,102.4171,NaN,101.0978,100.8968,100.2831,101.5727,100.8703,99.5680,...,NaN,NaN,NaN,NaN,102.5293,100.3548,96.2531,NaN,NaN,91.5000
1999-04,102.4034,99.2785,102.5353,NaN,101.0083,100.8350,100.0580,101.5487,100.9669,99.7162,...,NaN,NaN,NaN,NaN,102.7561,100.0128,96.3127,NaN,NaN,91.7200
1999-05,102.4475,99.3336,102.5404,NaN,101.0487,100.8528,99.9122,101.4571,101.0927,99.8776,...,NaN,NaN,NaN,NaN,102.9214,99.8066,96.3974,NaN,NaN,91.8700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,97.2122,98.4040,97.1058,NaN,97.7939,96.8113,99.0019,97.7768,98.3363,98.6162,...,101.6986,99.7900,100.0494,95.7984,99.5673,98.6890,98.3285,95.8250,NaN,99.6145
2023-06,97.5081,98.5439,97.5460,NaN,98.2174,96.8765,98.9874,97.7259,98.3026,98.8779,...,101.6676,98.8301,100.5409,96.0541,100.0501,98.7942,98.4909,96.4110,NaN,NaN
2023-07,97.8740,98.5840,97.5800,NaN,98.4144,96.9681,98.8889,97.7492,98.3531,98.9324,...,101.5798,97.0670,100.8414,96.2122,100.0851,98.8955,98.7750,96.5746,NaN,NaN
2023-08,98.0031,98.4689,97.9730,NaN,98.3726,97.0720,98.7088,97.7604,98.4496,98.8330,...,101.5315,95.1146,100.8972,96.2144,99.5109,99.0041,98.8232,96.5394,NaN,NaN
2023-09,97.9988,98.2755,98.5652,NaN,98.2154,NaN,98.5243,97.7383,98.5045,98.6291,...,NaN,93.8837,100.8674,NaN,98.5976,98.9885,98.6108,NaN,NaN,NaN

In [3]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'NAEXKP02' # Private Consumption
measure = 'GY' # Growth on the same period of the prevoius year
freq = 'Q'
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name='Private Consumption')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/NAEXKP02.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GY.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  86.9 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
India 2012-Q2
Colombia 2006-Q1
Russia 2004-Q1

Missing last:
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,5.6513,0.8615,3.5771,3.5765,3.0230,2.1917,2.6510,6.4909,6.6409,1.7525,...,2.1890,-0.7260,4.1096,-3.0433,3.0519,6.1402,3.3655,NaN,NaN,NaN
1999-Q2,5.4130,1.0395,4.5853,3.3629,2.8210,2.0994,3.2663,5.4950,6.3220,-0.2225,...,3.8922,3.5276,6.2219,-4.9401,2.2762,6.9139,3.5238,NaN,NaN,NaN
1999-Q3,5.2259,1.0440,3.9820,4.0479,4.0008,2.0255,2.0089,4.6132,5.6900,-0.5135,...,7.6570,-1.8747,4.4846,-0.7301,3.1149,7.0728,3.6451,NaN,NaN,NaN
1999-Q4,5.2446,1.4707,4.7765,4.7435,3.8454,2.2848,1.9940,5.0556,5.0139,-1.4478,...,4.8990,-0.5397,6.6983,4.8402,1.4243,6.4830,1.9286,NaN,NaN,NaN
2000-Q1,5.7498,1.6474,5.1959,4.3436,4.7717,2.1592,1.6463,3.4777,4.7535,-0.0190,...,0.8067,3.6104,4.3640,5.0156,2.4071,4.2588,1.2688,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,2.1945,2.5592,4.5718,7.9260,4.7604,4.3314,5.2642,5.2958,7.0025,-1.4986,...,4.8809,21.0110,6.3860,7.4782,8.8296,7.8147,-0.1302,14.9106,NaN,NaN
2022-Q3,1.8760,3.7468,0.7357,3.1382,-0.0303,2.6527,1.6054,11.5479,2.8907,-3.5427,...,5.2130,18.1317,2.0243,-3.4150,5.4811,4.6043,-4.5433,9.1295,NaN,NaN
2022-Q4,1.1720,0.9557,0.3622,3.0397,-0.8834,2.9962,0.5125,5.1988,4.2371,-4.9904,...,5.0591,15.8631,-1.4123,-4.4097,3.9571,2.3702,-5.2587,3.9225,NaN,NaN
2023-Q1,2.1182,2.6174,0.1581,3.7570,0.4109,3.1191,-0.3681,3.5625,3.1735,-0.4813,...,5.0277,16.8475,-2.5628,-7.1358,2.4969,-4.4218,-5.3272,3.0551,NaN,NaN
2023-Q2,1.8208,0.1638,0.1012,1.6636,-0.6370,2.2644,-0.5274,1.4760,0.2098,0.3536,...,5.1960,18.6266,-3.0297,-6.0760,3.1594,-3.4055,-4.3757,0.7693,NaN,NaN

In [4]:
indicator = 'MEI' # Main Economic Indicators
subject = 'SLRTTO02' # Total retail sales value
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Retail Sales Value MoM')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.SLRTTO02.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage:  67.6 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'South Africa', 'Turkiye', 'Poland', 'Chile',
       'Greece', 'Hungary', 'Czechia', 'Colombia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'India', 'Korea', 'Brazil',
       'Saudi Arabia', 'Mexico', 'Indonesia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
Ireland 2000-01
Turkiye 2010-01
Chile 2005-01

Missing last:
Israel 2017-07
Poland 2018-12
Chile 2016-12
Colombia 2018-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,56.8032,95.8237,60.8788,50.6461,57.4952,82.4241,85.2,NaN,88.9096,77.1447,...,NaN,NaN,30.4901,NaN,76.2449,37.1102,59.7235,25.4986,NaN,NaN
1999-02,57.3661,96.8673,60.6460,51.1330,58.7951,83.7597,85.2,NaN,88.5949,78.2957,...,NaN,NaN,31.7056,NaN,76.7515,36.7904,57.1919,26.4986,NaN,NaN
1999-03,57.6621,96.8673,60.9952,51.4001,58.8951,84.4318,86.4,NaN,90.1078,83.1331,...,NaN,NaN,34.4857,NaN,76.1097,38.7518,58.8435,25.9268,NaN,NaN
1999-04,58.0604,97.9109,60.8788,51.3693,58.3951,80.1433,84.2,NaN,90.1281,71.6368,...,NaN,NaN,33.8164,NaN,77.9683,38.9224,58.2806,25.7022,NaN,NaN
1999-05,58.6335,96.4878,61.5773,51.1656,59.2951,84.9224,84.2,NaN,90.5648,78.4956,...,NaN,NaN,35.8033,NaN,77.6120,38.1051,58.7767,26.0471,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,151.3288,108.6555,136.4245,143.7632,137.8885,107.1000,137.5,NaN,138.9232,119.3099,...,NaN,979.5,NaN,NaN,126.3000,204.6162,150.7126,NaN,NaN,NaN
2023-05,152.1273,110.1522,137.4721,143.8978,137.6885,109.6000,139.4,NaN,141.1235,117.8098,...,NaN,1032.7,NaN,NaN,128.6000,202.1074,150.6126,NaN,NaN,NaN
2023-06,152.3246,109.4537,139.1018,144.0957,139.5884,111.2000,138.9,NaN,143.5239,119.3099,...,NaN,1082.5,NaN,NaN,125.0000,204.8169,151.8127,NaN,NaN,NaN
2023-07,152.9344,111.8483,137.5885,144.5505,138.7884,108.7000,139.2,NaN,140.1234,114.0095,...,NaN,1212.4,NaN,NaN,128.9000,204.9172,152.8127,NaN,NaN,NaN
2023-08,NaN,NaN,138.6361,NaN,137.3886,109.1000,138.1,NaN,140.8235,118.8099,...,NaN,NaN,NaN,NaN,NaN,206.9242,NaN,NaN,NaN,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'SLRTCR03' # Passenger Car Registration
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Passenger Car Registration')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.SLRTCR03.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage:  62.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'Switzerland',
       'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland',
       'New Zealand', 'Portugal', 'Eurozone', 'India', 'Korea', 'South Africa',
       'Turkiye', 'Poland', 'Greece', 'Hungary', 'Czechia'],
      dtype='object')

No data:
Index(['France', 'Austria', 'China', 'Brazil', 'Saudi Arabia', 'Mexico',
       'Indonesia', 'Chile', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
Israel 2004-01
India 2001-05
Poland 2003-01
Hungary 2003-01
Czechia 2003-01

Missing last:
Japan 2018-12
Switzerland 2018-12
Australia 2017-12
Netherlands 2018-12
Sweden 2018-12
Italy 2018-12
Finland 2018-12
New Zealand 2021-04
Portugal 2018-12
Eurozone 2018-12
India 2022-03
Korea 2020-01
Poland 2018-12
Greece 2018-12
Hungary 2019-12
Czechia 2018-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,107.1000,112.1293,85.0050,104.7186,NaN,98.6268,122.0981,107.6567,169.5339,73.7396,...,NaN,22.5595,NaN,NaN,393.4795,NaN,NaN,NaN,NaN,NaN
1999-02,113.1703,112.6388,58.2981,111.0695,NaN,86.7584,112.8924,104.6670,143.5993,73.3293,...,NaN,21.0998,NaN,NaN,296.7068,NaN,NaN,NaN,NaN,NaN
1999-03,111.5099,111.8324,106.0206,107.0831,NaN,109.0537,119.4261,113.2890,142.2885,75.6932,...,NaN,29.5106,NaN,NaN,333.7000,NaN,NaN,NaN,NaN,NaN
1999-04,112.9445,106.2190,95.6814,110.2510,NaN,87.1873,124.5039,113.3380,147.3024,65.4513,...,NaN,44.2336,NaN,NaN,321.4259,NaN,NaN,NaN,NaN,NaN
1999-05,116.3847,109.0316,90.2812,107.2179,NaN,89.0806,118.2200,109.4604,135.5043,70.3815,...,NaN,37.3353,NaN,NaN,333.5663,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,40.3008,NaN,65.6574,28.9678,NaN,NaN,NaN,NaN,NaN,75.6354,...,NaN,162.0831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06,40.9302,NaN,70.5006,33.6760,NaN,NaN,NaN,NaN,NaN,83.0337,...,NaN,139.1343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07,NaN,NaN,76.1129,29.6977,NaN,NaN,NaN,NaN,NaN,81.3575,...,NaN,126.0720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08,NaN,NaN,77.1411,NaN,NaN,NaN,NaN,NaN,NaN,74.5372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'ODCNPI03' # Permits issued - Residential Buildings
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Permits issued - Residential Buildings')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ODCNPI03.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage:  54.7 %

Available countries:
Index(['Canada', 'France', 'Germany', 'Australia', 'Netherlands', 'Sweden',
       'Spain', 'Finland', 'Belgium', 'Norway', 'Israel', 'New Zealand',
       'Portugal', 'Eurozone', 'Korea', 'South Africa', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Colombia'],
      dtype='object')

No data:
Index(['United States', 'Japan', 'United Kingdom', 'Switzerland', 'Denmark',
       'Italy', 'Ireland', 'Austria', 'China', 'India', 'Brazil',
       'Saudi Arabia', 'Mexico', 'Indonesia', 'Czechia', 'Argentina',
       'Russia'],
      dtype='object')

Missing first:
Poland 2000-01

Missing last:
Netherlands 2018-12
Korea 2018-12
Turkiye 2018-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,NaN,NaN,NaN,31.9401,136.9686,NaN,179.8150,64.2354,59.1031,NaN,...,NaN,71.5542,NaN,29.8145,1376.2,171.6857,NaN,23.9943,NaN,NaN
1999-02,NaN,NaN,NaN,35.2742,91.9780,NaN,161.4135,66.2941,46.8075,NaN,...,NaN,97.2070,NaN,31.3052,1300.9,175.3854,NaN,33.4067,NaN,NaN
1999-03,NaN,NaN,NaN,34.7650,81.1964,NaN,176.0147,64.4271,52.5895,NaN,...,NaN,49.6838,NaN,36.7654,1457.2,201.7832,NaN,29.7125,NaN,NaN
1999-04,NaN,NaN,NaN,37.3204,85.7212,NaN,176.2147,63.2817,61.5801,NaN,...,NaN,141.5955,NaN,23.1814,1309.2,225.4812,NaN,30.0431,NaN,NaN
1999-05,NaN,NaN,NaN,37.4368,85.8013,NaN,179.1149,61.5106,67.0556,NaN,...,NaN,68.7000,NaN,29.9610,1310.6,236.7803,NaN,17.9781,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,NaN,NaN,NaN,142.1296,103.8146,NaN,82.2069,61.4808,NaN,NaN,...,NaN,NaN,136.4205,46.1436,382.6,193.7839,NaN,61.3833,NaN,NaN
2023-05,NaN,NaN,NaN,159.9227,84.7174,NaN,83.8070,72.2073,NaN,NaN,...,NaN,NaN,113.1733,51.7688,516.9,202.7831,NaN,85.9307,NaN,NaN
2023-06,NaN,NaN,NaN,157.8710,101.6419,NaN,73.6061,66.6738,NaN,NaN,...,NaN,NaN,117.8062,46.8346,527.0,159.8867,NaN,65.0006,NaN,NaN
2023-07,NaN,NaN,NaN,166.3815,92.4070,NaN,74.2062,65.6482,NaN,NaN,...,NaN,NaN,120.5516,79.9649,NaN,134.0888,NaN,52.4826,NaN,NaN
2023-08,NaN,NaN,NaN,NaN,92.6230,NaN,NaN,65.6986,NaN,NaN,...,NaN,NaN,125.3816,39.7437,NaN,NaN,NaN,NaN,NaN,NaN