In [1]:
import os
os.chdir(os.path.expanduser("./src/lambda_oecd_download"))
from oecd_api import get_oecd_data

In [2]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'LRHUTTTT' # Monthly Unemployment Rate - all persons, s.a.
measure = 'ST' # Level, ratio or index
freq = 'M' # Monthly
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name=f'../../Indicators/OECD_Monthly Unemployment.csv')
df.sort_index()

https://stats.oecd.org/SDMX-JSON/data/KEI/LRHUTTTT.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  53.6 %
Data coverage since 2013 (30 countries): 66.1 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Korea', 'Mexico', 'Turkiye', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia'],
      dtype='object')

No data:
Index(['Switzerland', 'New Zealand', 'Eurozone', 'China', 'India', 'Brazil',
       'Saudi Arabia', 'South Africa', 'Indonesia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
Israel 2012-01-01 00:00:00
Turkiye 2005-01-01 00:00:00
Colombia 2007-01-01 00:00:00

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.3,4.5,6.2,7.9,12.0,NaN,8.9,7.1185,4.6,5.0,...,NaN,NaN,11.5,8.3711,11.4,7.2,7.9,NaN,NaN,NaN
1999-02-01,4.4,4.6,6.2,7.9,12.0,NaN,8.8,7.1149,4.5,5.0,...,NaN,NaN,12.0,8.8076,11.4,7.2,8.2,NaN,NaN,NaN
1999-03-01,4.2,4.7,6.2,7.9,11.8,NaN,8.8,7.0125,4.4,5.0,...,NaN,NaN,12.3,9.3096,11.4,7.1,8.5,NaN,NaN,NaN
1999-04-01,4.3,4.7,6.1,8.2,11.7,NaN,8.7,6.9792,4.4,5.0,...,NaN,NaN,12.7,10.0381,12.1,7.0,8.6,NaN,NaN,NaN
1999-05-01,4.2,4.7,6.0,7.9,11.5,NaN,8.6,7.0248,4.3,5.0,...,NaN,NaN,12.9,10.6510,12.0,6.9,8.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,3.5,2.7,NaN,5.5,7.4,NaN,3.0,3.7359,3.6,5.5,...,NaN,9.3,2.8,8.6533,11.3,4.0,2.7,9.3455,NaN,NaN
2023-08-01,3.8,2.7,NaN,5.5,7.4,NaN,3.0,3.6988,3.6,4.3,...,NaN,9.1,2.8,8.6774,10.8,4.0,2.5,9.5519,NaN,NaN
2023-09-01,3.8,2.6,NaN,5.5,7.3,NaN,3.1,3.5516,3.7,4.7,...,NaN,9.0,2.8,8.8345,10.3,3.9,2.7,9.7094,NaN,NaN
2023-10-01,3.9,2.5,NaN,5.7,7.3,NaN,3.1,3.7214,3.6,5.4,...,NaN,8.5,2.8,NaN,9.6,4.1,2.9,10.1657,NaN,NaN
2023-11-01,3.7,NaN,NaN,5.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'LRHUTTTT' # Quaterly Unemployment Rate - all persons, s.a.
measure = 'ST' # Level, ratio or index
freq = 'Q' # Quaterly
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name=f'../../Indicators/OECD_Quaterly Unemployment.csv')
df.sort_index()

https://stats.oecd.org/SDMX-JSON/data/KEI/LRHUTTTT.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  58.2 %
Data coverage since 2013 (30 countries): 69.8 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Korea', 'Mexico',
       'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia',
       'Colombia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'India', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Indonesia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
Turkiye 2005-01-01 00:00:00
Colombia 2007-01-01 00:00:00

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.3000,4.6000,6.2,7.9000,11.9333,NaN,8.8333,7.0820,4.5000,5.0000,...,NaN,NaN,11.9333,8.8076,11.4000,7.1667,8.2000,NaN,NaN,NaN
1999-04-01,4.2667,4.7333,6.0,7.9000,11.5333,3.0992,8.6333,6.8858,4.3333,4.9667,...,NaN,NaN,12.9333,10.6510,12.0333,6.9333,8.6000,NaN,NaN,NaN
1999-07-01,4.2333,4.7000,5.9,7.5000,11.1333,NaN,8.4667,6.8738,4.1667,5.1667,...,NaN,NaN,13.8333,10.9712,12.0333,6.7333,8.9333,NaN,NaN,NaN
1999-10-01,4.0667,4.6333,5.8,6.9667,10.6667,NaN,8.3000,6.6334,4.0333,5.3000,...,NaN,NaN,14.8000,10.1515,12.3333,6.6667,9.1000,NaN,NaN,NaN
2000-01-01,4.0333,4.8333,5.8,6.8667,10.2333,NaN,8.1333,6.6502,3.8667,4.6667,...,NaN,NaN,15.8000,9.0063,11.5667,6.5667,9.2667,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,3.5667,2.5667,3.6,5.1333,7.2000,4.1760,3.0667,3.5158,3.7333,4.6000,...,NaN,10.0000,2.9667,7.8221,12.2000,3.6333,2.3333,10.9695,NaN,NaN
2022-10-01,3.6000,2.5333,3.7,5.1000,7.2000,4.2534,3.0333,3.4577,3.6000,4.7667,...,NaN,10.2333,2.9000,8.4019,11.7667,3.7000,2.4000,11.0022,NaN,NaN
2023-01-01,3.5000,2.6000,3.9,5.0000,7.1000,4.1342,2.9333,3.5763,3.5333,4.7667,...,NaN,9.9667,2.6667,8.7286,11.3000,3.8000,2.5000,10.6300,NaN,NaN
2023-04-01,3.5667,2.5667,4.2,5.2000,7.2667,3.9610,2.9333,3.5781,3.4667,4.7667,...,NaN,9.6333,2.7667,8.2661,11.3667,3.9000,2.6667,9.9333,NaN,NaN
2023-07-01,3.7000,2.6667,NaN,5.5000,7.3667,NaN,3.0333,3.6621,3.6333,4.8333,...,NaN,9.1333,2.8000,8.6774,10.8000,3.9667,2.6333,9.5356,NaN,NaN