In [1]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'MEI_CLI' # Composite Leading Indicators (MEI) 
subject = 'BSCICP03' # OECD Standardised Bussiness Confidence Indicator, Amplitude adjusted (Long term average=100), sa
measure = ''
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, with_measure=False, 
                   file_name='Bussiness Confidence Indicator')
df

https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/BSCICP03.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.M/all?startTime=1999-01&contentType=csv
Data coverage:  93.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'South Africa', 'Mexico', 'Indonesia',
       'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia',
       'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
China 2000-02
India 2000-05
Indonesia 2002-03
Chile 2003-11

Missing last:
Russia 2022-01

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,99.2362,96.9315,96.7107,100.0096,99.9062,99.0560,99.0714,99.8866,100.2446,96.2412,...,NaN,109.5673,97.5530,NaN,101.1007,98.8284,94.7566,90.5754,NaN,99.7165
1999-02,99.5429,97.0515,97.0072,100.1415,99.8676,99.2692,98.8934,99.7992,100.2559,96.5072,...,NaN,107.8086,97.4872,NaN,100.9420,98.6929,94.9350,90.3876,NaN,100.1547
1999-03,99.7711,97.1945,97.5476,100.2698,99.7866,99.3266,98.7918,99.9393,100.2438,96.7579,...,NaN,105.4042,97.5241,NaN,100.9923,98.4499,95.0126,90.5440,NaN,100.6824
1999-04,99.9549,97.3522,98.3638,100.4307,99.8711,99.4161,98.7625,100.1850,100.2430,96.9267,...,NaN,103.5620,97.6790,NaN,101.2363,97.8457,95.7322,91.2461,NaN,101.1785
1999-05,100.1645,97.5198,99.1322,100.6524,100.0901,99.4923,98.8079,100.3774,100.2582,97.1716,...,NaN,102.6633,97.7229,NaN,101.2704,97.4446,96.7618,92.1670,NaN,101.7199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,98.8874,100.3416,99.5048,NaN,99.8476,99.9030,100.1949,99.8145,100.5179,100.0144,...,99.0410,100.0718,98.3432,95.5086,101.7147,99.0852,98.0569,99.4632,NaN,NaN
2023-06,98.8720,100.3965,99.8060,NaN,99.7915,99.7982,99.7738,NaN,100.3411,100.3803,...,99.0546,99.6269,98.2955,95.9383,101.7594,98.9231,97.3625,99.4967,NaN,NaN
2023-07,98.9092,100.4378,100.1767,NaN,99.6696,99.6981,99.3894,NaN,100.1597,100.3844,...,NaN,99.1025,98.3462,96.4850,101.6714,98.8929,97.2111,99.6655,NaN,NaN
2023-08,99.0059,100.4672,99.9707,NaN,99.6382,99.6073,99.1513,NaN,99.9948,100.0895,...,NaN,98.4377,98.5128,96.8952,101.5206,98.8091,97.3602,99.9272,NaN,NaN
2023-09,99.1322,100.4918,99.6820,NaN,99.7833,99.5316,99.0625,NaN,99.8754,99.5535,...,NaN,97.8691,98.7035,97.1092,101.0458,98.5917,97.2581,NaN,NaN,NaN

In [3]:
indicator = 'MEI_CLI' # Composite Leading Indicators (MEI) 
subject = 'LOLITOAA' # Amplitude adjusted (CLI)
measure = ''
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, with_measure=False, 
                   file_name='Composite Leading Indicator')
df

https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/LOLITOAA.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.M/all?startTime=1999-01&contentType=csv
Data coverage:  43.6 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Germany', 'Australia', 'Spain', 'Italy', 'China', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye'],
      dtype='object')

No data:
Index(['Switzerland', 'Netherlands', 'Denmark', 'Sweden', 'Finland', 'Belgium',
       'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal',
       'Eurozone', 'Saudi Arabia', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,100.2252,98.0818,99.9257,99.0454,99.8682,NaN,99.3239,100.3409,NaN,NaN,...,93.4448,93.9214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02,100.4364,98.4832,100.4169,99.3210,99.8280,NaN,99.2959,100.4413,NaN,NaN,...,94.2846,94.9234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03,100.6263,98.8809,100.9147,99.5541,99.8623,NaN,99.3253,100.5256,NaN,NaN,...,95.1967,95.9653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04,100.7925,99.2591,101.3412,99.7298,99.9998,NaN,99.4127,100.6025,NaN,NaN,...,96.2100,96.8548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05,100.9350,99.5978,101.6694,99.8541,100.2285,NaN,99.5673,100.6697,NaN,NaN,...,97.2800,97.4931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,98.9856,100.1302,99.5356,97.5791,98.5743,NaN,99.5351,98.7629,NaN,NaN,...,97.8906,100.3755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06,99.1008,100.1705,99.7888,97.5911,98.5674,NaN,99.3643,98.6829,NaN,NaN,...,97.9479,100.2579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07,99.2184,100.2059,100.0083,97.6391,98.5758,NaN,99.1862,98.6165,NaN,NaN,...,97.9816,100.0583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08,99.3293,100.2406,100.2296,97.7112,98.5863,NaN,99.0290,98.5700,NaN,NaN,...,97.9914,99.8114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09,99.4321,100.2701,100.4663,97.7914,98.5848,NaN,98.9051,98.5393,NaN,NaN,...,97.9809,99.5494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'PRINTO01' # Industrial production
measure = 'GY' # Growth on the same period of the prevoius year
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name='Industrial Production')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/PRINTO01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GY.M/all?startTime=1999-01&contentType=csv
Data coverage:  77.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'India', 'Korea', 'Brazil', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Argentina'],
      dtype='object')

Missing first:
Switzerland 2011-10

Missing last:
Russia 2021-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,3.6382,-6.2062,2.1445,5.4556,1.4157,NaN,0.4005,NaN,1.0858,1.8066,...,NaN,-5.9908,-4.1235,-5.3578,5.3072,13.4454,-8.7027,-14.4379,NaN,-2.2439
1999-02,4.0588,-3.6999,0.7839,4.0738,0.4129,NaN,-1.2048,NaN,3.1938,0.8584,...,NaN,-5.5172,-5.1703,-4.8663,2.6222,5.5480,-7.6562,-17.8520,NaN,-9.3602
1999-03,4.2431,-0.3151,1.3393,2.6733,1.5421,NaN,-1.8494,NaN,3.8377,1.0526,...,NaN,-4.9774,1.8323,-3.4553,-5.5786,8.5020,-9.6097,-22.5638,NaN,-5.8613
1999-04,4.1228,-1.7895,1.2304,3.7553,1.0311,NaN,-0.2667,NaN,0.8677,0.3337,...,NaN,-4.3880,-0.0370,-5.3748,-2.1619,8.0107,-7.0478,-19.8936,NaN,-5.7712
1999-05,4.0753,0.5302,3.6364,4.3957,0.1746,NaN,-0.1326,NaN,-0.2148,3.5437,...,NaN,-3.3860,3.2203,-3.4312,3.5668,4.4271,-1.8452,-20.1074,NaN,-1.1373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,0.3231,0.1905,-1.3133,0.6552,1.5150,NaN,2.5316,NaN,-11.6954,10.1629,...,NaN,-0.8898,-3.4054,-1.0212,4.5061,-5.6937,1.6874,-4.7580,NaN,NaN
2023-05,0.0092,2.3000,-2.0619,0.6172,2.2382,NaN,1.6684,NaN,-8.8208,6.4955,...,NaN,0.4104,-2.3163,-5.3892,1.6849,-4.3131,0.6124,-3.4318,NaN,NaN
2023-06,-0.3107,-0.1896,0.7576,-0.0585,-0.2629,NaN,0.0000,NaN,-6.3089,11.4840,...,NaN,0.2023,-0.9352,-2.2156,-3.6408,-5.8591,0.3442,-4.8481,NaN,NaN
2023-07,-0.0396,-2.2642,0.4753,-0.2251,2.6745,NaN,-1.3528,NaN,-6.4546,4.2178,...,NaN,6.9314,-1.9333,-1.9822,-2.1687,-2.6274,-2.3216,-6.5805,NaN,NaN
2023-08,0.2462,-3.4419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1.9205,0.3016,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PRMNTO01' # Total manufacturing
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Total manufacturing')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PRMNTO01.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage:  85.5 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'India', 'Korea', 'Brazil', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
Switzerland 2010-10

Missing last:
Russia 2021-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,90.6157,99.8811,77.4878,101.7687,104.4091,NaN,76.3099,NaN,81.5882,89.0118,...,40.5694,37.7517,35.7789,64.9564,136.3168,42.8420,50.7145,72.9814,NaN,47.4824
1999-02,91.4002,99.8811,76.1079,101.8850,103.0191,NaN,74.8057,NaN,79.3047,87.3393,...,50.1690,40.0967,35.8114,65.5043,134.6669,41.0317,50.6539,71.1221,NaN,44.8324
1999-03,91.4026,101.5958,76.8510,101.5594,103.4291,NaN,75.2068,NaN,81.8516,89.1976,...,57.0022,38.5475,38.3142,65.4071,134.3778,42.7322,50.5904,66.7407,NaN,45.2243
1999-04,91.7182,99.6668,76.5325,102.5394,104.5091,NaN,75.7082,NaN,80.0073,83.8086,...,55.8834,41.8816,37.7877,65.1525,134.3540,43.5002,53.3788,69.6242,NaN,44.9443
1999-05,92.4465,101.3815,77.5940,101.9928,105.1191,NaN,76.3099,NaN,80.6221,86.8748,...,56.5898,40.5879,39.1526,65.5299,138.0050,43.0065,53.4623,67.9940,NaN,44.6520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,99.6693,96.6353,113.0473,103.3751,100.1792,NaN,97.0669,NaN,111.0815,157.8000,...,NaN,148.7000,150.8874,99.6610,123.9038,119.5383,118.4901,122.0591,NaN,NaN
2023-05,99.4356,92.0077,112.8350,105.6429,101.4092,NaN,97.2675,NaN,112.1813,156.1000,...,NaN,150.5000,150.8874,99.8760,127.0988,122.7501,121.0899,122.7721,NaN,NaN
2023-06,99.0163,96.3631,115.4887,105.2834,100.3192,NaN,96.3650,NaN,113.1811,165.7000,...,NaN,153.5000,152.3873,99.2764,124.8024,122.2482,122.4898,121.3462,NaN,NaN
2023-07,99.3668,94.0947,114.6395,103.6289,101.0592,NaN,94.5600,NaN,112.4813,149.2000,...,NaN,151.4000,150.5875,98.1579,125.1019,124.0549,117.8902,119.9521,NaN,NaN
2023-08,99.5013,93.9132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,151.5874,101.2809,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PRINTO01' # Total industry excluding construction
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Total industry excluding construction')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PRINTO01.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage:  77.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'India', 'Korea', 'Brazil', 'Mexico', 'Turkiye',
       'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia',
       'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'Saudi Arabia', 'South Africa',
       'Indonesia', 'Argentina'],
      dtype='object')

Missing first:
Japan 2023-05
Switzerland 2010-10

Missing last:
Mexico 2018-02
Russia 2021-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,86.4662,NaN,96.0382,88.6059,102.4391,NaN,75.2063,NaN,87.6438,104.2859,...,NaN,40.7966,41.2715,64.9648,139.1954,47.5216,58.2845,72.9814,NaN,52.5522
1999-02,86.9607,NaN,95.5076,88.5219,102.1291,NaN,73.8062,NaN,88.2087,102.3265,...,NaN,41.0966,41.3667,65.5128,137.6054,45.7615,58.9155,71.1221,NaN,50.9936
1999-03,87.1527,NaN,96.3566,88.1909,102.0591,NaN,74.3062,NaN,89.1501,104.5036,...,NaN,41.9965,43.2552,65.4156,135.6712,47.1696,57.8420,66.7407,NaN,52.2202
1999-04,87.3460,NaN,96.0382,88.7295,102.8791,NaN,74.8062,NaN,87.5497,98.1899,...,NaN,41.3966,43.1906,65.1610,135.5289,47.4629,59.3387,69.6242,NaN,51.6060
1999-05,87.8814,NaN,96.7810,88.5641,103.2791,NaN,75.3063,NaN,87.4556,101.7822,...,NaN,42.7964,44.8868,65.5384,139.1355,47.0523,61.4767,67.9940,NaN,51.7759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,102.2271,NaN,111.6378,109.8663,98.4992,NaN,97.2081,NaN,97.3919,142.0000,...,NaN,144.7879,147.5000,98.0130,120.4795,117.6098,114.4809,122.0591,NaN,NaN
2023-05,101.8890,93.2096,110.8949,109.4746,99.5792,NaN,97.5081,NaN,98.1918,141.0000,...,NaN,146.7878,147.6000,95.2071,120.5794,119.8100,114.9808,122.7721,NaN,NaN
2023-06,101.4736,95.9431,112.9112,109.3071,98.6392,NaN,96.5080,NaN,99.4917,149.5000,...,NaN,148.5876,148.3000,97.9350,118.9810,118.9099,116.5806,121.3462,NaN,NaN
2023-07,102.1920,94.3941,112.1684,109.6894,99.4292,NaN,94.8079,NaN,99.9917,135.9000,...,NaN,148.0877,147.1000,96.5894,121.6783,122.3102,113.5811,119.9521,NaN,NaN
2023-08,102.5851,94.5763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,148.1000,97.4070,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PRCNTO01' # Total construction
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Total construction')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PRCNTO01.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage:  57.3 %

Available countries:
Index(['United States', 'United Kingdom', 'Canada', 'France', 'Germany',
       'Netherlands', 'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium',
       'Austria', 'Portugal', 'Eurozone', 'China', 'Korea', 'Brazil',
       'South Africa', 'Mexico', 'Poland', 'Chile', 'Hungary', 'Czechia'],
      dtype='object')

No data:
Index(['Japan', 'Switzerland', 'Australia', 'Denmark', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'India', 'Saudi Arabia', 'Indonesia',
       'Turkiye', 'Greece', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
United Kingdom 2010-01
Netherlands 2000-01
Belgium 2000-01
Portugal 2000-01
Korea 2000-01

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,66.0514,NaN,NaN,55.0933,102.44,NaN,105.6695,NaN,NaN,NaN,...,NaN,NaN,75.8437,48.6335,NaN,74.3160,71.1823,NaN,NaN,NaN
1999-02,67.6812,NaN,NaN,55.2141,92.21,NaN,93.7364,NaN,NaN,NaN,...,NaN,NaN,74.8522,49.4655,NaN,73.8276,69.7826,NaN,NaN,NaN
1999-03,68.6986,NaN,NaN,54.4736,98.38,NaN,105.0934,NaN,NaN,NaN,...,NaN,NaN,74.9142,51.1016,NaN,76.0584,69.8038,NaN,NaN,NaN
1999-04,67.9123,NaN,NaN,55.5228,99.70,NaN,102.6245,NaN,NaN,NaN,...,NaN,NaN,77.0210,41.1484,NaN,77.3916,73.4276,NaN,NaN,NaN
1999-05,67.7791,NaN,NaN,56.0506,99.37,NaN,102.7068,NaN,NaN,NaN,...,NaN,NaN,77.5167,43.5075,NaN,78.2232,70.8491,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,170.7894,NaN,117.9608,106.5056,105.18,NaN,135.5113,NaN,142.7119,NaN,...,NaN,NaN,132.8111,43.2516,NaN,147.5000,105.6824,NaN,NaN,NaN
2023-05,174.2713,NaN,117.5101,105.3766,105.86,NaN,136.5114,NaN,147.6123,NaN,...,NaN,NaN,131.1109,56.5713,NaN,149.2000,106.7822,NaN,NaN,NaN
2023-06,175.1211,NaN,119.4254,104.6679,103.10,NaN,131.9110,NaN,146.4122,NaN,...,NaN,NaN,130.3109,50.0714,NaN,147.4000,109.4818,NaN,NaN,NaN
2023-07,176.6848,NaN,118.8621,104.6425,103.74,NaN,134.3112,NaN,147.1123,NaN,...,NaN,NaN,130.3109,77.2725,NaN,159.8000,105.3824,NaN,NaN,NaN
2023-08,177.5600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,133.0111,44.9400,NaN,NaN,NaN,NaN,NaN,NaN