In [2]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'CPALTT01' # Consumer Prices - Annual inflation
measure = 'GY' # Growth on the same period of the previous year
freq = 'M' # Monthly
df = get_oecd_data(indicator, subject, measure, freq, 
                   'Inflation Rate')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/CPALTT01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GY.M/all?startTime=1999-01&contentType=csv
Data coverage:  89.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'China', 'India', 'Korea', 'Brazil', 'Saudi Arabia',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile',
       'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'Eurozone'], dtype='object')

Missing first:
Argentina 2017-12

Missing last:
Japan 2021-06
Russia 2022-03

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,1.6708,0.2,2.0,0.6601,0.2443,0.0729,0.2389,NaN,2.1779,1.7040,...,70.6425,65.9017,6.9,3.5949,3.6965,9.7531,3.5874,17.1793,NaN,96.9186
1999-02,1.6059,-0.1,1.9,0.6593,0.1793,0.2880,0.1192,NaN,2.1094,2.0359,...,53.4074,63.9271,5.6,3.8041,3.6893,9.3949,2.9718,15.3797,NaN,103.2425
1999-03,1.7263,-0.4,2.1,0.9879,0.3453,0.4670,0.2387,NaN,2.1478,2.3222,...,45.4167,63.5374,6.2,4.0523,3.3996,9.2749,2.6667,13.4950,NaN,107.5844
1999-04,2.2769,-0.1,2.0,1.6484,0.4211,0.5938,0.5959,NaN,2.1146,2.3649,...,37.9676,63.8550,6.3,4.0334,2.8060,9.3932,2.5111,11.1604,NaN,113.0646
1999-05,2.0885,-0.4,1.7,1.5334,0.4083,0.5758,0.4762,NaN,2.2420,2.0653,...,30.7363,62.9667,6.4,3.9669,2.3726,8.8637,2.5111,9.9980,NaN,116.7111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,4.0476,NaN,7.9,3.3575,5.1199,2.1587,6.1020,NaN,6.0563,2.9281,...,4.0042,39.5853,13.0,8.7268,2.7815,21.5000,11.0609,12.3603,114.2463,NaN
2023-06,2.9692,NaN,7.3,2.8123,4.5313,1.7109,6.3752,NaN,5.6951,2.4648,...,3.5210,38.2135,11.5,7.5604,1.7605,20.1000,9.7037,12.1296,115.5803,NaN
2023-07,3.1778,NaN,6.4,3.2658,4.2881,1.6051,6.1650,NaN,4.5735,3.1332,...,3.0782,47.8317,10.8,6.4755,2.4708,17.6000,8.7719,11.7849,113.4500,NaN
2023-08,3.6651,NaN,6.3,3.9974,4.8598,1.5543,6.1427,NaN,3.0254,2.4369,...,3.2728,58.9435,10.1,5.3155,2.7441,16.4000,8.5153,11.4273,124.3675,NaN
2023-09,NaN,NaN,NaN,NaN,NaN,1.6547,NaN,NaN,NaN,NaN,...,2.2783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'CPALTT01' # Consumer Prices - Annual inflation
measure = 'GY' # Growth on the same period of the previous year
freq = 'Q' # Quaterly
df = get_oecd_data(indicator, subject, measure, freq, 
                   'Inflation Rate Q')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/CPALTT01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GY.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  94.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Argentina 2018-Q1

Missing last:
Japan 2021-Q2
Russia 2022-Q1

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,1.6677,-0.1021,2.0,0.7692,0.2564,0.2760,0.1989,1.1940,2.1450,2.0213,...,55.7490,64.4218,6.2333,3.8173,3.5937,9.4719,3.0739,15.3158,NaN,102.6092
1999-Q2,2.1094,-0.2708,1.8,1.6076,0.3827,0.5812,0.5159,1.0386,2.2119,2.2775,...,30.8624,63.7000,6.4000,3.9190,2.4208,9.1137,2.3599,10.0278,NaN,116.8237
1999-Q3,2.3460,0.0000,1.6,2.1898,0.5200,0.9663,0.6730,1.7778,2.2082,2.6408,...,6.6396,64.8775,7.1667,3.1888,2.0296,10.5965,1.2042,9.1299,NaN,98.2201
1999-Q4,2.6225,-1.0111,1.5,2.3679,0.9895,1.4029,0.9531,1.9174,2.0642,3.0438,...,1.6995,66.0618,9.2333,2.4515,2.5291,10.7763,1.9342,9.4013,NaN,47.4685
2000-Q1,3.2402,-0.6131,1.1,2.6536,1.4618,1.5640,1.5482,2.8024,1.8845,3.1329,...,-0.5939,68.8272,10.2667,3.1955,2.8962,9.8582,3.5113,8.9694,NaN,25.4380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q3,8.3295,NaN,8.7,7.1529,5.8484,3.3793,7.4026,7.2682,12.2630,9.2114,...,5.1933,81.1027,16.3000,13.6468,11.6756,16.4737,17.5783,10.8289,77.6330,NaN
2022-Q4,7.1017,NaN,9.4,6.6651,6.0668,2.9322,8.5805,7.8318,11.2506,9.2356,...,5.5450,77.3729,17.3333,12.9797,8.2725,22.7273,15.6995,12.6271,91.8164,NaN
2023-Q1,5.8048,NaN,9.0,5.1474,5.9899,3.1992,8.2368,7.0218,6.6197,7.3350,...,5.2378,54.3360,17.0333,11.7871,5.8801,25.4094,16.3809,13.2922,101.9746,NaN
2023-Q2,3.9743,NaN,7.7,3.5196,5.1754,2.1433,6.5469,6.0270,5.6411,3.5503,...,3.9502,40.4264,13.0667,8.7233,2.5218,21.8313,11.1418,12.4360,112.9992,NaN
2023-Q3,NaN,NaN,NaN,NaN,NaN,1.6047,NaN,NaN,NaN,NaN,...,2.8743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'CPALTT01' # Consumer Prices - Annual inflation
measure = 'GP' # Growth previous period
freq = 'M' # Monthly
df = get_oecd_data(indicator, subject, measure, freq, 
                   'Inflation Rate MoM')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/CPALTT01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GP.M/all?startTime=1999-01&contentType=csv
Data coverage:  89.8 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'China', 'India', 'Korea', 'Brazil', 'Saudi Arabia',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile',
       'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'Eurozone'], dtype='object')

Missing first:
Argentina 2017-01

Missing last:
Japan 2021-06
Russia 2022-03

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,0.2441,-0.5,-0.4,0.2191,-0.2814,0.2050,-0.1190,NaN,0.0554,-0.0956,...,2.9622,4.8028,1.5,-0.3328,-1.0097,2.5137,0.7267,2.2231,NaN,8.38
1999-02,0.1217,-0.4,0.2,0.1093,0.3078,0.3380,0.1192,NaN,0.4983,0.7659,...,1.2744,3.1731,0.6,0.0720,-0.4827,1.3274,0.0000,1.6873,NaN,4.13
1999-03,0.3040,0.1,0.5,0.4367,0.3324,0.1046,0.0000,NaN,0.8676,0.4751,...,-0.1907,4.0541,1.0,0.6357,2.2150,1.1827,0.0000,0.9403,NaN,2.79
1999-04,0.7273,0.5,0.5,0.5435,0.2804,0.1668,0.4762,NaN,0.2185,0.2837,...,-0.6686,4.8672,0.8,0.3759,1.0403,1.1509,0.1443,0.7854,NaN,3.03
1999-05,0.0000,0.0,0.2,0.2162,0.0127,-0.2243,0.0000,NaN,0.0272,0.1886,...,-0.2885,2.9408,0.7,0.1182,-0.0520,0.6578,0.0000,0.4893,NaN,2.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,0.2518,NaN,0.6,0.3836,-0.0511,0.2510,-0.0858,NaN,0.1984,-1.3605,...,0.0872,0.0431,0.0,0.1138,0.4031,-0.4000,0.2717,0.4312,7.7728,NaN
2023-06,0.3229,NaN,0.2,0.1274,0.1788,0.0636,0.2575,NaN,-0.3406,0.3448,...,0.1393,3.9205,0.0,-0.1516,0.6186,0.3000,0.3388,0.3009,5.9508,NaN
2023-07,0.1908,NaN,-0.3,0.5725,0.0510,-0.1418,0.2568,NaN,1.0331,1.8041,...,0.2087,9.4888,-0.2,0.3492,-1.1451,0.3000,0.4727,0.5017,6.3449,NaN
2023-08,0.4367,NaN,0.4,0.3795,1.0025,0.2135,0.3416,NaN,0.4484,-0.6751,...,-0.0174,9.0868,0.0,0.1135,-0.0318,0.7000,0.2016,0.6986,12.4416,NaN
2023-09,NaN,NaN,NaN,NaN,NaN,-0.0770,NaN,NaN,NaN,NaN,...,0.1909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
indicator = 'MEI' # Main Economic Indicators
subject = 'CPALTT01' # Customer Price Index - All Items Total
measure = 'IXOB' # Index 2015 = 100
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Customer Price Index')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.CPALTT01.IXOB.M/all?startTime=1999-01&contentType=csv
Data coverage:  89.1 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'China', 'India', 'Korea', 'Brazil', 'Saudi Arabia',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile',
       'Greece', 'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'Eurozone', 'Argentina'], dtype='object')

Missing first:

Missing last:
Japan 2021-06
Russia 2022-03

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,69.3199,99.8727,71.8,72.2939,77.97,91.3508,78.2720,NaN,72.25,72.6511,...,32.3600,7.2400,61.7514,59.1056,68.1409,45.1245,69.3,43.5144,NaN,14.5990
1999-02,69.4043,99.4655,71.9,72.3729,78.21,91.6595,78.3653,NaN,72.61,73.2075,...,32.7724,7.4698,62.1031,59.1481,67.8120,45.7235,69.3,44.2487,NaN,15.2020
1999-03,69.6153,99.5673,72.3,72.6890,78.47,91.7553,78.3653,NaN,73.24,73.5553,...,32.7099,7.7726,62.7361,59.5241,69.3140,46.2643,69.3,44.6647,NaN,15.6261
1999-04,70.1216,100.0764,72.6,73.0840,78.69,91.9084,78.7385,NaN,73.40,73.7640,...,32.4912,8.1509,63.2284,59.7478,70.0350,46.7967,69.4,45.0155,NaN,16.0996
1999-05,70.1216,100.0764,72.8,73.2420,78.70,91.7022,78.7385,NaN,73.42,73.9031,...,32.3975,8.3906,63.6504,59.8184,69.9986,47.1045,69.4,45.2358,NaN,16.4570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05,128.3144,NaN,129.1,124.0453,117.44,106.5078,122.8241,NaN,126.26,116.0000,...,127.4884,499.1078,147.0085,143.7555,114.8052,158.5492,147.6,155.8874,NaN,NaN
2023-06,128.7287,NaN,129.4,124.2033,117.65,106.5755,123.1404,NaN,125.83,116.4000,...,127.6660,518.6753,147.0085,143.5376,115.5154,158.9933,148.1,156.3564,NaN,NaN
2023-07,128.9743,NaN,129.0,124.9144,117.71,106.4244,123.4566,NaN,127.13,118.5000,...,127.9325,567.8915,146.6829,144.0388,114.1926,159.4375,148.8,157.1409,NaN,NaN
2023-08,129.5375,NaN,129.4,125.3885,118.89,106.6516,123.8784,NaN,127.70,117.7000,...,127.9103,619.4946,146.6829,144.2022,114.1563,160.5477,149.1,158.2387,NaN,NaN
2023-09,NaN,NaN,NaN,NaN,NaN,106.5695,NaN,NaN,NaN,NaN,...,128.1545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PIEAFD01' # PPI Manufacture of food products
measure = 'IXOB' # Index 2015 = 100
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='PPI Manufacture of food products')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PIEAFD01.IXOB.M/all?startTime=1999-01&contentType=csv
Data coverage:  47.2 %

Available countries:
Index(['United States', 'United Kingdom', 'Canada', 'France', 'Switzerland',
       'Germany', 'Netherlands', 'Denmark', 'Italy', 'Finland', 'Belgium',
       'Norway', 'Ireland', 'Austria', 'Eurozone', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia'],
      dtype='object')

No data:
Index(['Japan', 'Australia', 'Sweden', 'Spain', 'Israel', 'New Zealand',
       'Portugal', 'China', 'India', 'Korea', 'Brazil', 'Saudi Arabia',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Colombia',
       'Argentina', 'Russia'],
      dtype='object')

Missing first:
United Kingdom 2008-12
Switzerland 2002-06
Italy 2000-01
Belgium 2001-01
Austria 2000-01
Eurozone 2000-01
Poland 2000-01
Chile 2009-01

Missing last:
United States 2022-12
United Kingdom 2022-12
Canada 2022-12
France 2022-12
Switzerland 2022-12
Germany 2022-12
Netherlands 2022-12
Denmark 2019-04
Italy 2022-12
Finland 2022-12
Belgium 2019-03
Ireland 2022-12
Austria 2022-12
Eurozone 2022-12
Poland 2022-12
Chile 2022-12
Greece 2022-12
Hungary 2022-12
Czechia 2022-11

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,62.8054,NaN,NaN,71.6858,80.0,NaN,77.2316,NaN,68.7234,84.2988,...,NaN,NaN,NaN,NaN,67.1366,46.6373,79.8796,NaN,NaN,NaN
1999-02,62.4085,NaN,NaN,71.6858,80.0,NaN,76.9288,NaN,68.4531,83.4963,...,NaN,NaN,NaN,NaN,67.4128,46.7439,79.6299,NaN,NaN,NaN
1999-03,62.3093,NaN,NaN,71.3696,79.9,NaN,76.8512,NaN,68.5252,83.1428,...,NaN,NaN,NaN,NaN,67.7643,46.8505,79.3892,NaN,NaN,NaN
1999-04,61.6644,NaN,NaN,71.4750,79.7,NaN,76.6959,NaN,67.5882,83.5823,...,NaN,NaN,NaN,NaN,68.2498,46.6906,78.8898,NaN,NaN,NaN
1999-05,62.1605,NaN,NaN,71.6858,79.8,NaN,76.5406,NaN,67.5882,83.6682,...,NaN,NaN,NaN,NaN,68.2498,46.4241,78.7293,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09,126.9126,NaN,127.9,131.4592,125.6,105.5398,134.6000,NaN,139.0000,NaN,...,NaN,NaN,143.9,162.4825,112.8000,160.5774,131.0000,NaN,NaN,NaN
2022-10,126.1669,NaN,129.1,132.1971,127.0,105.5848,136.1000,NaN,140.5000,NaN,...,NaN,NaN,145.6,163.9822,114.7000,167.5806,133.5000,NaN,NaN,NaN
2022-11,127.2003,NaN,129.9,132.3026,127.8,105.5999,136.5000,NaN,140.6000,NaN,...,NaN,NaN,146.3,163.0016,115.5000,169.7106,135.4000,NaN,NaN,NaN
2022-12,126.1868,NaN,130.7,131.6700,127.9,106.2940,136.6000,NaN,140.7000,NaN,...,NaN,NaN,146.2,163.3381,116.0000,171.8323,NaN,NaN,NaN,NaN
2023-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PIEAMP01' # PPI Manufacturing
measure = 'IXOB' # Index 2015 = 100
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='PPI Manufacturing')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PIEAMP01.IXOB.M/all?startTime=1999-01&contentType=csv
Data coverage:  61.1 %

Available countries:
Index(['United States', 'United Kingdom', 'Canada', 'France', 'Switzerland',
       'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Italy',
       'Finland', 'Belgium', 'Norway', 'Ireland', 'Austria', 'Portugal',
       'Eurozone', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia'],
      dtype='object')

No data:
Index(['Japan', 'Australia', 'Israel', 'New Zealand', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
United Kingdom 2008-12
Switzerland 2002-06
Spain 2000-01
Italy 2000-01
Belgium 2001-01
Austria 2000-01
Eurozone 2000-01
Chile 2003-04

Missing last:
United States 2022-12
United Kingdom 2022-12
Canada 2022-12
France 2022-12
Switzerland 2022-12
Germany 2022-12
Netherlands 2022-12
Denmark 2022-12
Spain 2022-12
Italy 2022-12
Finland 2022-12
Belgium 2022-12
Ireland 2022-12
Austria 2022-12
Portugal 2022-12
Eurozone 2022-12
Turkiye 2022-12
Poland 2022-12
Chile 2022-12
Greece 2022-12
Hungary 2022-12
Czechia 2022-11
Colombia 2022-12

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,68.0140,NaN,NaN,76.9272,79.5,NaN,82.8707,NaN,66.0137,71.2601,...,NaN,6.7958,75.2595,NaN,65.3046,62.4846,85.2870,NaN,NaN,NaN
1999-02,67.8523,NaN,NaN,76.5004,79.5,NaN,82.7845,NaN,65.7417,71.1857,...,NaN,6.9988,75.6859,NaN,65.3046,62.5564,85.6615,NaN,NaN,NaN
1999-03,68.0679,NaN,NaN,77.3540,79.7,NaN,82.8707,NaN,66.4120,71.1857,...,NaN,7.2694,76.1028,NaN,65.7365,62.9151,86.0266,NaN,NaN,NaN
1999-04,68.6607,NaN,NaN,77.3540,80.0,NaN,83.1982,NaN,66.8104,71.5668,...,NaN,7.6237,76.5198,NaN,66.6173,62.2694,86.3075,NaN,NaN,NaN
1999-05,68.8224,NaN,NaN,77.4607,80.1,NaN,83.1120,NaN,67.0144,71.7899,...,NaN,7.9738,76.8515,NaN,66.6850,62.6281,86.4011,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10,136.8898,NaN,140.0,137.9568,127.6,103.2116,126.4000,NaN,146.7000,119.0000,...,NaN,717.1010,139.8000,162.7361,145.1000,155.6634,121.9000,157.5920,NaN,NaN
2022-11,136.2722,NaN,139.4,137.2099,126.7,102.7205,125.8000,NaN,143.4000,118.4000,...,NaN,731.5426,138.3000,158.7487,139.8000,153.8074,120.8000,160.3162,NaN,NaN
2022-12,131.7499,NaN,137.8,135.7162,125.5,102.5178,125.2000,NaN,140.0000,117.4000,...,NaN,748.2840,137.6000,158.6917,131.4000,152.7612,NaN,159.3115,NaN,NaN
2023-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN