In [1]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'IRSTCI01' # Overnight Interbank Rate
measure = 'ST' # Level, ratio or index
freq = 'M' # Monthly
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name='Overnight Interbank Rate')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/IRSTCI01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  73.7 %
Data coverage since 2013 (30 countries): 88.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'South Africa', 'Mexico', 'Indonesia',
       'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia',
       'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Saudi Arabia', 'Argentina'], dtype='object')

Missing first:

Missing last:
Sweden 2020-10-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.63,0.2253,5.9922,4.9914,3.1370,0.8438,3.1370,4.75,3.1370,3.7699,...,36.43,78.88,15.50,12.94,11.4251,17.9000,9.09,26.98,NaN,60.0
1999-02-01,4.76,0.1763,5.7693,4.9957,3.1180,1.0804,3.1180,4.75,3.1180,3.5736,...,37.50,77.38,15.50,6.25,10.1807,14.8000,8.00,23.05,NaN,60.0
1999-03-01,4.81,0.0409,5.5665,4.9943,2.9252,1.0071,2.9252,4.75,2.9252,3.4139,...,37.84,76.32,15.50,6.84,10.1474,15.6000,7.70,22.14,NaN,60.0
1999-04-01,4.74,0.0314,5.3295,4.7771,2.7091,0.8036,2.7091,4.75,2.7091,3.0343,...,35.19,76.96,15.50,12.81,10.1514,15.3000,7.27,20.72,NaN,60.0
1999-05-01,4.74,0.0300,5.2689,4.5929,2.5510,0.8405,2.5510,4.75,2.5510,2.8990,...,28.73,76.96,15.50,11.77,10.4029,14.6000,6.91,18.92,NaN,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,5.12,-0.0460,4.9302,4.9039,3.4033,1.2000,3.4033,4.10,3.4033,3.2300,...,5.61,16.00,6.79,11.25,3.4033,15.4338,7.00,13.26,NaN,8.5
2023-08-01,5.33,-0.0640,5.1609,4.9942,3.6104,1.2000,3.6104,4.10,3.6104,3.4700,...,5.62,23.50,6.66,10.25,3.6104,14.4524,7.00,13.27,NaN,12.0
2023-09-01,5.33,-0.0540,5.1854,4.9918,3.7125,1.2000,3.7125,4.10,3.7125,3.5900,...,5.60,NaN,5.95,9.55,3.7125,13.4011,7.00,13.25,NaN,13.0
2023-10-01,5.33,-0.0200,5.1871,5.0018,3.9011,1.2000,3.9011,4.10,3.9011,3.7200,...,5.68,NaN,5.69,9.44,3.9011,12.4273,7.00,13.27,NaN,15.0
2023-11-01,5.33,-0.0150,5.1875,5.0100,3.9027,1.6300,3.9027,4.29,3.9027,3.7200,...,5.86,NaN,5.63,9.00,3.9027,11.7492,7.00,13.26,NaN,NaN

In [3]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'IR3TIB01' # Short term interest rate
measure = 'ST' # Level, ratio or index
freq = 'M' # Monthly
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name='Short term interest rate')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/IR3TIB01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  68.4 %
Data coverage since 2013 (30 countries): 82.6 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye',
       'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia',
       'Russia'],
      dtype='object')

No data:
Index(['Brazil', 'Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
Japan 2002-04-01 00:00:00
India 2011-12-01 00:00:00

Missing last:
Turkiye 2008-04-01 00:00:00
Russia 2022-02-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.89,NaN,5.9217,5.0045,3.1321,NaN,3.1321,4.79,3.1321,3.8875,...,45.50,NaN,12.60,12.75,11.6900,15.8000,8.49,33.23,NaN,43.9
1999-02-01,4.90,NaN,5.5320,5.0335,3.0934,NaN,3.0934,4.77,3.0934,3.6150,...,38.20,NaN,12.68,10.04,10.6642,15.3000,8.18,30.25,NaN,23.3
1999-03-01,4.91,NaN,5.4229,5.0574,3.0467,NaN,3.0467,4.81,3.0467,3.4590,...,34.85,NaN,12.84,11.09,10.0505,15.3000,7.58,25.32,NaN,21.6
1999-04-01,4.88,NaN,5.3177,4.7167,2.6965,NaN,2.6965,4.76,2.6965,3.1598,...,34.09,NaN,12.95,13.59,10.0845,15.4000,7.09,22.08,NaN,20.6
1999-05-01,4.92,NaN,5.3488,4.6155,2.5790,NaN,2.5790,4.86,2.5790,3.1085,...,31.20,NaN,13.04,11.71,9.9450,14.9000,6.96,19.01,NaN,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,5.35,-0.003,5.4900,5.2193,3.6718,1.72,3.6718,4.30,3.6718,3.7208,...,6.75,NaN,6.76,NaN,3.6718,10.3116,7.11,13.58,NaN,NaN
2023-08-01,5.44,-0.003,5.5300,5.2275,3.7803,1.77,3.7803,4.15,3.7803,3.8014,...,6.74,NaN,6.69,NaN,3.7803,13.9097,7.10,13.71,NaN,NaN
2023-09-01,5.49,0.024,5.5200,5.2275,3.8800,1.77,3.8800,4.13,3.8800,3.9102,...,6.74,NaN,5.99,NaN,3.8800,13.4219,7.09,13.07,NaN,NaN
2023-10-01,5.46,-0.012,5.4000,5.3207,3.9700,1.77,3.9700,4.21,3.9700,3.9655,...,6.81,NaN,5.68,NaN,3.9700,8.5620,7.05,13.09,NaN,NaN
2023-11-01,5.41,NaN,5.3600,5.2359,3.9700,NaN,3.9700,4.38,3.9700,3.9527,...,6.95,NaN,5.77,NaN,3.9700,9.4447,7.06,12.76,NaN,NaN

In [4]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'IRLTLT01' # Long-term interest rate
measure = 'ST' # Level, ratio or index
freq = 'M' # Monthly
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name='Long term interest rate')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/IRLTLT01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  66.4 %
Data coverage since 2013 (30 countries): 83.6 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'South Africa', 'Mexico', 'Indonesia',
       'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia',
       'Russia'],
      dtype='object')

No data:
Index(['Saudi Arabia', 'Turkiye', 'Argentina'], dtype='object')

Missing first:
China 2014-01-01 00:00:00
India 2011-12-01 00:00:00
Korea 2000-10-01 00:00:00
Mexico 2001-07-01 00:00:00
Indonesia 2012-01-01 00:00:00
Poland 2001-01-01 00:00:00
Chile 2004-07-01 00:00:00
Czechia 2000-04-01 00:00:00
Colombia 2003-01-01 00:00:00

Missing last:
Russia 2018-06-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.72,1.910,4.2868,4.9465,3.7700,2.555,3.7020,5.1279,3.801,4.035,...,NaN,NaN,NaN,NaN,6.30,NaN,NaN,NaN,NaN,96.34
1999-02-01,5.00,2.117,4.4319,5.1240,3.9290,2.550,3.8490,5.3000,3.932,4.188,...,NaN,NaN,NaN,NaN,6.00,9.27,NaN,NaN,NaN,99.47
1999-03-01,5.23,1.816,4.6554,5.2204,4.1335,2.604,4.0378,5.5265,4.139,4.432,...,NaN,NaN,NaN,NaN,6.00,9.72,NaN,NaN,NaN,98.67
1999-04-01,5.18,1.563,4.5920,5.0295,3.9762,2.534,3.8500,5.3575,3.995,4.217,...,NaN,NaN,NaN,NaN,5.90,9.73,NaN,NaN,NaN,110.55
1999-05-01,5.54,1.334,4.9068,5.3595,4.1600,2.720,4.0121,5.8757,4.193,4.461,...,NaN,NaN,NaN,NaN,5.80,9.72,NaN,NaN,NaN,96.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,3.90,0.595,4.4372,3.4520,3.0400,0.980,2.4567,4.0300,2.840,2.695,...,6.33,NaN,5.56,5.3305,3.85,7.10,4.15,10.22,NaN,NaN
2023-08-01,4.17,0.640,4.5298,3.6541,3.1100,0.950,2.5457,4.1300,2.917,2.768,...,6.36,NaN,5.59,5.6347,3.88,7.40,4.26,10.70,NaN,NaN
2023-09-01,4.38,0.765,4.4199,3.8160,3.2400,1.090,2.6614,4.2100,3.036,2.826,...,6.91,NaN,5.68,5.9657,4.08,7.08,4.49,11.87,NaN,NaN
2023-10-01,4.80,0.950,4.5695,4.0620,3.4500,1.050,2.8232,4.6300,3.207,3.052,...,7.05,NaN,5.84,6.5262,4.30,7.53,4.72,11.81,NaN,NaN
2023-11-01,4.50,0.660,4.2721,3.7110,3.1900,0.820,2.6014,4.5800,NaN,NaN,...,NaN,NaN,5.54,5.9800,3.88,7.01,NaN,10.89,NaN,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'MANMM101' # Narrow Money - M1 and components
measure = 'ST' # National Currency
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Narrow Money M1')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.MANMM101.ST.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  49.5 %
Data coverage since 2013 (30 countries): 62.9 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'Switzerland',
       'Australia', 'Denmark', 'Sweden', 'Norway', 'Israel', 'New Zealand',
       'Eurozone', 'China', 'India', 'Korea', 'Brazil', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Hungary',
       'Czechia', 'Russia'],
      dtype='object')

No data:
Index(['France', 'Germany', 'Netherlands', 'Spain', 'Italy', 'Finland',
       'Belgium', 'Ireland', 'Austria', 'Portugal', 'Saudi Arabia', 'Greece',
       'Colombia', 'Argentina'],
      dtype='object')

Missing first:

Missing last:
New Zealand 2018-12-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,1103.9,2.503207e+06,359951.0,203.111,NaN,201287.0,NaN,115.0,NaN,381467.0,...,101.953,3.511547e+03,88635.8,2920.0700,NaN,1822.5840,475.1890,NaN,NaN,177.9
1999-02-01,1085.2,2.462410e+06,362493.0,200.414,NaN,206120.0,NaN,114.5,NaN,375890.0,...,103.458,3.516057e+03,91943.2,2945.4500,NaN,1845.4674,481.8679,NaN,NaN,180.6
1999-03-01,1097.5,2.577053e+06,374161.0,199.059,NaN,203007.0,NaN,114.0,NaN,373044.0,...,105.705,4.545328e+03,95283.3,2903.5400,NaN,1884.6005,482.1152,NaN,NaN,174.0
1999-04-01,1113.6,2.632567e+06,369023.0,203.614,NaN,209720.0,NaN,115.5,NaN,397591.0,...,100.708,3.944113e+03,93989.0,2882.3000,NaN,1881.2429,488.7941,NaN,NaN,195.1
1999-05-01,1096.4,2.670634e+06,372564.0,207.212,NaN,210485.0,NaN,115.8,NaN,404926.0,...,103.301,3.923985e+03,97092.2,2932.1500,NaN,1989.0889,499.3071,NaN,NaN,205.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,18432.5,1.071972e+07,2302821.0,1505.754,NaN,668224.0,NaN,1621.0,NaN,1530061.1,...,4682.800,4.180491e+06,1554382.8,55363.0455,NaN,30466.4270,4907.5512,NaN,NaN,NaN
2023-07-01,18336.1,1.071311e+07,2282556.0,1510.883,NaN,651692.0,NaN,1617.9,NaN,1544155.3,...,4648.200,4.392731e+06,1571613.8,54720.3053,NaN,30624.5261,4947.9000,NaN,NaN,NaN
2023-08-01,18231.6,1.072596e+07,2253224.0,1511.696,NaN,640805.0,NaN,1613.8,NaN,1551964.4,...,4609.400,4.500870e+06,1598206.5,54385.9705,NaN,30477.2576,4960.2000,NaN,NaN,NaN
2023-09-01,18141.1,1.072154e+07,2230815.0,1511.736,NaN,634932.0,NaN,1624.4,NaN,1520074.1,...,4671.000,NaN,1622552.6,55038.4902,NaN,30266.4040,4969.9000,NaN,NaN,NaN
2023-10-01,18034.3,1.072118e+07,2228413.0,NaN,NaN,630928.0,NaN,1632.3,NaN,1519588.8,...,4691.200,NaN,1621914.9,54695.1885,NaN,30522.9654,4872.1000,NaN,NaN,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'MABMM301' # Broad Money - M3 and components
measure = 'ST' # National Currency
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Broad Money M3')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.MABMM301.ST.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  49.5 %
Data coverage since 2013 (30 countries): 62.9 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'Switzerland',
       'Australia', 'Denmark', 'Sweden', 'Norway', 'Israel', 'New Zealand',
       'Eurozone', 'China', 'India', 'Korea', 'Brazil', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Hungary',
       'Czechia', 'Russia'],
      dtype='object')

No data:
Index(['France', 'Germany', 'Netherlands', 'Spain', 'Italy', 'Finland',
       'Belgium', 'Ireland', 'Austria', 'Portugal', 'Saudi Arabia', 'Greece',
       'Colombia', 'Argentina'],
      dtype='object')

Missing first:

Missing last:
Czechia 2018-12-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4409.5,9.415504e+06,817074.0,597.640,NaN,477485.0,NaN,386.1,NaN,538381.0,...,596.541,2.320021e+04,226342.7,31230.5800,NaN,4523.1799,1229.7,NaN,NaN,644.0
1999-02-01,4418.7,9.364157e+06,824741.0,595.777,NaN,483479.0,NaN,387.4,NaN,525330.0,...,602.666,2.420893e+04,233423.8,31216.2700,NaN,4592.5246,1247.4,NaN,NaN,665.8
1999-03-01,4455.6,9.431088e+06,832631.0,598.793,NaN,481796.0,NaN,388.7,NaN,518872.0,...,603.325,2.597040e+04,236748.5,31144.8200,NaN,4581.5276,1247.9,NaN,NaN,683.7
1999-04-01,4501.4,9.481738e+06,835921.0,606.502,NaN,484440.0,NaN,392.8,NaN,550505.0,...,613.140,2.735291e+04,236784.4,31502.1300,NaN,4570.7872,1261.5,NaN,NaN,726.8
1999-05-01,4464.1,9.506468e+06,844372.0,608.041,NaN,484532.0,NaN,397.9,NaN,547787.0,...,628.260,2.909660e+04,240024.5,32249.6600,NaN,4663.6148,1271.9,NaN,NaN,765.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,20767.2,1.594243e+07,3561582.0,3470.763,NaN,1133623.0,NaN,2871.7,NaN,1864208.0,...,8373.000,1.083449e+07,2157333.8,322524.3287,NaN,40000.6901,NaN,NaN,NaN,NaN
2023-07-01,20745.3,1.594981e+07,3540606.0,3498.614,NaN,1136104.0,NaN,2896.6,NaN,1881723.5,...,8349.500,1.177990e+07,2173199.3,322301.6524,NaN,40624.3878,NaN,NaN,NaN,NaN
2023-08-01,20721.1,1.594366e+07,3550021.0,3531.434,NaN,1131236.0,NaN,2902.4,NaN,1918746.1,...,8364.700,1.223104e+07,2192992.0,325268.1244,NaN,40880.6467,NaN,NaN,NaN,NaN
2023-09-01,20699.5,1.591722e+07,3544532.0,3530.816,NaN,1127491.0,NaN,2917.9,NaN,1909245.2,...,8441.200,NaN,2233889.8,326745.8581,NaN,41180.8289,NaN,NaN,NaN,NaN
2023-10-01,20671.1,1.590154e+07,3491849.0,NaN,NaN,1132507.0,NaN,2922.8,NaN,1900713.8,...,8505.400,NaN,2241053.7,332355.9940,NaN,41245.7990,NaN,NaN,NaN,NaN