In [1]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'B6BLTT02' # Current Account as a % of GDP
measure = 'ST' # Level, ratio or index
freq = 'Q'
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name='Current Account to GDP')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/B6BLTT02.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  90.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Netherlands 2003-Q2
Denmark 2005-Q1
Belgium 2003-Q1
Ireland 2002-Q1
Saudi Arabia 2006-Q1
Mexico 2006-Q1
Indonesia 2004-Q1
Poland 2004-Q1
Chile 2003-Q1
Greece 2002-Q1
Colombia 2005-Q1
Argentina 2006-Q1
Russia 2003-Q1

Missing last:
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,-2.5856,2.3287,-2.7743,-0.1468,3.7575,2.0488,-1.9899,-5.6295,NaN,NaN,...,NaN,3.2567,NaN,NaN,NaN,-7.8299,-2.9088,NaN,NaN,NaN
1999-Q2,-2.8535,2.4608,-2.2026,-0.2523,3.5495,10.1592,-0.7914,-5.9356,NaN,NaN,...,NaN,-1.2266,NaN,NaN,NaN,-9.3325,-1.8839,NaN,NaN,NaN
1999-Q3,-3.1437,2.5760,-2.2103,0.7242,2.2618,11.7423,-1.3592,-5.6566,NaN,NaN,...,NaN,-0.8913,NaN,NaN,NaN,-8.3765,-0.5894,NaN,NaN,NaN
1999-Q4,-3.3003,2.5238,-1.3045,0.3600,3.7201,10.0676,-1.7366,-4.7052,NaN,NaN,...,NaN,-1.3361,NaN,NaN,NaN,-8.1374,-3.1151,NaN,NaN,NaN
2000-Q1,-3.7901,2.6196,-1.5893,2.0864,1.0562,8.5940,-1.1893,-4.8409,NaN,NaN,...,NaN,-2.7750,NaN,NaN,NaN,-8.1085,-3.7479,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,-3.8957,2.2910,-4.5342,0.6844,-1.2825,6.1799,4.0163,1.9730,6.6455,13.1557,...,0.6954,-3.3086,-2.6316,-12.4454,-11.5177,-7.1128,-6.3148,-5.9343,-1.3475,NaN
2022-Q3,-3.4277,0.7449,-2.0208,-1.3991,-3.1927,13.9123,3.9734,-0.1222,10.5008,16.2150,...,0.5759,-6.9257,-1.1011,-8.7041,-7.3942,-10.6342,-7.2217,-7.1611,-2.0619,NaN
2022-Q4,-3.2740,1.7591,-0.3851,-1.1566,-2.3918,6.8426,4.1428,1.7281,7.2824,12.8691,...,2.1953,-4.8877,-1.7206,-6.0130,-13.4611,-8.2054,-5.7903,-6.1688,0.9695,NaN
2023-Q1,-3.1995,1.9152,-1.6340,-0.4522,-1.1246,9.8778,5.3476,1.9419,11.3461,12.8315,...,1.0801,-6.4575,2.1446,0.6110,0.8651,-3.2070,-1.0528,-3.5616,-2.7089,NaN
2023-Q2,-3.1350,4.0362,NaN,-0.9382,0.0280,9.2148,6.8785,1.2131,9.4224,10.3434,...,-0.8981,NaN,0.3177,-3.1067,-8.7183,-0.1560,-2.9697,-3.2865,-4.2952,NaN

In [3]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'P6' # Export of goods and services
measure = 'GYSA' # Growth rate based on seasonally adjusted volume data, percentage change on the same quarter the previous year
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Export Growth YoY')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.P6.GYSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  90.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina',
       'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'Saudi Arabia'], dtype='object')

Missing first:
Colombia 2006-Q1
Argentina 2005-Q1
Russia 2004-Q1

Missing last:
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,1.7671,-3.1844,-0.2738,11.1567,2.6464,-0.9712,-0.4279,3.4127,8.1007,10.0671,...,-43.7356,-6.3549,-6.3841,6.6306,27.6032,7.7228,-4.6848,NaN,NaN,NaN
1999-Q2,4.1793,-0.3341,-0.2048,10.0931,2.3475,-0.3238,3.0436,1.2034,8.5001,14.3649,...,-37.4547,-13.3143,-5.7210,7.0647,34.6068,7.8441,5.5181,NaN,NaN,NaN
1999-Q3,7.8129,3.5578,6.1862,11.6743,5.2632,6.4640,6.5276,5.6136,8.2034,6.9290,...,-38.6284,-12.6153,1.4279,6.7546,11.7046,12.2069,8.3122,NaN,NaN,NaN
1999-Q4,6.1694,7.8805,8.3080,10.4025,8.4392,7.6024,10.6199,8.5590,9.9823,14.0064,...,12.3186,-9.2350,0.5646,7.5023,26.4494,19.1028,10.8436,NaN,NaN,NaN
2000-Q1,8.0588,13.4210,9.9454,10.1258,12.3609,12.2576,15.1947,12.1008,11.0108,7.5235,...,14.7285,7.9059,20.5573,8.3427,29.1636,23.7174,16.3557,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,7.3840,2.9339,2.4642,4.5699,7.7540,-2.2730,3.7893,4.0195,5.9313,11.4278,...,18.3203,17.6857,6.5041,0.6115,12.3634,10.8111,3.3221,27.8877,8.4132,NaN
2022-Q3,11.0691,5.8722,18.9985,6.4427,7.2693,10.2295,5.4926,6.2723,2.9572,14.8102,...,18.6452,11.0552,8.4830,3.5014,-2.6570,17.4880,12.7227,16.2137,-2.6813,NaN
2022-Q4,4.2846,7.3381,8.3093,3.0765,4.1771,3.9844,0.6987,8.1837,4.6018,7.9313,...,12.5291,-3.6516,4.3267,0.6661,-2.0156,12.8537,10.8538,-0.5249,8.3348,NaN
2023-Q1,7.2763,1.8641,9.9046,7.8946,0.6974,3.7381,1.2635,10.8665,2.6181,8.4409,...,9.8040,-2.7369,2.9564,2.6592,7.1057,6.3173,6.4462,2.5718,-4.2891,NaN
2023-Q2,2.0951,3.0223,3.1779,5.9136,4.5938,13.7127,-0.7045,9.8323,-0.6823,8.6783,...,-0.7262,-7.9787,-2.7110,-1.1280,0.0938,0.5616,4.4438,2.5424,-10.9506,NaN

In [4]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'P7' # Import of goods and services
measure = 'GYSA' # Growth rate based on seasonally adjusted volume data, percentage change on the same quarter the previous year
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Import Growth YoY')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.P7.GYSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  90.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina',
       'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'Saudi Arabia'], dtype='object')

Missing first:
Colombia 2006-Q1
Argentina 2005-Q1
Russia 2004-Q1

Missing last:
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,10.0517,-3.6590,6.2706,4.1953,5.1630,-1.6938,7.0441,4.1251,6.8348,2.1500,...,-52.5869,-16.1275,6.2487,-14.2995,11.2439,11.6826,-0.5276,NaN,NaN,NaN
1999-Q2,10.6759,2.6584,5.0500,5.5722,4.6778,2.9475,7.6493,5.8470,9.2038,1.3258,...,-44.7959,-0.2327,3.8637,-14.6244,22.1164,11.7955,5.9148,NaN,NaN,NaN
1999-Q3,13.1501,5.0853,8.0784,10.6278,6.2580,8.0020,9.5921,11.0909,9.8638,1.4103,...,-43.1295,-3.6417,-1.3991,-10.8983,14.4151,12.0979,3.7894,NaN,NaN,NaN
1999-Q4,12.4061,10.8835,10.1378,11.7996,9.4004,7.5378,10.0690,12.3678,12.0777,5.2740,...,-9.0146,7.5883,-3.5673,1.4276,11.4847,17.2570,10.8066,NaN,NaN,NaN
2000-Q1,13.4442,7.6032,8.2743,12.0462,13.3730,11.6007,9.2564,13.0296,11.3313,10.0383,...,7.3423,27.1881,13.5823,9.2879,21.7409,22.5173,13.6092,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,11.7861,3.4650,18.5454,11.3234,8.0284,1.5853,7.7623,9.9246,4.9514,7.4991,...,16.4542,7.5159,8.2004,10.8615,14.6016,10.3287,3.0401,25.5258,26.0426,NaN
2022-Q3,8.2054,10.9347,9.9051,11.5342,11.7357,13.0475,10.2089,19.4148,1.9013,7.3278,...,19.2435,13.6567,7.1438,-2.9441,5.2189,13.9119,8.0832,21.6278,21.4556,NaN
2022-Q4,2.1317,10.4467,8.1181,2.9669,5.5583,3.4715,2.5888,12.7590,4.1435,4.5719,...,5.2511,9.8458,0.9651,-15.7631,6.7865,10.8032,8.2523,7.4256,0.7655,NaN
2023-Q1,-0.9923,4.1282,-2.8480,2.6541,1.0577,9.5040,1.0111,5.6757,2.3015,2.1350,...,4.2904,14.6333,-4.0239,-16.8681,5.1639,2.2177,2.9839,-7.5915,5.2209,NaN
2023-Q2,-3.8928,-1.5648,-2.5105,-3.2281,2.3181,7.2614,-1.3224,4.4221,1.0450,5.9395,...,-1.4179,19.2685,-7.8237,-13.3625,0.5860,-5.8636,0.7961,-14.4616,4.0603,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'XTEXVA01' # Export - Value (goods)
measure = 'CXML' # US Dollars, monthly level
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Export Value')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.XTEXVA01.CXML.M/all?startTime=1999-01&contentType=csv
Data coverage:  95.5 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2016-05

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,52.436,30.4931,19.2882,17.4982,24.6222,5.7468,41.6249,4.0003,17.4790,3.8780,...,3.0178,1.8833,2.0090,1.3680,0.8906,1.6671,1.8979,0.7192,1.544,4.154
1999-02,53.279,30.7965,20.0122,18.4034,25.5127,5.9536,44.0156,3.9914,16.8953,3.9074,...,3.1950,2.1945,2.0780,1.3177,0.9383,1.8399,1.8545,0.7621,1.524,4.536
1999-03,60.889,35.9604,23.9591,20.3729,30.3711,7.1199,47.6147,4.6216,20.0086,4.5972,...,3.9530,2.4022,2.4578,1.6650,1.0123,2.2377,2.3025,0.9525,1.998,5.367
1999-04,57.283,33.6024,20.8016,19.3058,26.6563,6.0361,44.7286,4.1257,16.9995,3.7899,...,3.8861,1.9530,2.1643,1.5090,0.9363,1.7904,2.1278,0.8375,2.034,6.017
1999-05,56.489,29.1593,20.8359,19.7162,24.4970,5.8462,42.4310,4.6045,16.6773,4.0280,...,4.0413,2.2256,2.2359,1.3855,0.8913,1.9300,2.2194,0.9297,2.220,4.711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,162.064,62.1409,36.6498,45.8646,51.1139,21.9290,134.2296,29.8832,71.5946,10.0402,...,19.2841,19.2588,30.7124,7.5411,4.3464,12.5904,20.3380,3.7392,5.898,31.787
2023-05,167.128,53.0691,38.4720,48.8413,55.6069,26.5319,142.5291,31.9990,79.8413,11.2594,...,21.7068,21.6376,32.5366,7.8829,4.4018,14.1729,21.9054,4.4979,6.262,37.443
2023-06,167.303,61.8746,39.3680,46.7995,60.9382,27.6218,150.4718,31.6991,80.2621,11.8613,...,20.6013,20.8370,32.4868,7.9564,4.4755,14.6983,22.8058,4.0210,5.415,34.289
2023-07,159.619,61.8523,39.0256,43.9129,54.3924,23.7239,139.2674,29.0212,74.9914,10.9724,...,20.8622,19.9836,29.2538,7.3937,4.7165,12.5711,18.9123,4.0948,6.060,30.804
2023-08,171.503,55.2583,NaN,NaN,NaN,24.0926,NaN,29.9661,NaN,NaN,...,22.0042,21.6148,NaN,7.9357,NaN,NaN,NaN,NaN,5.854,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'XTIMVA01' # Import - Value (goods)
measure = 'CXML' # US Dollars, monthly level
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Import Value')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.XTIMVA01.CXML.M/all?startTime=1999-01&contentType=csv
Data coverage:  95.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2014-01

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,71.766,23.8301,24.4352,15.3647,25.1441,5.4742,36.7854,4.5921,16.4811,3.6192,...,1.7722,2.2265,3.1176,1.3849,2.3524,1.8153,1.9064,0.7795,1.906,2.525
1999-02,73.849,22.8159,24.6219,16.7195,24.7966,6.1556,37.8291,4.5470,16.0449,3.5668,...,1.8087,2.7881,3.2110,1.1564,2.4532,2.1136,1.9455,0.8332,1.856,2.773
1999-03,84.072,25.0740,28.0723,19.0737,28.7465,7.4262,41.4894,5.4848,18.7744,4.2634,...,1.9764,3.0451,4.0443,1.2895,3.2292,2.4267,2.5655,0.8935,2.078,3.259
1999-04,79.980,24.9423,25.4327,17.9992,25.2631,5.9515,38.7014,4.9582,15.9826,3.4149,...,2.1219,3.3341,3.6286,1.1815,2.4002,2.2147,2.2376,0.8782,1.873,3.092
1999-05,80.965,22.4442,24.1781,17.9516,24.8980,5.7549,38.9792,5.1194,16.0367,3.4648,...,1.9592,3.4093,3.6985,1.3376,2.4968,2.1426,2.2381,0.7856,1.931,2.723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,250.752,65.4122,56.4619,44.9983,64.5879,19.1415,119.4223,20.5379,70.9241,9.3365,...,15.3476,28.0610,29.9990,6.4711,6.7168,12.1823,18.5152,4.9426,6.091,24.404
2023-05,264.349,63.1280,62.6956,49.3235,67.7369,20.5043,127.8155,24.3683,72.9949,10.9055,...,21.2796,34.1917,31.0291,6.9659,7.6109,12.9301,19.9711,5.4185,7.386,26.070
2023-06,257.887,61.5971,61.4460,49.7581,70.5858,22.2975,126.4401,22.1634,71.4506,10.9556,...,17.1505,26.0624,30.3512,6.3661,7.2888,13.0002,19.8008,5.0152,7.248,25.252
2023-07,255.666,62.3042,58.7622,44.6499,65.2125,20.1405,119.3220,22.8632,69.7951,10.4635,...,19.5703,32.2945,28.3374,6.5799,7.4302,11.8010,18.2307,4.9452,6.761,25.314
2023-08,266.023,61.7404,NaN,NaN,NaN,19.4768,NaN,23.4283,NaN,NaN,...,18.8798,30.2714,NaN,7.3497,NaN,NaN,NaN,NaN,6.865,NaN

In [7]:
indicator = 'MEI' # Main Economic Indicators
subject = 'XTNTVA01' # Net Trade - Value (goods)
measure = 'CXML' # US Dollars, monthly level
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Net Trade Value')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.XTNTVA01.CXML.M/all?startTime=1999-01&contentType=csv
Data coverage:  95.5 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2016-05

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01,-19.330,6.6630,-5.1470,2.1335,-0.5219,0.2726,4.8394,-0.5919,0.9979,0.2589,...,1.2456,-0.3150,-1.1086,-0.0169,-1.4617,-0.1482,-0.0085,-0.0603,-0.362,1.629
1999-02,-20.570,7.9806,-4.6097,1.6839,0.7161,-0.2020,6.1865,-0.5556,0.8504,0.3407,...,1.3863,-0.5424,-1.1330,0.1613,-1.5149,-0.2737,-0.0911,-0.0710,-0.332,1.763
1999-03,-23.183,10.8864,-4.1132,1.2992,1.6246,-0.3062,6.1252,-0.8632,1.2343,0.3339,...,1.9766,-0.5930,-1.5865,0.3755,-2.2169,-0.1890,-0.2630,0.0590,-0.080,2.108
1999-04,-22.697,8.6601,-4.6311,1.3066,1.3932,0.0845,6.0272,-0.8325,1.0169,0.3751,...,1.7642,-1.3410,-1.4643,0.3275,-1.4639,-0.4243,-0.1098,-0.0408,0.161,2.925
1999-05,-24.476,6.7151,-3.3423,1.7645,-0.4010,0.0912,3.4519,-0.5148,0.6407,0.5633,...,2.0821,-1.1497,-1.4626,0.0479,-1.6055,-0.2126,-0.0187,0.1441,0.289,1.988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04,-88.688,-3.2713,-19.8121,0.8663,-13.4740,2.7874,14.8073,9.3453,0.6705,0.7037,...,3.9365,-8.8022,0.7134,1.0700,-2.3705,0.4081,1.8228,-1.2034,-0.193,7.383
2023-05,-97.221,-10.0588,-24.2235,-0.4822,-12.1300,6.0275,14.7137,7.6307,6.8464,0.3539,...,0.4272,-12.5541,1.5075,0.9170,-3.2091,1.2428,1.9344,-0.9207,-1.124,11.373
2023-06,-90.584,0.2775,-22.0780,-2.9586,-9.6477,5.3243,24.0317,9.5358,8.8115,0.9057,...,3.4508,-5.2253,2.1356,1.5903,-2.8133,1.6981,3.0050,-0.9942,-1.833,9.037
2023-07,-96.047,-0.4518,-19.7367,-0.7371,-10.8201,3.5834,19.9454,6.1581,5.1963,0.5089,...,1.2919,-12.3108,0.9165,0.8137,-2.7137,0.7700,0.6817,-0.8504,-0.701,5.490
2023-08,-94.520,-6.4821,NaN,NaN,NaN,4.6158,NaN,6.5378,NaN,NaN,...,3.1244,-8.6565,NaN,0.5860,NaN,NaN,NaN,NaN,-1.011,NaN