# OECD Indicators - Trade

Exploring all indicators for Trade category from OECD. Described in chapter 3.2.

In [1]:
import os
os.chdir(os.path.expanduser('../AWS_Lambdas/src/lambda_oecd_download/'))
from oecd_api import get_oecd_data

In [2]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'B6BLTT02' # Current Account as a % of GDP
measure = 'ST' # Level, ratio or index
freq = 'Q'
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Current Account to GDP.csv')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/B6BLTT02.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.ST.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  70.2 %
Data coverage since 2013 (30 countries): 94.9 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Netherlands 2003-04-01 00:00:00
Denmark 2005-01-01 00:00:00
Belgium 2003-01-01 00:00:00
Ireland 2002-01-01 00:00:00
Saudi Arabia 2006-01-01 00:00:00
Mexico 2006-01-01 00:00:00
Indonesia 2004-01-01 00:00:00
Poland 2004-01-01 00:00:00
Chile 2003-01-01 00:00:00
Greece 2002-01-01 00:00:00
Colombia 2005-01-01 00:00:00
Argentina 2006-01-01 00:00:00
Russia 2003-01-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,-2.5856,2.3288,-2.8170,-0.1468,3.7576,2.0488,-1.9899,-5.6255,NaN,NaN,...,NaN,3.2567,NaN,NaN,NaN,-7.8299,-2.9088,NaN,NaN,NaN
1999-04-01,-2.8535,2.4604,-2.1573,-0.2523,3.5500,10.1612,-0.7914,-5.9295,NaN,NaN,...,NaN,-1.2266,NaN,NaN,NaN,-9.3325,-1.8839,NaN,NaN,NaN
1999-07-01,-3.1437,2.5761,-2.2470,0.7242,2.2614,11.7396,-1.3592,-5.6529,NaN,NaN,...,NaN,-0.8913,NaN,NaN,NaN,-8.3765,-0.5894,NaN,NaN,NaN
1999-10-01,-3.3003,2.5239,-1.2731,0.3600,3.7200,10.0689,-1.7366,-4.7011,NaN,NaN,...,NaN,-1.3361,NaN,NaN,NaN,-8.1374,-3.1151,NaN,NaN,NaN
2000-01-01,-3.7901,2.6198,-1.5966,2.0864,1.0562,8.5950,-1.1893,-4.8383,NaN,NaN,...,NaN,-2.7750,NaN,NaN,NaN,-8.1085,-3.7479,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,-3.4277,0.5406,-1.5779,-1.3632,-3.1893,13.0770,3.9734,-0.0653,10.4897,16.2034,...,0.5997,-6.9774,-1.0996,-8.6849,-7.4804,-10.6355,-7.2217,-7.1172,-2.0621,NaN
2022-10-01,-3.2740,1.5385,0.5533,-1.2013,-2.3904,6.2668,4.1428,1.7821,7.2788,12.8439,...,2.1994,-4.9780,-1.7204,-6.0086,-13.3385,-8.2056,-5.7903,-5.9681,0.9696,NaN
2023-01-01,-3.1995,1.6657,-2.2965,-0.9545,-1.1238,8.3822,5.3423,1.7330,11.3519,12.6059,...,1.0742,-6.4975,2.1425,0.1795,0.8673,-3.2067,-1.0528,-3.1930,-2.7090,NaN
2023-04-01,-3.2044,3.9437,-3.7419,-1.0237,0.0280,7.9195,6.8944,1.2029,9.4385,10.8999,...,-0.9798,-3.2076,0.3179,-3.2858,-8.7985,-0.1560,-2.9669,-3.0781,-4.3167,NaN
2023-07-01,-2.9019,4.1383,NaN,-0.4439,NaN,10.8659,NaN,-0.0241,NaN,8.1793,...,-0.7704,NaN,NaN,-4.0849,NaN,NaN,NaN,-1.7586,NaN,NaN

In [3]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'P6' # Export of goods and services
measure = 'GYSA' # Growth rate based on seasonally adjusted volume data, percentage change on the same quarter the previous year
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Export Growth YoY.csv')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.P6.GYSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  70.4 %
Data coverage since 2013 (30 countries): 89.4 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina',
       'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'Saudi Arabia'], dtype='object')

Missing first:
Colombia 2006-01-01 00:00:00
Argentina 2005-01-01 00:00:00
Russia 2004-01-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,1.7671,-3.1846,-0.2738,11.1397,2.5688,-0.9709,-0.4279,3.4129,8.1007,10.0671,...,-43.7356,-6.3549,-6.3840,6.6306,27.6032,7.7220,-4.6848,NaN,NaN,NaN
1999-04-01,4.1793,-0.3341,-0.2048,10.0582,2.3063,-0.3227,3.0436,1.2042,8.5001,14.3649,...,-37.4547,-13.3143,-5.7211,7.0647,34.6068,7.8444,5.5181,NaN,NaN,NaN
1999-07-01,7.8129,3.5578,6.1862,11.6218,5.4672,6.4687,6.5276,5.6140,8.2034,6.9290,...,-38.6284,-12.6153,1.4280,6.7546,11.7046,12.2078,8.3122,NaN,NaN,NaN
1999-10-01,6.1694,7.8803,8.3080,10.3624,8.3666,7.6069,10.6199,8.5584,9.9823,14.0064,...,12.3186,-9.2350,0.5646,7.5023,26.4494,19.1027,10.8436,NaN,NaN,NaN
2000-01-01,8.0588,13.4212,9.9454,10.0182,12.2726,12.2657,15.1947,12.1005,11.0108,7.5235,...,14.7285,7.9059,20.5572,8.3427,29.1636,23.7167,16.3557,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,11.0691,5.9885,19.4537,6.7259,7.3726,10.2096,5.4926,4.2619,3.3647,14.6557,...,18.3894,11.0552,9.2877,3.5407,-1.1988,17.4745,12.7434,16.0650,-2.7464,NaN
2022-10-01,4.2846,7.6308,8.8914,3.5937,4.2216,3.9568,0.6987,6.7480,4.5990,7.9186,...,12.5004,-3.6516,4.8808,0.6737,-0.3404,12.8462,10.8710,-0.5552,8.1634,NaN
2023-01-01,7.2763,2.2185,10.6361,7.4096,0.6157,3.6745,0.6405,8.2308,2.4987,8.7187,...,9.8974,-3.2239,3.2815,2.6998,6.7071,6.3259,6.4324,3.2931,-4.0371,NaN
2023-04-01,2.0951,3.8575,4.1221,5.3907,4.5010,12.3008,-1.1046,7.5931,-1.0462,9.2579,...,-0.4723,-8.0432,-3.1533,-1.2243,-0.5092,0.5822,4.9559,3.4226,-11.1952,NaN
2023-07-01,-0.3558,1.9863,-6.7907,2.6674,0.4149,-1.5973,-2.8498,6.8399,-2.9124,11.4541,...,-2.7156,0.7308,-10.6591,0.1510,0.9870,-3.5253,-0.5500,4.1205,-5.0091,NaN

In [4]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'P7' # Import of goods and services
measure = 'GYSA' # Growth rate based on seasonally adjusted volume data, percentage change on the same quarter the previous year
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Import Growth YoY.csv')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.P7.GYSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  70.4 %
Data coverage since 2013 (30 countries): 89.4 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Argentina',
       'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'Saudi Arabia'], dtype='object')

Missing first:
Colombia 2006-01-01 00:00:00
Argentina 2005-01-01 00:00:00
Russia 2004-01-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,10.0517,-3.6585,6.2706,4.2176,5.1905,-1.6900,7.0441,4.1262,6.8348,2.1500,...,-52.5869,-16.1275,6.2486,-14.2995,11.2439,11.6826,-0.5276,NaN,NaN,NaN
1999-04-01,10.6759,2.6590,5.0500,5.6004,4.6586,2.9469,7.6493,5.8468,9.2038,1.3258,...,-44.7959,-0.2327,3.8637,-14.6244,22.1164,11.7949,5.9148,NaN,NaN,NaN
1999-07-01,13.1501,5.0844,8.0784,10.6348,6.3389,8.0031,9.5921,11.0890,9.8638,1.4103,...,-43.1295,-3.6417,-1.3991,-10.8983,14.4151,12.0976,3.7894,NaN,NaN,NaN
1999-10-01,12.4061,10.8813,10.1378,11.8255,9.3480,7.5352,10.0690,12.3708,12.0777,5.2740,...,-9.0146,7.5883,-3.5672,1.4276,11.4847,17.2577,10.8066,NaN,NaN,NaN
2000-01-01,13.4442,7.6075,8.2743,12.0597,13.1193,11.5997,9.2612,13.0324,11.3313,10.0383,...,7.3423,27.1881,13.5821,9.2879,21.7409,22.5178,13.6092,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,8.2054,10.7084,10.4861,12.2436,11.7518,13.1057,10.2349,19.1644,2.3489,6.9918,...,19.1471,13.6567,7.6804,-2.7834,1.6278,13.9148,8.0840,21.5856,21.5658,NaN
2022-10-01,2.1317,10.2739,8.7324,3.5075,5.9747,3.5196,2.5951,11.6770,4.2032,4.5699,...,5.2633,9.8458,1.9080,-15.7263,3.9384,10.8039,8.2551,7.4284,0.7609,NaN
2023-01-01,-0.9923,4.1414,-2.3015,4.3585,1.0306,11.1427,0.3344,4.0249,2.1411,1.5189,...,4.3253,14.2955,-2.4953,-17.2539,3.2700,2.2168,2.9824,-7.9214,5.2157,NaN
2023-04-01,-3.8928,-0.8004,-2.3210,-0.8924,3.1358,10.2518,-1.7628,3.4689,0.6159,4.5203,...,-1.2775,18.9287,-6.6525,-13.3171,-0.6330,-5.8667,2.0952,-14.8119,2.7684,NaN
2023-07-01,-1.7054,-4.6895,-0.1467,-1.3214,-1.4553,-3.6146,-5.0523,2.1704,-2.4962,14.9114,...,-6.7456,14.0274,-20.4275,-10.7485,2.9150,-8.7262,-1.8410,-21.6584,2.7584,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'XTEXVA01' # Export - Value (goods)
measure = 'CXML' # US Dollars, monthly level
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Export Value.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.XTEXVA01.CXML.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  74.4 %
Data coverage since 2013 (30 countries): 95.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2016-05-01 00:00:00

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,52.436,30.4931,19.2882,17.4982,24.6222,5.7468,41.6249,4.0003,17.4790,3.8780,...,3.0178,1.8833,2.0090,1.3680,0.8906,1.6671,1.8979,0.7192,1.544,4.154
1999-02-01,53.279,30.7965,20.0122,18.4034,25.5127,5.9536,44.0156,3.9914,16.8953,3.9074,...,3.1950,2.1945,2.0780,1.3177,0.9383,1.8399,1.8545,0.7621,1.524,4.536
1999-03-01,60.889,35.9604,23.9591,20.3729,30.3711,7.1199,47.6147,4.6216,20.0086,4.5972,...,3.9530,2.4022,2.4578,1.6650,1.0123,2.2377,2.3025,0.9525,1.998,5.367
1999-04-01,57.283,33.6024,20.8016,19.3058,26.6563,6.0361,44.7286,4.1257,16.9995,3.7899,...,3.8861,1.9530,2.1643,1.5090,0.9363,1.7904,2.1278,0.8375,2.034,6.017
1999-05-01,56.489,29.1593,20.8359,19.7162,24.4970,5.8462,42.4310,4.6045,16.6773,4.0280,...,4.0413,2.2256,2.2359,1.3855,0.8913,1.9300,2.2194,0.9297,2.220,4.711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,159.619,61.8523,39.2634,44.4447,54.4490,23.5121,139.3668,28.9020,74.3915,10.9046,...,20.8622,19.7955,30.4108,7.1842,4.8029,12.4427,18.9783,4.1310,6.060,31.657
2023-08-01,171.405,55.2583,35.9236,48.0862,45.9292,23.7276,133.2041,30.0628,75.1053,11.4082,...,21.9980,21.5790,29.4307,7.8931,4.0623,12.3221,19.4752,3.9441,5.910,37.004
2023-09-01,171.272,62.3051,36.2455,47.4438,51.5499,27.5924,137.8527,28.2009,76.6474,11.2713,...,20.7465,22.4417,30.9407,7.2037,4.5930,13.7446,20.9892,4.1277,5.751,40.418
2023-10-01,178.084,61.1665,38.2339,49.3604,55.1452,25.5960,138.1348,29.2674,76.7300,11.7924,...,22.1484,22.8119,32.9572,7.7257,4.6686,13.5153,22.4182,NaN,5.396,32.963
2023-11-01,NaN,58.8555,NaN,NaN,NaN,27.1539,NaN,NaN,NaN,NaN,...,NaN,22.9987,NaN,7.7309,NaN,NaN,NaN,NaN,4.872,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'XTIMVA01' # Import - Value (goods)
measure = 'CXML' # US Dollars, monthly level
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Import Value.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.XTIMVA01.CXML.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  74.6 %
Data coverage since 2013 (30 countries): 95.9 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2014-01-01 00:00:00

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,71.766,23.8301,24.4352,15.3647,25.1441,5.4742,36.7854,4.5921,16.4811,3.6192,...,1.7722,2.2265,3.1176,1.3849,2.3524,1.8153,1.9064,0.7795,1.906,2.525
1999-02-01,73.849,22.8159,24.6219,16.7195,24.7966,6.1556,37.8291,4.5470,16.0449,3.5668,...,1.8087,2.7881,3.2110,1.1564,2.4532,2.1136,1.9455,0.8332,1.856,2.773
1999-03-01,84.072,25.0740,28.0723,19.0737,28.7465,7.4262,41.4894,5.4848,18.7744,4.2634,...,1.9764,3.0451,4.0443,1.2895,3.2292,2.4267,2.5655,0.8935,2.078,3.259
1999-04-01,79.980,24.9423,25.4327,17.9992,25.2631,5.9515,38.7014,4.9582,15.9826,3.4149,...,2.1219,3.3341,3.6286,1.1815,2.4002,2.2147,2.2376,0.8782,1.873,3.092
1999-05-01,80.965,22.4442,24.1781,17.9516,24.8980,5.7549,38.9792,5.1194,16.0367,3.4648,...,1.9592,3.4093,3.6985,1.3376,2.4968,2.1426,2.2381,0.7856,1.931,2.723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,255.666,62.3042,58.7843,44.9364,65.0047,20.0716,119.5036,22.9481,69.5602,10.2278,...,19.5703,32.2943,29.8826,6.6137,7.5811,11.8244,18.2836,4.9452,6.761,25.420
2023-08-01,266.027,61.7775,56.3845,49.2054,57.6804,19.4618,117.5913,23.5263,66.8878,10.8071,...,18.8798,30.2567,28.9508,7.4339,7.0141,11.5976,18.1741,5.2882,6.885,25.369
2023-09-01,261.306,61.8624,55.1245,47.0252,63.1171,20.4957,117.4785,23.6324,65.9046,10.8524,...,17.3416,27.4991,29.6569,6.3531,7.4868,12.3126,18.5546,4.9442,6.525,24.769
2023-10-01,276.810,65.6277,61.5924,47.0363,66.0565,20.3833,119.1459,24.3584,68.1342,11.2959,...,18.6728,29.3906,31.7178,7.1195,7.6178,12.4187,19.9645,NaN,5.839,23.530
2023-11-01,NaN,64.0630,NaN,NaN,NaN,22.9970,NaN,NaN,NaN,NaN,...,NaN,28.9164,NaN,6.4429,NaN,NaN,NaN,NaN,5.487,NaN

In [7]:
indicator = 'MEI' # Main Economic Indicators
subject = 'XTNTVA01' # Net Trade - Value (goods)
measure = 'CXML' # US Dollars, monthly level
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Net Trade Value.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.XTNTVA01.CXML.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  74.4 %
Data coverage since 2013 (30 countries): 95.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2016-05-01 00:00:00

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,-19.330,6.6630,-5.1470,2.1335,-0.5219,0.2726,4.8394,-0.5919,0.9979,0.2589,...,1.2456,-0.3150,-1.1086,-0.0169,-1.4617,-0.1482,-0.0085,-0.0603,-0.362,1.629
1999-02-01,-20.570,7.9806,-4.6097,1.6839,0.7161,-0.2020,6.1865,-0.5556,0.8504,0.3407,...,1.3863,-0.5424,-1.1330,0.1613,-1.5149,-0.2737,-0.0911,-0.0710,-0.332,1.763
1999-03-01,-23.183,10.8864,-4.1132,1.2992,1.6246,-0.3062,6.1252,-0.8632,1.2343,0.3339,...,1.9766,-0.5930,-1.5865,0.3755,-2.2169,-0.1890,-0.2630,0.0590,-0.080,2.108
1999-04-01,-22.697,8.6601,-4.6311,1.3066,1.3932,0.0845,6.0272,-0.8325,1.0169,0.3751,...,1.7642,-1.3410,-1.4643,0.3275,-1.4639,-0.4243,-0.1098,-0.0408,0.161,2.925
1999-05-01,-24.476,6.7151,-3.3423,1.7645,-0.4010,0.0912,3.4519,-0.5148,0.6407,0.5633,...,2.0821,-1.1497,-1.4626,0.0479,-1.6055,-0.2126,-0.0187,0.1441,0.289,1.988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,-96.047,-0.4518,-19.5209,-0.4917,-10.5556,3.4405,19.8632,5.9539,4.8314,0.6768,...,1.2919,-12.4988,0.5282,0.5705,-2.7782,0.6183,0.6947,-0.8142,-0.701,6.237
2023-08-01,-94.622,-6.5193,-20.4609,-1.1192,-11.7512,4.2658,15.6127,6.5365,8.2175,0.6011,...,3.1182,-8.6777,0.4799,0.4592,-2.9518,0.7245,1.3011,-1.3440,-0.975,11.635
2023-09-01,-90.034,0.4427,-18.8790,0.4186,-11.5671,7.0967,20.3742,4.5684,10.7428,0.4188,...,3.4049,-5.0574,1.2838,0.8506,-2.8938,1.4320,2.4346,-0.8165,-0.774,15.649
2023-10-01,-98.726,-4.4612,-23.3584,2.3240,-10.9113,5.2127,18.9889,4.9090,8.5958,0.4965,...,3.4756,-6.5787,1.2394,0.6062,-2.9492,1.0966,2.4538,NaN,-0.443,9.433
2023-11-01,NaN,-5.2075,NaN,NaN,NaN,4.1568,NaN,NaN,NaN,NaN,...,NaN,-5.9177,NaN,1.2880,NaN,NaN,NaN,NaN,-0.615,NaN