# OECD Indicators - Bussiness

Exploring all indicators for Bussiness category from OECD. Described in chapter 3.2.

In [1]:
import os
os.chdir(os.path.expanduser('../AWS_Lambdas/src/lambda_oecd_download/'))
from oecd_api import get_oecd_data

In [2]:
indicator = 'MEI_CLI' # Composite Leading Indicators (MEI) 
subject = 'BSCICP03' # OECD Standardised Bussiness Confidence Indicator, Amplitude adjusted (Long term average=100), sa
measure = ''
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, with_measure=False, 
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Bussiness Confidence Indicator.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/BSCICP03.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  72.7 %
Data coverage since 2013 (30 countries): 88.5 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'South Africa', 'Mexico', 'Indonesia',
       'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia',
       'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
China 2000-02-01 00:00:00
India 2000-05-01 00:00:00
Indonesia 2002-03-01 00:00:00
Chile 2003-11-01 00:00:00

Missing last:
Russia 2022-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,99.2458,96.9335,96.7485,100.0097,99.9064,99.0629,99.0756,99.8852,100.2445,96.1053,...,NaN,109.5589,97.5785,NaN,101.0974,98.8539,94.8645,90.7925,NaN,99.7165
1999-02-01,99.5515,97.0535,97.0416,100.1427,99.8678,99.2759,98.8978,99.7976,100.2558,96.3790,...,NaN,107.8031,97.5132,NaN,100.9395,98.7200,95.0393,90.6089,NaN,100.1547
1999-03-01,99.7789,97.1964,97.5758,100.2720,99.7866,99.3333,98.7964,99.9380,100.2437,96.6377,...,NaN,105.4027,97.5498,NaN,100.9895,98.4801,95.1155,90.7618,NaN,100.6824
1999-04-01,99.9621,97.3539,98.3827,100.4343,99.8712,99.4227,98.7672,100.1843,100.2429,96.8124,...,NaN,103.5635,97.7035,NaN,101.2324,97.8833,95.8211,91.4477,NaN,101.1785
1999-05-01,100.1710,97.5214,99.1423,100.6578,100.0907,99.4988,98.8125,100.3771,100.2581,97.0664,...,NaN,102.6663,97.7470,NaN,101.2663,97.4873,96.8308,92.3474,NaN,101.7199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,98.5856,100.4375,100.1964,96.8964,99.6677,99.1880,99.3831,100.0998,100.1443,100.4308,...,98.9877,99.0567,98.3906,96.6369,101.5378,98.8921,97.3397,99.6732,NaN,NaN
2023-08-01,98.7252,100.4669,100.1175,NaN,99.6440,99.0224,99.1518,100.2241,100.0014,100.2345,...,98.9192,98.4875,98.5675,96.9957,101.3355,98.7707,97.6149,99.9289,NaN,NaN
2023-09-01,98.7960,100.4915,100.0679,NaN,99.7740,98.7693,99.0893,NaN,99.9633,99.9393,...,98.8435,98.2467,98.7736,97.0338,100.7776,98.4964,97.8590,NaN,NaN,NaN
2023-10-01,98.6911,NaN,100.0084,NaN,99.8178,98.4541,99.0514,NaN,100.0287,99.7381,...,NaN,98.3315,98.9988,96.8667,100.1990,98.2721,98.3351,NaN,NaN,NaN
2023-11-01,98.5686,NaN,99.4359,NaN,99.8420,NaN,99.0085,NaN,100.1693,99.2093,...,NaN,98.4686,99.2515,96.5926,99.7598,98.2922,98.6419,NaN,NaN,NaN

In [3]:
indicator = 'MEI_CLI' # Composite Leading Indicators (MEI) 
subject = 'LOLITOAA' # Amplitude adjusted (CLI)
measure = ''
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, with_measure=False, 
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Composite Leading Indicator.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI_CLI/LOLITOAA.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  34.0 %
Data coverage since 2013 (30 countries): 56.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Germany', 'Australia', 'Spain', 'Italy', 'China', 'India', 'Korea',
       'Brazil', 'South Africa', 'Mexico', 'Indonesia', 'Turkiye'],
      dtype='object')

No data:
Index(['Switzerland', 'Netherlands', 'Denmark', 'Sweden', 'Finland', 'Belgium',
       'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal',
       'Eurozone', 'Saudi Arabia', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,100.2277,98.0818,99.9240,99.0510,99.8606,NaN,99.3272,100.3444,NaN,NaN,...,93.4387,93.9390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,100.4384,98.4838,100.4090,99.3251,99.8209,NaN,99.2993,100.4452,NaN,NaN,...,94.2760,94.9391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,100.6280,98.8811,100.9006,99.5571,99.8562,NaN,99.3286,100.5297,NaN,NaN,...,95.1840,95.9790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,100.7941,99.2587,101.3218,99.7323,99.9948,NaN,99.4156,100.6067,NaN,NaN,...,96.1926,96.8665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,100.9364,99.5971,101.6462,99.8565,100.2247,NaN,99.5696,100.6739,NaN,NaN,...,97.2580,97.5031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,99.2797,100.0375,100.1956,97.7958,98.7003,NaN,99.1353,98.6937,NaN,NaN,...,99.4962,99.9354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-01,99.3826,100.0545,100.4191,97.7902,98.7296,NaN,99.0170,98.6512,NaN,NaN,...,99.5607,99.6616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-01,99.4504,100.0665,100.6217,97.7768,98.7483,NaN,98.9767,98.6279,NaN,NaN,...,99.5120,99.3704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-01,99.4863,100.0752,100.8058,97.7593,98.7530,NaN,98.9961,98.6234,NaN,NaN,...,99.4577,99.1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-01,99.5104,100.0848,100.9979,97.7533,98.7546,NaN,99.0462,98.6345,NaN,NaN,...,99.4016,98.8603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
indicator = 'KEI' # Key Short-Term Economic Indicators
subject = 'PRINTO01' # Industrial production
measure = 'GY' # Growth on the same period of the prevoius year
freq = 'M'
df = get_oecd_data(indicator, subject, measure, freq, 
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Industrial Production.csv')
df

https://stats.oecd.org/SDMX-JSON/data/KEI/PRINTO01.AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GY.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  60.7 %
Data coverage since 2013 (30 countries): 72.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'India', 'Korea', 'Brazil', 'Turkiye', 'Poland',
       'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'Saudi Arabia', 'South Africa',
       'Mexico', 'Indonesia', 'Argentina'],
      dtype='object')

Missing first:
Switzerland 2011-10-01 00:00:00

Missing last:
Russia 2021-12-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,3.6382,-6.2062,4.3376,5.4537,1.4156,NaN,0.4005,NaN,1.0858,1.8066,...,NaN,-5.9908,-4.1235,-5.3578,5.3072,13.4454,-8.7027,-14.4379,NaN,-2.2439
1999-02-01,4.0588,-3.6999,3.4843,4.0721,0.4129,NaN,-1.2048,NaN,3.1938,0.8584,...,NaN,-5.5172,-5.1703,-4.8663,2.6222,5.5480,-7.6562,-17.8520,NaN,-9.3602
1999-03-01,4.2431,-0.3151,3.8062,2.6716,1.5420,NaN,-1.8494,NaN,3.8377,1.0526,...,NaN,-4.9774,1.8323,-3.4553,-5.5786,8.5020,-9.6097,-22.5638,NaN,-5.8613
1999-04-01,4.1228,-1.7895,3.0999,3.7534,1.0410,NaN,-0.2667,NaN,0.8677,0.3337,...,NaN,-4.3880,-0.0370,-5.3748,-2.1619,8.0107,-7.0478,-19.8936,NaN,-5.7712
1999-05-01,4.0753,0.5302,4.9769,4.3937,0.1746,NaN,-0.1326,NaN,-0.2148,3.5437,...,NaN,-3.3860,3.2203,-3.4312,3.5668,4.4271,-1.8452,-20.1074,NaN,-1.1373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,-0.3733,-0.1896,1.7914,-0.2922,-0.0203,-2.459,-0.2073,NaN,-6.5913,11.5758,...,NaN,0.1351,-0.9352,-2.1796,-3.1528,-5.3175,0.2582,-5.0246,NaN,NaN
2023-07-01,0.1301,-2.2642,1.0582,0.0506,2.4711,NaN,-1.1446,NaN,-6.9224,4.1379,...,NaN,6.9565,-1.9333,-1.9091,-2.0016,-2.6295,-2.4117,-6.6108,NaN,NaN
2023-08-01,0.0565,-4.0930,1.4957,-0.4766,-0.3524,NaN,-0.4167,NaN,-7.5238,4.0816,...,NaN,2.8070,-1.6556,0.4256,0.0000,-6.0678,-3.1705,-8.2854,NaN,NaN
2023-09-01,-0.1584,-3.0957,1.4941,-0.6840,-0.2939,NaN,-3.4908,NaN,-9.5595,1.7804,...,NaN,4.4254,-1.2550,2.1481,2.4535,-5.9236,-4.8593,-6.1942,NaN,NaN
2023-10-01,-0.6801,-0.9407,0.3191,NaN,1.8480,NaN,-3.2091,NaN,-10.2467,7.1595,...,NaN,1.4614,-0.9284,0.8907,10.2146,-2.8363,1.9538,NaN,NaN,NaN

In [5]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PRMNTO01' # Total manufacturing
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Total manufacturing.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PRMNTO01.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  66.8 %
Data coverage since 2013 (30 countries): 82.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'India', 'Korea', 'Brazil', 'South Africa',
       'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'Saudi Arabia', 'Argentina'], dtype='object')

Missing first:
Switzerland 2010-10-01 00:00:00

Missing last:
Russia 2021-12-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,90.6157,99.8811,75.0197,101.9510,104.4191,NaN,76.3099,NaN,81.5882,89.0118,...,40.5694,37.7517,35.7789,64.9403,136.2895,42.8354,50.7145,72.9736,NaN,47.4824
1999-02-01,91.4002,99.8811,74.9146,102.0673,103.0191,NaN,74.8057,NaN,79.3047,87.3393,...,50.1690,40.0967,35.8114,65.4882,134.6400,41.0254,50.6539,71.1145,NaN,44.8324
1999-03-01,91.4026,101.5958,75.7552,101.7411,103.4391,NaN,75.2068,NaN,81.8516,89.1976,...,57.0022,38.5475,38.3142,65.3909,134.3509,42.7257,50.5904,66.7336,NaN,45.2243
1999-04-01,91.7182,99.6668,75.3349,102.7227,104.5191,NaN,75.7082,NaN,80.0073,83.8086,...,55.8834,41.8816,37.7877,65.1364,134.3271,43.4935,53.3788,69.6168,NaN,44.9443
1999-05-01,92.4465,101.3815,76.2805,102.1752,105.1191,NaN,76.3099,NaN,80.6221,86.8748,...,56.5898,40.5879,39.1526,65.5137,137.9774,42.9999,53.4623,67.9867,NaN,44.6520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,98.8787,96.3631,109.1673,105.3384,100.2792,135.5,96.1645,NaN,112.7812,165.5000,...,NaN,153.0000,152.3873,99.8811,125.6905,122.8505,122.3898,121.0779,NaN,NaN
2023-07-01,99.2509,94.0947,107.8014,104.1674,100.6692,NaN,94.7606,NaN,112.2813,150.0000,...,NaN,150.9000,150.5875,98.3723,125.7903,124.0549,117.4902,119.8010,NaN,NaN
2023-08-01,99.2920,93.3688,107.0659,103.2231,100.3492,NaN,95.5628,NaN,109.8817,151.5000,...,NaN,149.0000,151.7874,102.2191,126.4892,121.1442,117.0902,118.8434,NaN,NaN
2023-09-01,99.4694,93.4595,107.1710,103.8481,99.7392,NaN,93.8581,NaN,108.4819,150.9000,...,NaN,149.2000,152.0873,102.7197,124.3927,123.2519,116.1903,120.6948,NaN,NaN
2023-10-01,98.7971,95.4557,106.0152,NaN,99.8592,NaN,93.3567,NaN,107.8820,152.9000,...,NaN,148.7000,152.5873,107.0300,135.7737,122.6497,119.5900,NaN,NaN,NaN

In [6]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PRINTO01' # Total industry excluding construction
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Total industry excluding construction.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PRINTO01.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  62.3 %
Data coverage since 2013 (30 countries): 73.8 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Spain',
       'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria',
       'Portugal', 'Eurozone', 'India', 'Korea', 'Brazil', 'Mexico', 'Turkiye',
       'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia', 'Colombia',
       'Russia'],
      dtype='object')

No data:
Index(['Australia', 'New Zealand', 'China', 'Saudi Arabia', 'South Africa',
       'Indonesia', 'Argentina'],
      dtype='object')

Missing first:
Switzerland 2010-10-01 00:00:00

Missing last:
Mexico 2018-02-01 00:00:00
Russia 2021-12-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,86.4662,99.5829,93.7335,88.6123,102.4491,NaN,75.2063,NaN,87.6438,104.2859,...,NaN,40.7966,41.2715,64.9648,139.1877,47.5216,58.2845,72.9736,NaN,52.5522
1999-02-01,86.9607,99.5829,93.8389,88.5282,102.1391,NaN,73.8062,NaN,88.2087,102.3265,...,NaN,41.0966,41.3667,65.5128,137.5978,45.7615,58.9155,71.1145,NaN,50.9936
1999-03-01,87.1527,100.8582,94.7867,88.1974,102.0691,NaN,74.3062,NaN,89.1501,104.5036,...,NaN,41.9965,43.2552,65.4156,135.6637,47.1696,57.8420,66.7336,NaN,52.2202
1999-04-01,87.3460,99.1577,94.5761,88.7358,102.8891,NaN,74.8062,NaN,87.5497,98.1899,...,NaN,41.3966,43.1906,65.1610,135.5213,47.4629,59.3387,69.6168,NaN,51.6060
1999-05-01,87.8814,100.7519,95.5240,88.5704,103.2891,NaN,75.3063,NaN,87.4556,101.7822,...,NaN,42.7964,44.8868,65.5384,139.1278,47.0523,61.4767,67.9867,NaN,51.7759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,101.4099,95.9431,101.7378,108.5064,98.6292,130.9,96.3080,NaN,99.1917,149.4000,...,NaN,148.1877,148.3000,98.3153,119.6803,119.3099,116.4806,121.0779,NaN,NaN
2023-07-01,102.3654,94.3941,100.5793,108.3550,99.1092,NaN,95.0079,NaN,99.4917,135.9000,...,NaN,147.5877,147.1000,96.8089,122.2777,122.2102,113.2811,119.8010,NaN,NaN
2023-08-01,102.3909,93.9385,100.0527,107.7372,98.9792,NaN,95.6080,NaN,97.0919,137.7000,...,NaN,146.4878,148.5000,97.9732,123.6763,119.2099,112.9812,118.8434,NaN,NaN
2023-09-01,102.4619,94.1208,100.1580,107.5864,98.3892,NaN,94.0078,NaN,96.4920,137.2000,...,NaN,146.2878,149.5000,100.9090,120.9790,120.7101,111.5814,120.6948,NaN,NaN
2023-10-01,101.8114,95.9431,99.3154,NaN,98.0992,NaN,93.5078,NaN,94.5921,137.7000,...,NaN,145.7879,149.4000,99.9814,128.2717,119.9100,114.7809,NaN,NaN,NaN

In [7]:
indicator = 'MEI' # Main Economic Indicators
subject = 'PRCNTO01' # Total construction
measure = 'IXOBSA' # Index 2015=100, s.a.
freq = 'M' # Monthly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Total construction.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.PRCNTO01.IXOBSA.M/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  44.7 %
Data coverage since 2013 (30 countries): 56.5 %

Available countries:
Index(['United States', 'United Kingdom', 'Canada', 'France', 'Germany',
       'Netherlands', 'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium',
       'Austria', 'Portugal', 'Eurozone', 'China', 'Korea', 'Brazil',
       'South Africa', 'Mexico', 'Poland', 'Chile', 'Hungary', 'Czechia'],
      dtype='object')

No data:
Index(['Japan', 'Switzerland', 'Australia', 'Denmark', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'India', 'Saudi Arabia', 'Indonesia',
       'Turkiye', 'Greece', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
United Kingdom 2010-01-01 00:00:00
Netherlands 2000-01-01 00:00:00
Belgium 2000-01-01 00:00:00
Portugal 2000-01-01 00:00:00
Korea 2000-01-01 00:00:00

Missing last:

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,66.0514,NaN,NaN,55.2937,102.44,NaN,105.6695,NaN,NaN,NaN,...,NaN,NaN,75.8437,48.6335,NaN,74.3160,71.2001,NaN,NaN,NaN
1999-02-01,67.6812,NaN,NaN,55.4150,92.22,NaN,93.7364,NaN,NaN,NaN,...,NaN,NaN,74.8522,49.4655,NaN,73.8276,69.8001,NaN,NaN,NaN
1999-03-01,68.6986,NaN,NaN,54.6728,98.38,NaN,105.0934,NaN,NaN,NaN,...,NaN,NaN,74.9142,51.1016,NaN,76.0584,69.8212,NaN,NaN,NaN
1999-04-01,67.9123,NaN,NaN,55.7248,99.71,NaN,102.6245,NaN,NaN,NaN,...,NaN,NaN,77.0210,41.1484,NaN,77.3916,73.4459,NaN,NaN,NaN
1999-05-01,67.7791,NaN,NaN,56.2544,99.37,NaN,102.7068,NaN,NaN,NaN,...,NaN,NaN,77.5167,43.5075,NaN,78.2232,70.8668,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,175.1211,NaN,120.2479,107.4946,102.70,NaN,131.9110,NaN,147.0123,NaN,...,NaN,NaN,130.3109,50.0714,NaN,147.3000,109.4091,NaN,NaN,NaN
2023-07-01,176.2651,NaN,119.4591,107.4633,103.28,NaN,134.7112,NaN,146.9122,NaN,...,NaN,NaN,130.3109,77.2725,NaN,159.2000,105.3088,NaN,NaN,NaN
2023-08-01,179.9478,NaN,118.5575,107.6525,101.85,NaN,130.4109,NaN,145.3121,NaN,...,NaN,NaN,134.3112,48.8565,NaN,151.3000,105.8088,NaN,NaN,NaN
2023-09-01,180.3573,NaN,119.0083,108.6810,103.69,NaN,133.3111,NaN,144.4120,NaN,...,NaN,NaN,138.7116,43.0476,NaN,148.5000,105.8088,NaN,NaN,NaN
2023-10-01,181.4633,NaN,NaN,NaN,101.61,NaN,129.8108,NaN,NaN,NaN,...,NaN,NaN,137.2114,37.2514,NaN,NaN,107.1089,NaN,NaN,NaN

In [8]:
indicator = 'MEI' # Main Economic Indicators
subject = 'NAEXCP05' # National Accounts > GDP by Expenditure > Current Prices > Changes in inventories and net acquisition of valuables
measure = 'STSA' # Level, rate or national currency, s.a.
freq = 'Q' # Quarterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Changes in inventories.csv')
df

https://stats.oecd.org/SDMX-JSON/data/MEI/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.NAEXCP05.STSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  62.4 %
Data coverage since 2013 (30 countries): 82.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Ireland',
       'New Zealand', 'Austria', 'Portugal', 'India', 'Korea', 'Brazil',
       'South Africa', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile',
       'Hungary', 'Czechia', 'Russia'],
      dtype='object')

No data:
Index(['Israel', 'Eurozone', 'China', 'Saudi Arabia', 'Greece', 'Colombia',
       'Argentina'],
      dtype='object')

Missing first:
India 2004-04-01 00:00:00
Indonesia 2008-01-01 00:00:00
Russia 2003-01-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,20.8485,-904.925,2.080,0.081,3.8075,-1.2917,5.573,1.461,-0.2431,-2.4093,...,NaN,-0.5381,0.1183,-96.7585,NaN,63.986,-3.513,NaN,NaN,NaN
1999-04-01,8.7778,-964.550,0.491,0.918,2.9785,-0.8371,1.586,1.534,0.0405,0.2886,...,NaN,0.6054,1.5509,-76.1875,NaN,76.259,-0.993,NaN,NaN,NaN
1999-07-01,10.1290,-844.225,-0.153,0.938,-1.1962,-1.4063,4.883,1.979,0.6225,1.4412,...,NaN,0.2604,2.7541,51.1111,NaN,40.139,-4.842,NaN,NaN,NaN
1999-10-01,21.0602,-963.150,3.594,3.041,1.3664,2.5167,7.670,0.035,0.9352,0.2797,...,NaN,1.2384,3.5396,105.7266,NaN,62.035,4.195,NaN,NaN,NaN
2000-01-01,4.0392,-363.725,3.269,2.953,2.3450,1.5273,4.918,0.196,0.3449,2.3453,...,NaN,0.4514,1.2430,79.6591,NaN,64.054,3.654,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,20.5820,784.425,-9.250,22.076,11.5041,-9.9603,30.812,6.957,2.7566,15.5425,...,33787.9190,368.4259,45.5904,195.9094,NaN,1236.940,94.746,NaN,NaN,NaN
2022-10-01,44.4358,727.825,-15.704,14.464,6.2467,-3.9869,29.202,1.989,-2.7629,9.2334,...,35948.1116,203.9604,51.6257,-968.5194,NaN,853.665,101.369,NaN,NaN,NaN
2023-01-01,5.9240,982.750,-4.885,6.749,2.3723,-1.4270,18.381,5.460,-2.1240,2.2473,...,39148.2745,84.0368,18.1034,-823.2169,NaN,-711.446,88.414,NaN,NaN,NaN
2023-04-01,4.6392,1303.525,-2.153,8.072,6.8360,-2.8518,14.525,-4.162,-1.2015,2.2056,...,41110.2951,-331.3618,2.3256,-355.5028,NaN,-313.667,40.510,NaN,NaN,NaN
2023-07-01,25.5082,309.025,4.597,4.786,3.3355,-8.8611,10.276,0.523,-1.9952,4.5082,...,41894.2017,-131.5163,-12.6807,-572.8893,NaN,129.366,35.834,NaN,NaN,NaN