In [6]:
import yfinance as yf
import pandas as pd
from datetime import date

In [2]:
currency_codes = {
    'United States': 'USD',  # US Dollar
    'Japan': 'JPY',  # Japanese Yuan
    'United Kingdom': 'GBP',  # Great British Pound
    'Canada': 'CAD',  # Canadian Dollar
    'France': '',
    'Switzerland': 'CHF',  # Swiss Frank
    'Germany': '',
    'Australia': 'AUD',  # Australian Dollar
    'Netherlands': '',
    'Denmark': 'DKK',  # Danish Krone
    'Sweden': 'SEK',  # Swedish Krona
    'Spain': '',
    'Hong Kong': 'HKD',  # Hong Kong Dollar
    'Italy': '',
    'Singapore': 'SGD',  # Singapore Dollar
    'Finland': '',
    'Belgium': '',
    'Norway': 'NOK',  # Norwegian Krone
    'Israel': 'ILS',  # Israeli Shekel
    'Ireland': '',
    'New Zealand': 'NZD',  # New Zealand Dollar
    'Austria': '',
    'Portugal': '',
    'Eurozona': '',

    'China': 'CNY',  # Chinese Yuan
    'Taiwan': 'TWD',  # New Taiwan Dollar
    'India': 'INR',  # Indian Rupee
    'Korea': 'KRW',  # South Korean Won
    'Brazil': 'BRL',  # Brazilian Real
    'Saudi Arabia': 'SAR',  # Saudi Riyal
    'South Africa': 'ZAR',  # South African Rand
    'Mexico': 'MXN',  # Mexican Peso
    'Thailand': 'THB',  # Thai Baht
    'Indonesia': 'IDR',  # Indonesian Rupiah
    'Malaysia': 'MYR',  # Malaysian Ringgit
    'United Arab Emirates': 'AED',  # UEA Dirham
    'Qatar': 'QAR',  # Qatari Riyal
    'Kuwait': 'KWD',  # Kuwaiti Dinar
    'Turkiye': 'TRY',  # Turkish Lira
    'Philippines': 'PHP',  # Philippine Peso
    'Poland': 'PLN',  # Polish Zloty
    'Chile': 'CLP',  # Chilean Peso
    'Greece': '',
    'Peru': 'PEN',  # Peru Sol
    'Hungary': 'HUF',  # Hungarian Forint
    'Czechia': 'CZK',  # Czech Korona
    'Egypt': 'EGP',  # Egyptian Pound
    'Colombia': 'COP',  # Colombian Peso
    'Argentina': 'ARS',  # Argentinian Peso
    'Russia': 'RUB'  # Russian Ruble
}

In [3]:
historic_data = pd.read_csv('currency_rates.csv', parse_dates=True,
                            index_col=0)
historic_data.tail()

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
2023-08-28,1.0797,158.208,0.8576,1.4677,1,0.9553,1,1.6826,1,7.4537,...,4.4659,899.28,1.0,3.9100,381.380,24.0883,33.2305,4374.8999,377.9980,102.1000
2023-08-29,1.0826,158.545,0.8584,1.4723,1,0.9564,1,1.6840,1,7.4522,...,4.4661,900.11,1.0,3.9161,383.216,24.1399,33.4220,4406.7002,378.8592,102.2378
2023-08-30,1.0869,158.669,0.8601,1.4736,1,0.9553,1,1.6782,1,7.4524,...,4.4636,909.22,1.0,3.9161,380.800,24.0818,33.6170,4407.6001,380.4061,103.7153
2023-08-31,1.0933,159.668,0.8597,1.4788,1,0.9597,1,1.6869,1,7.4520,...,4.4676,921.20,1.0,3.9371,379.282,24.0636,33.7520,4411.2002,382.3700,105.0434
2023-09-01,1.0933,159.668,0.8597,1.4788,1,0.9597,1,1.6869,1,7.4520,...,4.4676,921.20,1.0,3.9371,379.282,24.0636,33.7520,4411.2002,382.3700,105.0434

In [4]:
start_date = historic_data.last_valid_index()

In [7]:
end_date = date.today()
end_date = str(end_date)
end_date

'2023-09-26'

In [8]:
df = pd.DataFrame(index=pd.date_range(start_date, end_date, freq='B'),
                  columns=currency_codes)


for country in currency_codes:
    currency_code = currency_codes[country]
    if currency_code != '':
        currency_rates = yf.download(f'EUR{currency_code}=X', start_date)
        print(country, currency_rates.shape)
        df[country] = currency_rates['Adj Close']

[*********************100%%**********************]  1 of 1 completed
United States (18, 6)
[*********************100%%**********************]  1 of 1 completed
Japan (18, 6)
[*********************100%%**********************]  1 of 1 completed
United Kingdom (18, 6)
[*********************100%%**********************]  1 of 1 completed
Canada (18, 6)
[*********************100%%**********************]  1 of 1 completed
Switzerland (18, 6)
[*********************100%%**********************]  1 of 1 completed
Australia (18, 6)
[*********************100%%**********************]  1 of 1 completed
Denmark (18, 6)
[*********************100%%**********************]  1 of 1 completed
Sweden (18, 6)
[*********************100%%**********************]  1 of 1 completed
Hong Kong (18, 6)
[*********************100%%**********************]  1 of 1 completed
Singapore (18, 6)
[*********************100%%**********************]  1 of 1 completed
Norway (18, 6)
[*********************100%%**********************]  1 of 1 completed
Israel (18, 6)
[*********************100%%**********************]  1 of 1 completed
New Zealand (18, 6)
[*********************100%%**********************]  1 of 1 completed
China (18, 6)
[*********************100%%**********************]  1 of 1 completed
Taiwan (18, 6)
[*********************100%%**********************]  1 of 1 completed
India (18, 6)
[*********************100%%**********************]  1 of 1 completed
Korea (18, 6)
[*********************100%%**********************]  1 of 1 completed
Brazil (18, 6)
[*********************100%%**********************]  1 of 1 completed
Saudi Arabia (18, 6)
[*********************100%%**********************]  1 of 1 completed
South Africa (18, 6)
[*********************100%%**********************]  1 of 1 completed
Mexico (18, 6)
[*********************100%%**********************]  1 of 1 completed
Thailand (18, 6)
[*********************100%%**********************]  1 of 1 completed
Indonesia (18, 6)
[*********************100%%**********************]  1 of 1 completed
Malaysia (18, 6)
[*********************100%%**********************]  1 of 1 completed
United Arab Emirates (18, 6)
[*********************100%%**********************]  1 of 1 completed
Qatar (18, 6)
[*********************100%%**********************]  1 of 1 completed
Kuwait (18, 6)
[*********************100%%**********************]  1 of 1 completed
Turkiye (17, 6)
[*********************100%%**********************]  1 of 1 completed
Philippines (18, 6)
[*********************100%%**********************]  1 of 1 completed
Poland (18, 6)
[*********************100%%**********************]  1 of 1 completed
Chile (18, 6)
[*********************100%%**********************]  1 of 1 completed
Peru (18, 6)
[*********************100%%**********************]  1 of 1 completed
Hungary (18, 6)
[*********************100%%**********************]  1 of 1 completed
Czechia (18, 6)
[*********************100%%**********************]  1 of 1 completed
Egypt (18, 6)
[*********************100%%**********************]  1 of 1 completed
Colombia (18, 6)
[*********************100%%**********************]  1 of 1 completed
Argentina (18, 6)
[*********************100%%**********************]  1 of 1 completed
Russia (18, 6)

In [9]:
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
2023-09-01,1.084410,157.748993,0.85564,1.46492,NaN,0.95772,NaN,1.67132,NaN,7.45273,...,4.47071,910.780029,NaN,3.9405,380.770996,24.056200,33.481998,4405.899902,379.494385,103.960503
2023-09-04,1.077586,157.360001,0.85580,1.46450,NaN,0.95400,NaN,1.67008,NaN,7.45249,...,4.46310,910.390015,NaN,3.9258,384.075012,24.080999,33.364101,4384.600098,379.520294,103.000000
2023-09-05,1.079447,158.136002,0.85487,1.46747,NaN,0.95478,NaN,1.67097,NaN,7.45290,...,4.47033,903.969971,NaN,3.9199,382.014008,24.123699,33.327999,4340.200195,377.717987,104.573700
2023-09-06,1.072616,158.130005,0.85312,1.46260,NaN,0.95384,NaN,1.68212,NaN,7.45362,...,4.48820,912.280029,NaN,3.8883,387.269012,24.173500,33.147999,4299.000000,375.328094,105.046898
2023-09-07,1.072420,158.397003,0.85797,1.46261,NaN,0.95587,NaN,1.68042,NaN,7.45660,...,4.56540,925.570007,NaN,3.8915,389.066010,24.221300,33.106998,4344.200195,375.301697,105.545403
2023-09-08,1.069782,157.602997,0.85745,1.46375,NaN,0.95494,NaN,1.67728,NaN,7.45889,...,4.62170,919.020020,NaN,3.8872,386.931000,24.348200,33.027000,4309.000000,374.392303,105.361504
2023-09-11,1.071811,157.654007,0.85807,1.46048,NaN,0.95593,NaN,1.67501,NaN,7.45534,...,4.61661,932.609985,NaN,3.8929,385.679993,24.360701,32.914600,4255.399902,374.437500,104.199997
2023-09-12,1.075038,157.641006,0.85919,1.45938,NaN,0.95785,NaN,1.67130,NaN,7.45850,...,4.63530,947.760010,NaN,3.9113,383.553986,24.509399,33.215000,4259.000000,376.139893,102.494499
2023-09-13,1.075327,158.225006,0.86070,1.45723,NaN,0.95852,NaN,1.67283,NaN,7.45866,...,4.65410,941.599976,NaN,3.8802,384.886993,24.537800,33.207001,4225.700195,376.332489,103.236000
2023-09-14,1.073422,158.132004,0.85928,1.45441,NaN,0.95890,NaN,1.67129,NaN,7.45993,...,4.62100,946.179993,NaN,3.8929,383.696014,24.407200,33.143002,4231.700195,375.623810,103.254501
2023-09-15,1.063717,156.845993,0.85755,1.43733,NaN,0.95310,NaN,1.65341,NaN,7.45750,...,4.63424,930.250000,NaN,3.8919,384.109009,24.518400,32.891998,4181.799805,372.227203,102.434097
2023-09-18,1.066826,157.740997,0.86046,1.44251,NaN,0.95678,NaN,1.65635,NaN,7.45690,...,4.63590,933.669983,NaN,3.8807,383.432007,24.500500,32.831001,4134.200195,372.867401,102.250000
2023-09-19,1.069267,157.815002,0.86338,1.44204,NaN,0.95937,NaN,1.66029,NaN,7.45393,...,4.63927,929.750000,NaN,3.8873,383.329010,24.409401,33.014999,4142.399902,374.215088,102.587700
2023-09-20,1.068205,157.804993,0.86183,1.43578,NaN,0.95845,NaN,1.65233,NaN,7.45245,...,4.65909,932.609985,NaN,3.8914,383.531006,24.427700,32.980999,4118.299805,373.819489,104.120697
2023-09-21,1.065303,157.972000,0.86391,1.43537,NaN,0.95794,NaN,1.65494,NaN,7.45215,...,4.61255,932.869995,NaN,3.8841,384.071991,24.380699,32.887001,4156.500000,372.767914,102.275597
2023-09-22,1.066155,157.397003,0.86712,1.43672,NaN,0.96431,NaN,1.66327,NaN,7.45431,...,4.61030,925.460022,NaN,3.8854,387.700012,24.433399,32.915001,4127.100098,373.129211,102.450302
2023-09-25,1.064849,158.044006,0.86975,1.43460,NaN,0.96588,NaN,1.65318,NaN,7.45493,...,4.60298,930.909973,NaN,3.8986,389.257996,24.408100,32.713699,4154.200195,372.189087,101.750000
2023-09-26,1.058313,157.487000,0.86941,1.42869,NaN,0.96682,NaN,1.65034,NaN,7.45601,...,4.60712,954.219971,NaN,3.9794,390.390015,24.431999,32.743099,4299.759766,370.342896,102.082001

In [10]:
# Fill ones for countries in Eurozone
for country in currency_codes:
    if currency_codes[country] == '':
        df[country] = 1

In [18]:
# Fill any missing data and round results
df = df.ffill(limit=1)
df = df.round(4)

In [17]:
# Check for NAs
df.loc[:, df.isna().sum() > 0].isna().sum()

Series([], dtype: float64)

In [14]:
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
2023-09-01,1.0844,157.749,0.8556,1.4649,1,0.9577,1,1.6713,1,7.4527,...,4.4707,910.78,1,3.9405,380.771,24.0562,33.4820,4405.8999,379.4944,103.9605
2023-09-04,1.0776,157.360,0.8558,1.4645,1,0.9540,1,1.6701,1,7.4525,...,4.4631,910.39,1,3.9258,384.075,24.0810,33.3641,4384.6001,379.5203,103.0000
2023-09-05,1.0794,158.136,0.8549,1.4675,1,0.9548,1,1.6710,1,7.4529,...,4.4703,903.97,1,3.9199,382.014,24.1237,33.3280,4340.2002,377.7180,104.5737
2023-09-06,1.0726,158.130,0.8531,1.4626,1,0.9538,1,1.6821,1,7.4536,...,4.4882,912.28,1,3.8883,387.269,24.1735,33.1480,4299.0000,375.3281,105.0469
2023-09-07,1.0724,158.397,0.8580,1.4626,1,0.9559,1,1.6804,1,7.4566,...,4.5654,925.57,1,3.8915,389.066,24.2213,33.1070,4344.2002,375.3017,105.5454
2023-09-08,1.0698,157.603,0.8575,1.4638,1,0.9549,1,1.6773,1,7.4589,...,4.6217,919.02,1,3.8872,386.931,24.3482,33.0270,4309.0000,374.3923,105.3615
2023-09-11,1.0718,157.654,0.8581,1.4605,1,0.9559,1,1.6750,1,7.4553,...,4.6166,932.61,1,3.8929,385.680,24.3607,32.9146,4255.3999,374.4375,104.2000
2023-09-12,1.0750,157.641,0.8592,1.4594,1,0.9578,1,1.6713,1,7.4585,...,4.6353,947.76,1,3.9113,383.554,24.5094,33.2150,4259.0000,376.1399,102.4945
2023-09-13,1.0753,158.225,0.8607,1.4572,1,0.9585,1,1.6728,1,7.4587,...,4.6541,941.60,1,3.8802,384.887,24.5378,33.2070,4225.7002,376.3325,103.2360
2023-09-14,1.0734,158.132,0.8593,1.4544,1,0.9589,1,1.6713,1,7.4599,...,4.6210,946.18,1,3.8929,383.696,24.4072,33.1430,4231.7002,375.6238,103.2545
2023-09-15,1.0637,156.846,0.8576,1.4373,1,0.9531,1,1.6534,1,7.4575,...,4.6342,930.25,1,3.8919,384.109,24.5184,32.8920,4181.7998,372.2272,102.4341
2023-09-18,1.0668,157.741,0.8605,1.4425,1,0.9568,1,1.6564,1,7.4569,...,4.6359,933.67,1,3.8807,383.432,24.5005,32.8310,4134.2002,372.8674,102.2500
2023-09-19,1.0693,157.815,0.8634,1.4420,1,0.9594,1,1.6603,1,7.4539,...,4.6393,929.75,1,3.8873,383.329,24.4094,33.0150,4142.3999,374.2151,102.5877
2023-09-20,1.0682,157.805,0.8618,1.4358,1,0.9585,1,1.6523,1,7.4524,...,4.6591,932.61,1,3.8914,383.531,24.4277,32.9810,4118.2998,373.8195,104.1207
2023-09-21,1.0653,157.972,0.8639,1.4354,1,0.9579,1,1.6549,1,7.4521,...,4.6125,932.87,1,3.8841,384.072,24.3807,32.8870,4156.5000,372.7679,102.2756
2023-09-22,1.0662,157.397,0.8671,1.4367,1,0.9643,1,1.6633,1,7.4543,...,4.6103,925.46,1,3.8854,387.700,24.4334,32.9150,4127.1001,373.1292,102.4503
2023-09-25,1.0648,158.044,0.8698,1.4346,1,0.9659,1,1.6532,1,7.4549,...,4.6030,930.91,1,3.8986,389.258,24.4081,32.7137,4154.2002,372.1891,101.7500
2023-09-26,1.0583,157.487,0.8694,1.4287,1,0.9668,1,1.6503,1,7.4560,...,4.6071,954.22,1,3.9794,390.390,24.4320,32.7431,4299.7598,370.3429,102.0820

In [15]:
df_new = pd.concat([historic_data.iloc[:-1], df])
df_new

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-04,1.1827,132.350,0.7130,1.8060,1,1.6157,1,1.9026,1,7.4508,...,4.0686,NaN,NaN,3.7428,251.410,35.1205,4.0317,1819.5000,NaN,25.3820
1999-01-05,1.1764,131.080,0.7111,1.7794,1,1.6130,1,1.8914,1,7.4392,...,4.0177,NaN,NaN,3.7355,250.605,34.9050,4.0119,1792.5000,NaN,26.7650
1999-01-06,1.1618,131.190,0.7020,1.7554,1,1.6178,1,1.8472,1,7.4472,...,3.9767,NaN,NaN,3.6967,249.700,34.7840,3.9601,1777.5000,NaN,27.0110
1999-01-07,1.1709,130.130,0.7095,1.7725,1,1.6138,1,1.8432,1,7.4490,...,4.0453,NaN,NaN,3.7350,250.430,34.9210,3.9911,1803.0000,NaN,27.1640
1999-01-08,1.1575,128.510,0.7048,1.7509,1,1.6141,1,1.8233,1,7.4443,...,4.0223,NaN,NaN,3.6942,249.540,35.0385,3.9456,1772.0000,NaN,26.9990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-20,1.0682,157.805,0.8618,1.4358,1,0.9585,1,1.6523,1,7.4524,...,4.6591,932.61,1.0,3.8914,383.531,24.4277,32.9810,4118.2998,373.8195,104.1207
2023-09-21,1.0653,157.972,0.8639,1.4354,1,0.9579,1,1.6549,1,7.4521,...,4.6125,932.87,1.0,3.8841,384.072,24.3807,32.8870,4156.5000,372.7679,102.2756
2023-09-22,1.0662,157.397,0.8671,1.4367,1,0.9643,1,1.6633,1,7.4543,...,4.6103,925.46,1.0,3.8854,387.700,24.4334,32.9150,4127.1001,373.1292,102.4503
2023-09-25,1.0648,158.044,0.8698,1.4346,1,0.9659,1,1.6532,1,7.4549,...,4.6030,930.91,1.0,3.8986,389.258,24.4081,32.7137,4154.2002,372.1891,101.7500
2023-09-26,1.0583,157.487,0.8694,1.4287,1,0.9668,1,1.6503,1,7.4560,...,4.6071,954.22,1.0,3.9794,390.390,24.4320,32.7431,4299.7598,370.3429,102.0820

In [16]:
df_new.to_csv('currency_rates.csv')