In [1]:
import pandas as pd
from InvestingCalendarPreprocessor import InvestingCalendarPreprocessor
preprocessor = InvestingCalendarPreprocessor()

from SqlAlquemyInsertIndicatorsHandler import SqlAlquemyInsertIndicatorsHandler
from dotenv import load_dotenv
load_dotenv()

pd.set_option('display.max_columns', None)

In [2]:
def save_to_database(indicator, df):
    sql_handler = SqlAlquemyInsertIndicatorsHandler()
    indicator_id = sql_handler.get_indicator_id(indicator, 'Investing')

    sql_handler.delete_all_records(indicator_id)
    initial_count = sql_handler.get_indicator_count(indicator_id)
    for country in df.columns:
        values = df[country].dropna()
        if (len(values) > 0):
            sql_handler.insert_into_table(indicator_id, country, values)

    final_count = sql_handler.get_indicator_count(indicator_id)
    print(f'{indicator}: Inserted', (final_count-initial_count), 'records')

In [3]:
selected_countries = [
    'United States', 'Japan', 'United Kingdom', 'Canada', 'France',
    'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Sweden', 'Spain',
    'Italy', 'Belgium', 'Norway', 'Israel', 'Ireland', 'Austria', 'China',
    'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa',
    'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Argentina', 'Russia']

## GDP

In [4]:
df_annual_gdp = preprocessor.process_quaterly_indicator('GDP (YoY)', 'GDP Quarterly (YoY)')
df_annual_gdp

3255 indicators read
Missing countries
['United States', 'Belgium', 'Norway', 'Israel', 'Austria', 'Kuwait', 'Egypt']
Data coverage since 1999 (50 countries): 39.6 %
Data coverage since 2013 (30 countries): 74.7 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Dec),1998-12-01 00:00:00,3.49
1999-01-01,1999-02-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Jan),1999-01-01 00:00:00,6.92
1999-02-01,1999-03-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Feb),1999-02-01 00:00:00,6.22
1999-03-01,1999-04-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Mar),1999-03-01 00:00:00,7.40
1999-04-01,1999-05-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Apr),1999-04-01 00:00:00,4.30
...,...,...,...,...,...,...
2023-07-01,2023-12-22 02:00:00,Denmark,GDP (YoY),GDP (YoY) (Q3),2023-07-01 00:00:00,-0.30
2023-07-01,2023-12-22 03:00:00,Spain,GDP (YoY),Spanish GDP (YoY) (Q3),2023-07-01 00:00:00,1.80
2023-10-01,2024-01-01 19:00:00,Singapore,GDP (YoY),GDP (YoY) (Q4),2023-10-01 00:00:00,2.80
2023-07-01,2024-01-05 03:00:00,Czechia,GDP (YoY),GDP (YoY) (Q3),2023-07-01 00:00:00,-0.80
2024-11-01,2024-01-12 02:00:00,United Kingdom,GDP (YoY),GDP (YoY) (Nov),2024-11-01 00:00:00,0.20

In [5]:
df_annual_gdp_countries = preprocessor.transform_to_countries_df(df_annual_gdp, freq='Q')
df_annual_gdp_countries[selected_countries]['2022-01':'2023-07']

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2022-01-01,NaN,-0.5,8.7,2.89,4.5,4.4,4.0,3.3,6.7,3.0,6.3,6.2,NaN,NaN,NaN,11.0,NaN,4.8,3.14,13.5,3.0,1.7,9.9,3.0,1.8,5.01,7.3,8.5,6.0,3.5
2022-04-01,NaN,3.5,4.4,4.3,4.2,2.8,1.8,3.6,5.1,3.8,6.8,4.7,NaN,NaN,NaN,11.1,NaN,0.4,3.05,6.3,2.9,3.2,12.2,0.2,2.0,5.44,7.6,5.5,6.9,-4.1
2022-07-01,NaN,-0.8,1.9,3.1,1.0,0.5,1.2,5.9,3.1,2.5,4.4,2.6,NaN,NaN,NaN,10.9,NaN,3.9,4.01,4.4,3.1,3.6,8.8,4.1,4.3,5.72,3.9,3.6,5.9,-3.7
2022-10-01,NaN,0.1,0.6,2.07,0.5,0.8,0.3,2.7,3.2,-0.9,2.6,1.4,NaN,NaN,NaN,12.0,NaN,2.9,-0.41,6.1,1.3,1.9,5.5,0.9,3.6,5.01,3.5,2.0,1.9,-2.7
2023-01-01,NaN,2.7,0.2,2.21,0.8,0.6,-0.2,2.3,1.9,0.8,4.2,1.9,NaN,NaN,NaN,-0.2,NaN,4.5,-2.87,7.8,0.9,4.0,3.8,0.2,3.7,5.03,4.0,-0.3,1.3,-1.8
2023-04-01,NaN,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,2.2,0.4,NaN,NaN,NaN,-0.7,NaN,6.3,1.36,7.6,0.9,3.4,1.2,1.6,3.6,5.17,3.8,-0.6,-4.9,4.9
2023-07-01,NaN,-2.9,0.3,0.47,0.6,0.3,-0.4,2.1,-0.8,-1.4,1.8,0.1,NaN,NaN,NaN,-5.8,NaN,4.9,2.32,NaN,1.4,2.0,-4.4,-0.7,3.3,4.94,5.9,0.5,-0.8,5.5

In [6]:
historic_annual_gdp = pd.read_csv('../OECD_Stats/KeyIndicators/gdp_annual_growth_rate.csv', index_col=0, parse_dates=True)
historic_annual_gdp[selected_countries]['2022':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2022-01-01,3.57,0.46,11.41,3.94,4.32,4.95,3.96,3.63,6.43,5.09,6.82,6.35,5.07,3.66,10.08,9.24,8.84,4.8,3.90,3.63,3.10,1.45,11.87,2.31,2.99,4.69,7.30,10.09,5.88,3.5
2022-04-01,1.87,1.17,3.90,5.25,3.79,3.30,1.56,3.53,5.07,4.32,7.23,5.13,3.81,4.36,7.66,8.99,6.60,0.4,2.90,13.11,2.96,3.47,10.95,0.15,3.30,5.30,6.99,6.52,7.69,-4.1
2022-07-01,1.71,1.51,2.06,3.99,1.32,1.40,1.25,5.75,3.10,2.87,5.35,2.61,1.90,2.31,5.93,9.23,2.05,3.9,3.60,5.50,3.07,4.36,7.59,3.88,4.97,6.09,3.78,4.96,5.34,-3.7
2022-10-01,0.65,0.63,0.66,2.15,0.78,1.14,0.82,2.31,3.07,-0.11,3.81,1.63,1.38,1.60,2.68,10.73,2.23,2.9,-0.80,4.64,1.34,3.25,6.26,1.35,4.51,5.16,3.35,0.76,1.10,-2.7
2023-01-01,1.72,2.48,0.46,1.80,0.95,1.51,-0.18,2.37,2.08,1.28,4.12,2.12,1.68,2.58,4.09,2.38,1.67,4.5,-3.30,6.29,1.01,3.72,2.47,0.22,3.50,4.96,2.88,-1.35,1.23,-1.8
2023-04-01,2.38,2.27,0.56,1.19,1.17,0.40,0.09,2.05,-0.07,-0.38,2.03,0.34,1.31,0.91,3.34,-0.42,-1.29,6.3,1.36,7.28,0.87,3.40,0.76,1.53,3.44,4.92,4.79,-0.30,-3.30,4.9
2023-07-01,3.00,1.63,0.61,0.46,0.56,0.43,-0.40,2.05,-0.39,-1.45,1.81,0.14,1.40,-1.49,3.40,-5.62,-1.64,4.9,2.32,7.02,1.25,2.47,-3.63,-0.48,3.29,4.93,4.51,0.57,NaN,5.5

### GDP Growth Rate / GDP (QoQ)

In [7]:
gdp_qoq = preprocessor.process_quaterly_indicator('GDP (QoQ)', 'GDP Annualized (QoQ)')

3201 indicators read
Missing countries
['Taiwan', 'India', 'Saudi Arabia', 'Malaysia', 'United Arab Emirates', 'Kuwait', 'Turkiye', 'Chile', 'Peru', 'Hungary', 'Egypt', 'Argentina', 'Russia']
Data coverage since 1999 (50 countries): 36.2 %
Data coverage since 2013 (30 countries): 76.4 %

In [8]:
gdp_qoq[gdp_qoq['Country'] == 'Brazil'].tail(20)

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
2018-10-01,2019-02-28 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q4),2018-10-01 00:00:00,0.1
2019-01-01,2019-05-30 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q1),2019-01-01 00:00:00,-0.2
2019-04-01,2019-08-29 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q2),2019-04-01 00:00:00,0.4
2019-07-01,2019-12-03 06:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q3),2019-07-01 00:00:00,0.6
2019-10-01,2020-03-04 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q4),2019-10-01 00:00:00,0.5
2020-01-01,2020-05-29 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q1),2020-01-01 00:00:00,-1.5
2020-04-01,2020-09-01 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q2),2020-04-01 00:00:00,-9.7
2020-07-01,2020-12-03 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q3),2020-07-01 00:00:00,7.7
2020-10-01,2021-03-03 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q4),2020-10-01 00:00:00,3.2
2021-01-01,2021-06-01 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q1),2021-01-01 00:00:00,1.2
2021-04-01,2021-09-01 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q2),2021-04-01 00:00:00,-0.1
2021-07-01,2021-12-02 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q3),2021-07-01 00:00:00,-0.1
2021-10-01,2022-03-04 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q4),2021-10-01 00:00:00,0.5
2022-01-01,2022-06-02 06:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q1),2022-01-01 00:00:00,1.0
2022-04-01,2022-09-01 06:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q2),2022-04-01 00:00:00,1.2
2022-07-01,2022-12-01 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q3),2022-07-01 00:00:00,0.4
2022-10-01,2023-03-02 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q4),2022-10-01 00:00:00,-0.2
2022-10-01,2023-06-01 06:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q4),2022-10-01 00:00:00,1.9
2023-04-01,2023-09-01 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q2),2023-04-01 00:00:00,0.9
2023-07-01,2023-12-05 07:00:00,Brazil,GDP (QoQ),GDP (QoQ) (Q3),2023-07-01 00:00:00,0.1

In [9]:
gdp_qoq_countries = preprocessor.transform_to_countries_df(gdp_qoq, freq='Q')
gdp_qoq_countries[selected_countries]['2022-01':'2023-07']

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2022-01-01,-1.6,-0.1,0.8,3.1,-0.2,0.5,0.2,0.8,0.4,-0.8,0.2,0.1,0.5,-1.0,-1.8,10.8,1.5,1.3,NaN,NaN,0.6,1.0,NaN,1.9,1.0,-0.96,NaN,2.5,NaN,NaN
2022-04-01,-0.6,0.9,0.2,3.3,0.5,0.3,0.1,0.9,2.6,0.9,1.5,1.1,0.2,0.7,6.9,1.8,1.5,-2.6,NaN,NaN,0.7,1.2,NaN,-0.7,0.9,3.72,NaN,-2.1,NaN,NaN
2022-07-01,3.2,-0.2,-0.3,2.9,0.2,0.2,0.4,0.6,-0.2,0.6,0.1,0.5,0.2,1.5,1.9,2.3,0.2,3.9,NaN,NaN,0.3,0.4,NaN,1.6,0.9,1.81,NaN,1.0,NaN,NaN
2022-10-01,2.6,0.0,0.1,0.0,0.1,0.0,-0.4,0.5,0.6,-0.9,0.2,-0.1,0.1,0.2,5.3,0.3,-0.7,0.0,NaN,NaN,-0.4,1.9,NaN,-1.3,0.5,0.36,NaN,-2.4,NaN,NaN
2023-01-01,2.0,0.7,0.1,3.1,0.2,0.3,-0.3,0.2,-0.3,0.6,0.6,0.6,0.5,0.2,3.2,-4.6,0.0,2.2,NaN,NaN,0.3,NaN,NaN,0.4,1.0,-0.92,NaN,3.8,NaN,NaN
2023-04-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,0.5,-0.4,0.2,0.0,3.1,0.5,-0.7,0.8,NaN,NaN,0.6,0.9,NaN,0.6,0.8,3.86,NaN,-2.2,NaN,NaN
2023-07-01,4.9,-0.7,-0.1,-1.1,-0.1,0.3,-0.1,0.2,-0.3,-0.3,0.3,0.1,0.4,-0.5,2.5,-1.9,-0.5,1.3,NaN,NaN,0.6,0.1,NaN,-0.2,1.1,1.6,NaN,1.5,NaN,NaN

In [10]:
historic_gdp_growth_rate = pd.read_csv('../OECD_Stats/KeyIndicators/gdp_growth_rate.csv', index_col=0, parse_dates=True)
historic_gdp_growth_rate[selected_countries]['2022':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2022-01-01,-0.50,-0.60,0.53,0.96,-0.10,-0.06,1.00,0.48,0.49,-0.88,0.26,0.09,0.12,-0.74,-0.60,6.13,0.64,0.8,0.96,0.49,0.66,0.98,2.54,1.53,1.55,1.02,0.21,3.27,0.76,NaN
2022-04-01,-0.14,1.08,0.09,0.94,0.39,0.98,-0.13,0.76,1.72,0.85,2.49,1.39,0.70,1.13,1.54,2.44,1.86,-2.3,-2.31,0.95,0.75,1.30,1.19,-0.84,0.99,0.91,1.41,-0.77,1.71,NaN
2022-07-01,0.66,-0.10,-0.09,0.46,0.50,0.25,0.36,0.20,0.13,0.78,0.53,0.30,0.31,1.90,0.65,3.49,-0.16,3.7,0.88,1.98,0.23,1.05,1.23,1.77,1.22,0.80,0.54,0.62,0.45,NaN
2022-10-01,0.64,0.25,0.13,-0.22,0.00,-0.03,-0.41,0.85,0.70,-0.85,0.49,-0.15,0.24,-0.67,1.08,-1.58,-0.11,0.8,-0.25,1.14,-0.30,-0.12,1.16,-1.09,0.68,2.34,1.15,-2.28,-1.80,NaN
2023-01-01,0.56,1.23,0.32,0.61,0.06,0.31,0.00,0.53,-0.48,0.50,0.56,0.57,0.41,0.21,0.76,-1.88,0.09,2.3,-1.00,2.08,0.33,1.44,-1.12,0.41,0.57,0.84,-0.25,1.10,0.89,NaN
2023-04-01,0.51,0.88,0.19,0.34,0.61,-0.13,0.14,0.44,-0.42,-0.81,0.44,-0.38,0.33,-0.51,0.81,-0.36,-1.11,0.5,1.82,1.89,0.61,0.98,-0.51,0.46,0.93,0.87,3.31,0.30,-2.84,NaN
2023-07-01,1.26,-0.73,-0.03,-0.27,-0.11,0.27,-0.13,0.21,-0.19,-0.29,0.32,0.10,0.40,-0.52,0.70,-1.91,-0.52,1.3,1.90,1.74,0.62,0.14,-3.18,-0.25,1.07,0.81,0.27,1.49,NaN,NaN

## Labour

### Unemployment Rate

In [11]:
df_unemployment = preprocessor.process_monthly_indicator('Unemployment Rate')
df_unemployment

10018 indicators read
Missing countries
['Belgium', 'Ireland', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Egypt']
Data coverage since 1999 (50 countries): 53.8 %
Data coverage since 2013 (30 countries): 65.9 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Unemployment Rate,Unemployment Rate (Dec),1998-12-01 00:00:00,6.1
1998-12-01,1999-01-01 04:00:00,Canada,Unemployment Rate,Unemployment Rate (Dec),1998-12-01 00:00:00,8.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Unemployment Rate,Unemployment Rate s.a. (Dec),1998-12-01 00:00:00,3.2
1998-12-01,1999-01-01 04:00:00,Germany,Unemployment Rate,German Unemployment Rate (Dec),1998-12-01 00:00:00,10.8
1998-12-01,1999-01-01 04:00:00,Australia,Unemployment Rate,Unemployment Rate (Dec),1998-12-01 00:00:00,7.2
...,...,...,...,...,...,...
2023-12-01,2024-01-09 03:00:00,Czechia,Unemployment Rate,Unemployment Rate (Dec),2023-12-01 00:00:00,3.7
2024-11-01,2024-01-09 04:00:00,Italy,Unemployment Rate,Italian Monthly Unemployment Rate (Nov),2024-11-01 00:00:00,7.5
2024-11-01,2024-01-09 05:00:00,Eurozone,Unemployment Rate,Unemployment Rate (Nov),2024-11-01 00:00:00,6.4
2023-12-01,2024-01-09 18:00:00,Korea,Unemployment Rate,Unemployment Rate (Dec),2023-12-01 00:00:00,3.3
2023-12-01,2024-01-09 23:00:00,Malaysia,Unemployment Rate,Unemployment Rate,2023-12-01 00:00:00,3.3

In [12]:
df_unemployment[df_unemployment['Country'] == 'South Africa']['2023':]

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
2023-01-01,2023-05-16 04:30:00,South Africa,Unemployment Rate,Unemployment Rate (Q1),2023-01-01 00:00:00,32.9
2023-04-01,2023-08-15 04:30:00,South Africa,Unemployment Rate,Unemployment Rate (Q2),2023-04-01 00:00:00,32.6
2023-07-01,2023-11-14 04:30:00,South Africa,Unemployment Rate,Unemployment Rate (Q3),2023-07-01 00:00:00,31.9

In [13]:
unemployment_rate = preprocessor.transform_to_countries_df(df_unemployment, freq='M')
unemployment_rate[selected_countries]['2023-01':'2023-10']

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2023-01-01,3.4,2.4,3.7,5.0,7.1,1.9,5.5,3.7,3.6,7.6,13.26,7.9,NaN,3.4,4.3,NaN,7.6,NaN,3.6,NaN,2.9,NaN,NaN,32.9,2.9,NaN,NaN,5.5,6.9,3.6
2023-02-01,3.6,2.6,3.8,5.0,NaN,1.9,5.5,3.5,3.5,8.2,NaN,8.0,NaN,3.9,3.9,NaN,7.0,5.6,3.58,NaN,2.6,8.4,NaN,NaN,2.7,NaN,NaN,5.5,NaN,3.5
2023-03-01,3.5,2.8,3.9,5.0,NaN,1.9,5.6,3.5,3.5,7.7,NaN,7.8,NaN,3.7,3.9,NaN,6.2,5.3,3.59,NaN,2.7,8.6,NaN,NaN,2.8,NaN,NaN,5.4,NaN,3.5
2023-04-01,3.4,2.6,3.8,5.0,7.2,1.9,5.6,3.7,3.4,7.5,11.6,7.8,NaN,3.5,3.6,NaN,6.2,5.2,3.56,NaN,2.6,8.8,NaN,32.6,2.8,NaN,NaN,5.2,6.2,3.3
2023-05-01,3.7,2.6,4.0,5.2,NaN,2.0,5.6,3.6,3.5,7.9,NaN,7.6,NaN,3.0,3.6,NaN,5.9,5.2,3.5,NaN,2.5,8.5,NaN,NaN,3.0,NaN,NaN,5.1,NaN,3.2
2023-06-01,3.6,2.5,4.2,5.4,NaN,2.0,5.7,3.5,3.5,9.2,NaN,7.4,NaN,3.4,3.6,NaN,5.7,5.2,3.45,NaN,2.6,8.3,NaN,NaN,2.7,NaN,NaN,5.0,NaN,3.1
2023-07-01,3.5,2.7,4.3,5.5,7.4,2.1,5.6,3.7,3.6,6.2,11.84,7.6,NaN,3.5,3.4,NaN,5.9,5.3,3.43,NaN,2.8,8.0,NaN,31.9,2.9,NaN,NaN,5.0,5.7,3.0
2023-08-01,3.8,2.7,4.2,5.5,NaN,2.1,5.7,3.7,3.6,7.7,NaN,7.3,NaN,3.6,3.1,NaN,6.1,5.2,3.42,NaN,2.4,7.9,NaN,NaN,2.7,NaN,NaN,5.0,NaN,3.0
2023-09-01,3.8,2.6,4.2,5.5,NaN,2.1,5.7,3.6,3.7,7.7,NaN,7.4,NaN,3.5,3.2,NaN,5.9,5.0,3.48,NaN,2.6,7.8,NaN,NaN,2.7,NaN,NaN,5.0,NaN,3.0
2023-10-01,3.9,2.5,4.2,5.7,NaN,2.1,5.8,3.7,3.6,7.4,NaN,7.8,NaN,3.6,3.1,NaN,6.3,5.0,3.41,NaN,2.5,7.7,NaN,NaN,2.6,NaN,NaN,5.0,NaN,2.9

In [14]:
monthly_unemployment = pd.read_csv('../OECD_Stats/KeyIndicators/monthly_unemployment.csv', index_col=0, parse_dates=True)
monthly_unemployment[selected_countries]['2023':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2023-01-01,3.4,2.4,3.8,5.0,7.1,2.2,3.0,3.66,3.6,7.3,13.0,8.0,5.6,3.6,4.2,4.2,5.1,5.5,3.60,7.1,2.9,8.4,5.1,32.9,2.89,5.4,9.7,2.7,6.9,3.6
2023-02-01,3.6,2.6,3.9,5.0,7.1,2.1,2.9,3.55,3.5,7.6,12.8,7.9,5.6,3.8,3.9,4.1,4.9,5.6,3.60,7.5,2.6,8.6,NaN,NaN,2.70,NaN,10.1,2.6,NaN,3.5
2023-03-01,3.5,2.8,3.8,5.0,7.1,2.0,2.9,3.52,3.5,7.3,12.5,7.8,5.6,3.8,3.7,4.1,4.5,5.3,3.60,7.8,2.7,8.8,NaN,NaN,2.72,NaN,10.0,2.7,NaN,3.5
2023-04-01,3.4,2.6,4.0,5.0,7.2,2.0,2.9,3.69,3.4,7.2,12.1,7.8,5.6,3.6,3.6,4.1,5.1,5.2,3.50,8.1,2.6,8.5,4.9,32.6,2.94,5.4,10.0,2.7,6.2,3.3
2023-05-01,3.7,2.6,4.2,5.2,7.3,1.9,2.9,3.57,3.5,7.2,11.9,7.7,5.6,3.1,3.6,4.1,4.7,5.2,3.40,7.7,2.5,8.3,NaN,NaN,2.98,NaN,9.5,2.8,NaN,3.2
2023-06-01,3.6,2.5,4.3,5.4,7.3,1.9,3.0,3.48,3.5,8.0,11.9,7.5,5.6,3.4,3.6,4.4,5.1,5.2,3.40,8.5,2.6,8.0,NaN,NaN,2.67,NaN,9.5,2.8,NaN,3.1
2023-07-01,3.5,2.7,NaN,5.5,7.4,1.9,3.0,3.74,3.6,7.1,12.0,7.8,5.3,3.6,3.4,4.4,5.7,5.3,3.40,7.9,2.8,7.9,NaN,31.9,2.93,NaN,9.3,2.8,6.2,3.0
2023-08-01,3.8,2.7,NaN,5.5,7.4,2.0,3.0,3.70,3.6,8.1,11.9,7.5,5.3,3.6,3.1,4.5,5.4,5.2,3.40,8.1,2.4,7.8,NaN,NaN,2.75,NaN,9.2,2.8,NaN,3.0
2023-09-01,3.8,2.6,4.2,5.5,7.3,2.0,3.1,3.55,3.7,8.2,12.0,7.6,5.4,3.5,3.2,4.7,5.5,5.0,3.44,7.1,2.6,7.7,NaN,NaN,2.69,NaN,9.1,2.8,NaN,3.0
2023-10-01,3.9,2.5,NaN,5.7,7.3,2.0,3.1,3.72,3.6,7.9,12.0,7.8,5.6,3.6,3.1,4.8,5.1,5.0,3.41,NaN,2.5,7.6,NaN,NaN,2.66,NaN,NaN,2.8,6.3,2.9

## Prices

### Inflation Rate

In [15]:
df_cpi_yoy = preprocessor.process_monthly_indicator('CPI (YoY)')
df_cpi_yoy

17378 indicators read
Missing countries
['Indonesia', 'Chile', 'Peru']
Data coverage since 1999 (50 countries): 80.0 %
Data coverage since 2013 (30 countries): 86.5 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,1.60
1998-12-01,1999-01-01 04:00:00,United States,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,1.60
1998-12-01,1999-01-01 04:00:00,Canada,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,1.00
1998-12-01,1999-01-01 04:00:00,Mexico,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,18.61
1998-12-01,1999-01-01 04:00:00,Sweden,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,-1.10
...,...,...,...,...,...,...
2023-12-01,2024-01-12 02:45:00,France,CPI (YoY),French CPI (YoY),2023-12-01 00:00:00,3.70
2023-12-01,2024-01-12 03:00:00,Spain,CPI (YoY),Spanish CPI (YoY) (Dec),2023-12-01 00:00:00,3.10
2023-12-01,2024-01-12 05:00:00,Greece,CPI (YoY),Greek CPI (YoY) (Dec),2023-12-01 00:00:00,3.50
2023-12-01,2024-01-12 07:00:00,India,CPI (YoY),CPI (YoY) (Dec),2023-12-01 00:00:00,5.69
2023-12-01,2024-01-12 11:00:00,Russia,CPI (YoY),CPI (YoY) (Dec),2023-12-01 00:00:00,7.40

In [16]:
cpi_yoy_countries = preprocessor.transform_to_countries_df(df_cpi_yoy, freq='M')
cpi_yoy_countries[selected_countries]['2023-01':'2023-10']

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2023-01-01,6.4,4.3,10.1,5.9,6.0,3.3,8.7,7.0,7.6,11.7,5.9,10.0,8.05,7.0,5.4,7.8,NaN,2.1,3.04,6.52,5.2,5.77,3.4,6.9,7.91,NaN,57.68,17.2,98.8,11.8
2023-02-01,6.0,3.3,10.4,5.2,6.3,3.4,8.7,NaN,8.0,12.0,6.0,9.1,6.62,6.3,5.2,8.5,NaN,1.0,2.43,6.44,4.8,5.6,3.0,7.0,7.62,NaN,55.18,18.4,102.5,11.0
2023-03-01,5.0,3.2,10.1,4.3,5.7,2.9,7.4,NaN,4.4,10.6,3.3,7.6,6.67,6.5,5.0,7.7,NaN,0.7,2.35,5.66,4.2,4.65,2.7,7.1,6.85,NaN,50.51,16.1,104.3,3.5
2023-04-01,4.9,3.5,8.7,4.4,5.9,2.6,7.2,6.0,5.2,10.5,4.1,8.2,5.6,6.4,5.0,7.2,NaN,0.1,2.35,4.7,3.7,4.18,2.7,6.8,6.25,NaN,43.68,14.7,108.8,2.3
2023-05-01,4.0,3.2,8.7,3.4,5.1,2.2,6.1,NaN,6.1,9.7,3.2,7.6,5.2,6.7,4.6,6.6,9.0,0.2,2.02,4.25,3.3,3.94,2.8,6.3,5.84,NaN,39.59,13.0,114.2,2.5
2023-06-01,3.0,3.3,7.9,2.8,4.5,1.7,6.4,NaN,5.7,9.3,1.9,6.4,4.15,6.4,4.2,6.1,7.98,0.0,1.75,4.81,2.7,3.16,2.7,5.4,5.06,NaN,38.21,11.5,115.6,3.2
2023-07-01,3.2,3.3,6.8,3.3,4.3,1.6,6.2,5.4,4.6,9.3,2.3,5.9,4.14,5.4,3.3,5.8,7.02,-0.3,1.88,7.44,2.3,3.99,2.3,4.7,4.79,NaN,47.83,10.8,113.4,4.3
2023-08-01,3.7,3.2,6.7,4.0,4.8,1.6,6.1,NaN,3.0,7.5,2.6,5.4,4.09,4.8,4.1,6.3,7.37,0.1,2.52,6.83,3.4,4.61,2.0,4.8,4.64,NaN,58.94,10.1,125.2,5.2
2023-09-01,3.7,3.0,6.7,3.8,4.9,1.7,4.5,NaN,0.2,6.5,3.5,5.3,0.36,3.3,3.8,6.4,6.03,0.0,2.93,5.02,3.7,5.19,1.7,5.4,4.45,NaN,61.53,8.2,138.3,6.0
2023-10-01,3.2,3.3,4.6,3.1,4.0,1.7,3.8,NaN,-0.4,6.5,3.5,1.7,NaN,4.0,3.7,5.1,5.36,-0.2,3.05,4.87,3.8,4.82,1.6,5.9,4.26,NaN,61.36,6.6,142.7,6.7

In [17]:
inflation_rate = pd.read_csv('../OECD_Stats/KeyIndicators/inflation_rate.csv', parse_dates=True, index_col=0)
inflation_rate[selected_countries]['2023':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2023-01-01,6.41,4.3,8.8,5.92,5.99,3.28,8.65,NaN,7.58,11.68,5.89,9.97,8.05,7.05,5.36,7.79,11.21,2.1,3.04,6.16,5.17,5.77,3.35,7.19,7.91,5.28,57.68,16.6,98.83,11.8
2023-02-01,6.04,3.3,9.2,5.25,6.28,3.37,8.68,7.02,7.96,11.95,6.03,9.15,6.62,6.30,5.22,8.46,10.88,1.0,2.43,6.16,4.82,5.60,2.96,7.34,7.62,5.47,55.18,18.4,102.50,11.0
2023-03-01,4.99,3.2,8.9,4.30,5.70,2.95,7.40,NaN,4.40,10.64,3.30,7.61,6.67,6.51,4.98,7.66,9.19,0.7,2.35,5.79,4.24,4.65,2.74,7.26,6.85,4.97,50.51,16.1,104.30,3.5
2023-04-01,4.93,3.5,7.8,4.41,5.88,2.57,7.17,NaN,5.17,10.47,4.10,8.16,5.60,6.44,5.05,7.23,9.62,0.1,2.34,5.09,3.70,4.18,2.70,7.12,6.25,4.33,43.68,14.7,108.83,2.3
2023-05-01,4.05,3.2,7.9,3.36,5.12,2.16,6.10,6.03,6.06,9.67,3.19,7.64,5.20,6.67,4.62,6.63,8.91,0.2,2.02,4.42,3.32,3.94,2.77,6.59,5.84,4.00,39.59,13.0,114.25,2.5
2023-06-01,2.97,3.3,7.3,2.81,4.53,1.71,6.38,NaN,5.70,9.31,1.89,6.40,4.15,6.36,4.20,6.10,7.98,0.0,1.75,5.57,2.68,3.16,2.74,5.66,5.06,3.52,38.21,11.5,115.58,3.3
2023-07-01,3.18,3.3,6.4,3.27,4.29,1.61,6.16,NaN,4.57,9.26,2.33,5.93,4.14,5.39,3.36,5.81,7.02,-0.3,1.87,7.54,2.26,3.99,2.31,4.81,4.79,3.08,47.83,10.8,113.45,4.3
2023-08-01,3.67,3.2,6.3,4.00,4.86,1.55,6.14,5.37,3.03,7.45,2.62,5.44,4.09,4.84,4.17,6.33,7.37,0.1,2.52,6.91,3.42,4.61,1.95,4.80,4.64,3.27,58.94,10.1,124.37,5.2
2023-09-01,3.70,3.0,6.3,3.80,4.90,1.65,4.53,NaN,0.21,6.48,3.52,5.34,2.39,3.34,3.86,6.41,6.03,0.0,2.93,4.72,3.73,5.19,1.69,5.45,4.45,2.28,61.53,8.2,138.28,6.0
2023-10-01,3.24,3.3,4.7,3.12,3.98,1.69,3.79,NaN,-0.41,6.52,3.47,1.69,0.36,4.05,3.74,5.10,5.36,-0.2,3.05,4.45,3.81,4.82,1.62,6.09,4.26,2.56,61.36,6.6,142.66,6.7

## Bussiness

### Manufacturing PMI

In [18]:
manufacturing_pmi = preprocessor.process_pmi_indicator('Manufacturing PMI', 'procure.ch PMI')

6737 indicators read
Missing countries
['Netherlands', 'Singapore', 'Finland', 'Belgium', 'Israel', 'New Zealand', 'Portugal', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Data coverage since 1999 (50 countries): 31.9 %
Data coverage since 2013 (30 countries): 77.6 %

In [19]:
df = preprocessor.transform_to_countries_df(manufacturing_pmi, freq='M')
df[selected_countries]['2023':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2023-01-01,46.9,48.9,47.0,51.0,50.5,49.3,47.3,50.0,NaN,46.8,48.4,50.4,NaN,50.0,NaN,50.1,48.4,50.1,44.3,55.4,48.5,47.5,NaN,53.0,48.9,51.3,50.1,47.5,NaN,52.6
2023-02-01,47.3,47.7,49.3,52.4,47.4,48.9,46.3,50.5,NaN,47.0,50.7,52.0,NaN,47.5,NaN,51.3,47.1,52.6,49.0,55.3,48.5,49.2,NaN,48.8,51.0,51.2,50.1,48.5,NaN,53.6
2023-03-01,49.2,49.2,47.9,48.6,47.3,47.0,44.7,49.1,NaN,45.7,51.3,51.1,NaN,48.3,NaN,49.7,44.7,51.9,48.6,56.4,47.6,47.0,NaN,48.1,51.0,51.9,50.9,48.3,NaN,53.2
2023-04-01,50.2,49.5,47.8,50.2,45.6,45.3,44.5,48.0,NaN,45.5,49.0,46.8,NaN,51.2,NaN,48.6,42.0,49.2,47.1,57.2,48.1,44.3,NaN,49.8,51.1,52.7,51.5,46.6,NaN,52.6
2023-05-01,48.4,50.6,47.1,49.0,45.7,43.2,43.2,48.4,NaN,40.6,48.4,45.9,NaN,47.4,NaN,47.5,39.7,48.8,44.3,58.7,48.4,47.1,NaN,49.2,50.5,50.3,51.5,47.0,NaN,53.5
2023-06-01,46.3,49.8,46.5,48.8,46.0,44.9,40.6,48.2,NaN,44.8,48.0,43.8,NaN,48.0,NaN,47.3,39.0,49.0,44.8,57.8,47.8,46.6,NaN,47.6,50.9,52.5,51.5,45.1,NaN,52.6
2023-07-01,49.0,49.6,45.3,49.6,45.1,38.5,38.8,49.6,NaN,47.6,47.8,44.5,NaN,56.7,NaN,47.0,38.8,49.3,44.1,57.7,49.4,47.8,NaN,47.3,50.9,53.3,49.9,43.5,NaN,52.1
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,NaN,45.8,46.5,45.4,NaN,51.4,NaN,50.8,40.6,49.7,44.3,58.6,48.9,50.1,NaN,49.7,51.2,53.9,49.0,43.1,NaN,52.7
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,NaN,43.3,47.7,46.8,NaN,52.5,NaN,49.6,39.6,50.2,46.4,57.5,49.9,49.0,NaN,45.4,49.8,52.3,49.6,43.9,NaN,54.5
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,NaN,45.7,45.1,44.9,NaN,47.9,NaN,48.2,41.7,49.5,47.6,55.5,49.8,48.6,NaN,45.4,52.1,51.5,48.4,44.5,NaN,53.8
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,NaN,49.0,46.3,44.4,NaN,49.9,NaN,50.0,42.2,49.4,48.3,56.0,50.0,49.4,NaN,48.2,52.5,51.7,47.2,48.7,NaN,53.8
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,NaN,48.8,46.2,45.3,NaN,51.7,NaN,48.9,42.0,49.0,47.1,54.9,49.9,48.4,NaN,50.9,52.0,52.2,47.4,47.4,NaN,54.6

In [20]:
historic_manufacturing_pmi = pd.read_csv('../Investing_PMI/Historic_Manufacturing_PMI.csv', index_col=0, parse_dates=True)
historic_manufacturing_pmi['2023':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Norway,Israel,Ireland,New Zealand,Austria,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Greece,Hungary,Czechia,Russia
2023-01-01,46.9,48.9,47.0,51.0,50.5,49.3,47.3,50.0,49.6,54.9,46.8,48.4,51.2,50.4,49.8,50.0,53.9,50.1,51.2,48.4,48.8,50.1,44.3,55.4,48.5,47.5,58.2,53.0,48.9,51.3,50.1,47.5,49.2,55.0,44.6,52.6
2023-02-01,47.3,47.7,49.3,52.4,47.4,48.9,46.3,50.5,48.7,44.1,47.0,50.7,53.9,52.0,50.0,47.5,52.3,51.3,51.7,47.1,48.5,52.6,49.0,55.3,48.5,49.2,59.8,48.8,51.0,51.2,50.1,48.5,51.7,56.5,44.3,53.6
2023-03-01,49.2,49.2,47.9,48.6,47.3,47.0,44.7,49.1,46.4,44.3,45.7,51.3,53.5,51.1,49.9,48.3,51.5,49.7,48.1,44.7,47.3,51.9,48.6,56.4,47.6,47.0,58.7,48.1,51.0,51.9,50.9,48.3,52.8,55.3,44.3,53.2
2023-04-01,50.2,49.5,47.8,50.2,45.6,45.3,44.5,48.0,44.9,44.2,45.5,49.0,52.4,46.8,49.7,51.2,48.9,48.6,49.1,42.0,45.8,49.2,47.1,57.2,48.1,44.3,59.6,49.8,51.1,52.7,51.5,46.6,52.4,61.9,42.8,52.6
2023-05-01,48.4,50.6,47.1,49.0,45.7,43.2,43.2,48.4,44.2,45.7,40.6,48.4,50.6,45.9,49.5,47.4,50.2,47.5,48.7,39.7,44.8,48.8,44.3,58.7,48.4,47.1,58.5,49.2,50.5,50.3,51.5,47.0,51.5,57.1,42.8,53.5
2023-06-01,46.3,49.8,46.5,48.8,46.0,44.9,40.6,48.2,43.8,NaN,44.8,48.0,50.3,43.8,49.7,48.0,48.2,47.3,47.3,39.0,43.4,49.0,44.8,57.8,47.8,46.6,59.6,47.6,50.9,52.5,51.5,45.1,51.8,44.2,40.8,52.6
2023-07-01,49.0,49.6,45.3,49.6,45.1,38.5,38.8,49.6,45.3,NaN,47.6,47.8,49.4,44.5,49.8,56.7,48.3,47.0,46.6,38.8,42.7,49.3,44.1,57.7,49.4,47.8,57.7,47.3,50.9,53.3,49.9,43.5,53.5,45.7,41.4,52.1
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,45.9,NaN,45.8,46.5,49.8,45.4,49.9,51.4,48.1,50.8,46.1,40.6,43.5,49.7,44.3,58.6,48.9,50.1,56.6,49.7,51.2,53.9,49.0,43.1,52.9,46.5,42.9,52.7
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,43.6,NaN,43.3,47.7,49.6,46.8,50.1,52.5,49.2,49.6,45.1,39.6,43.4,50.2,46.4,57.5,49.9,49.0,57.2,45.4,49.8,52.3,49.6,43.9,50.3,47.4,41.7,54.5
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,43.8,NaN,45.7,45.1,48.9,44.9,50.2,47.9,47.6,48.2,42.5,41.7,43.1,49.5,47.6,55.5,49.8,48.6,58.4,45.4,52.1,51.5,48.4,44.5,50.8,50.5,42.0,53.8
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,44.9,NaN,49.0,46.3,50.1,44.4,50.3,49.9,NaN,50.0,46.6,42.2,44.2,49.4,48.3,56.0,50.0,49.4,57.5,48.2,52.5,51.7,47.2,48.7,50.9,52.2,43.2,53.8
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,44.8,NaN,48.8,46.2,51.3,45.3,50.5,51.7,NaN,48.9,NaN,42.0,44.4,49.0,47.1,54.9,49.9,48.4,57.5,50.9,52.0,52.2,47.4,47.4,51.3,52.8,41.8,54.6

### Services PMI

In [21]:
services_pmi = preprocessor.process_pmi_indicator('Services PMI')
services_pmi

3005 indicators read
Missing countries
['Canada', 'Switzerland', 'Netherlands', 'Denmark', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'Korea', 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Data coverage since 1999 (50 countries): 13.8 %
Data coverage since 2013 (30 countries): 39.5 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
2006-01-01,2006-02-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Jan),2006-01-01,59.0
2006-02-01,2006-03-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Feb),2006-02-01,58.5
2006-03-01,2006-04-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Mar),2006-03-01,62.2
2006-04-01,2006-05-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Apr),2006-04-01,56.8
2006-05-01,2006-06-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (May),2006-05-01,60.5
...,...,...,...,...,...,...
2023-12-01,2024-01-04 04:30:00,United Kingdom,Services PMI,S&P Global/CIPS UK Services PMI (Dec),2023-12-01,53.4
2023-12-01,2024-01-04 08:00:00,Brazil,Services PMI,S&P Global Services PMI (Dec),2023-12-01,50.5
2023-12-01,2024-01-04 09:45:00,United States,Services PMI,S&P Global Services PMI (Dec),2023-12-01,51.4
2023-12-01,2024-01-04 19:30:00,Japan,Services PMI,au Jibun Bank Japan Services PMI (Dec),2023-12-01,51.5
2023-12-01,2024-01-05 00:00:00,India,Services PMI,S&P Global India Services PMI (Dec),2023-12-01,59.0

In [22]:
df = preprocessor.transform_to_countries_df(services_pmi, freq='M')
df[selected_countries]['2023':]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
2023-01-01,46.8,52.3,48.7,NaN,49.4,NaN,50.7,48.6,NaN,51.0,52.7,51.2,NaN,NaN,NaN,54.1,NaN,NaN,NaN,57.2,NaN,50.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.7
2023-02-01,50.6,54.0,53.5,NaN,53.1,NaN,50.9,50.7,NaN,45.7,56.7,51.6,NaN,NaN,NaN,58.2,NaN,NaN,NaN,59.4,NaN,49.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.1
2023-03-01,52.6,55.0,52.9,NaN,53.9,NaN,53.7,48.6,NaN,48.6,59.4,55.7,NaN,NaN,NaN,55.7,NaN,NaN,NaN,57.8,NaN,51.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.1
2023-04-01,53.6,55.4,55.9,NaN,54.6,NaN,56.0,53.7,NaN,50.5,57.9,57.6,NaN,NaN,NaN,58.4,NaN,NaN,NaN,62.0,NaN,54.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.9
2023-05-01,54.9,55.9,55.2,NaN,52.5,NaN,57.2,52.1,NaN,50.2,56.7,54.0,NaN,NaN,NaN,57.0,NaN,NaN,NaN,61.2,NaN,54.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.3
2023-06-01,54.4,54.0,53.7,NaN,48.0,NaN,54.1,50.3,NaN,46.1,53.4,52.2,NaN,NaN,NaN,56.8,NaN,NaN,NaN,58.5,NaN,53.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.8
2023-07-01,52.3,53.8,51.5,NaN,47.1,NaN,52.3,47.9,NaN,52.7,52.8,51.5,NaN,NaN,NaN,56.7,NaN,NaN,NaN,62.3,NaN,50.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0
2023-08-01,50.5,54.3,49.5,NaN,46.0,NaN,47.3,47.8,NaN,49.0,49.3,49.8,NaN,NaN,NaN,55.0,NaN,NaN,NaN,60.1,NaN,50.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.6
2023-09-01,50.1,53.8,49.3,NaN,44.4,NaN,50.3,51.8,NaN,46.3,50.5,49.9,NaN,NaN,NaN,54.5,NaN,NaN,NaN,61.0,NaN,48.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.4
2023-10-01,50.6,51.6,49.5,NaN,45.2,NaN,48.2,47.9,NaN,48.5,51.1,47.7,NaN,NaN,NaN,52.6,NaN,NaN,NaN,58.4,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.6
2023-11-01,50.8,50.8,50.9,NaN,45.4,NaN,49.6,46.0,NaN,48.3,51.0,49.5,NaN,NaN,NaN,54.2,NaN,NaN,NaN,56.9,NaN,51.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.2
2023-12-01,51.4,51.5,53.4,NaN,45.7,NaN,49.3,47.1,NaN,50.0,51.5,49.8,NaN,NaN,NaN,53.2,NaN,NaN,NaN,59.0,NaN,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.2

In [23]:
historic_services_pmi = pd.read_csv('../Investing_PMI/Historic_Services_PMI.csv', index_col=0, parse_dates=True)
historic_services_pmi['2023':]

,United States,Japan,United Kingdom,France,Switzerland,Germany,Australia,Sweden,Spain,Italy,Ireland,New Zealand,Eurozone,China,India,Brazil,Russia
2023-01-01,46.8,52.3,48.7,49.4,56.7,50.7,48.6,51.0,52.7,51.2,54.1,54.7,50.8,52.9,57.2,50.7,48.7
2023-02-01,50.6,54.0,53.5,53.1,55.2,50.9,50.7,45.7,56.7,51.6,58.2,55.8,52.7,55.0,59.4,49.8,53.1
2023-03-01,52.6,55.0,52.9,53.9,54.2,53.7,48.6,48.6,59.4,55.7,55.7,53.8,55.0,57.8,57.8,51.8,58.1
2023-04-01,53.6,55.4,55.9,54.6,52.2,56.0,53.7,50.5,57.9,57.6,58.4,50.1,56.2,56.4,62.0,54.5,55.9
2023-05-01,54.9,55.9,55.2,52.5,52.6,57.2,52.1,50.2,56.7,54.0,57.0,53.1,55.1,57.1,61.2,54.1,54.3
2023-06-01,54.4,54.0,53.7,48.0,49.5,54.1,50.3,46.1,53.4,52.2,56.8,49.6,52.0,53.9,58.5,53.3,56.8
2023-07-01,52.3,53.8,51.5,47.1,42.7,52.3,47.9,52.7,52.8,51.5,56.7,47.8,50.9,54.1,62.3,50.2,54.0
2023-08-01,50.5,54.3,49.5,46.0,50.3,47.3,47.8,49.0,49.3,49.8,55.0,47.7,47.9,51.8,60.1,50.6,57.6
2023-09-01,50.1,53.8,49.3,44.4,52.8,50.3,51.8,46.3,50.5,49.9,54.5,50.6,48.7,50.2,61.0,48.7,55.4
2023-10-01,50.6,51.6,49.5,45.2,52.1,48.2,47.9,48.5,51.1,47.7,52.6,48.9,47.8,50.4,58.4,51.0,53.6
2023-11-01,50.8,50.8,50.9,45.4,53.6,49.6,46.0,48.3,51.0,49.5,54.2,51.2,48.7,51.5,56.9,51.2,52.2
2023-12-01,51.4,51.5,53.4,45.7,NaN,49.3,47.1,50.0,51.5,49.8,53.2,NaN,48.8,52.9,59.0,50.5,56.2

In [24]:
# for country in historic_pmi.columns:
#     if df['2012-06-01':][country].dropna().count() > 0:
#         print('updating', country)
#         historic_pmi.loc[df['2012-06-01':][country].dropna().index, country] = df[
#             '2012-06-01':][country].dropna().astype(float)