# Investing.com indictors from Economic Calendar

Exploring daily processing of macroeconomic indicators from Economic Calendar based on Report Date Time. That will provide the most recent values as soon as they are released.

In [31]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.decomposition import PCA

from InvestingCalendarPreprocessor import InvestingCalendarPreprocessor
from DataProvider import DataProvider

In [32]:
preprocessor = InvestingCalendarPreprocessor()
data_provider = DataProvider()

In [33]:
# Empty value to read from cache and limit date to read the most recent values from db
limit_date = ''
read_date = datetime.today() - pd.DateOffset(months=6)
no_months = 6

In [36]:
read_date = datetime.today().date()
limit_date = (read_date - pd.DateOffset(months=12)).strftime('%Y-%m-%d')
print('Read date', read_date, 'Limit date', limit_date)

Read date 2024-06-08 Limit date 2023-06-08

In [38]:
# Initialize cache
for indicator in preprocessor.key_calendar_indicators:
    preprocessor.read_key_indicator(indicator)

### GDP Annual Growth Rate

In [39]:
print(preprocessor.key_calendar_indicators[0])
df_annual_gdp = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[0], limit_date)

GDP Annual Growth Rate

In [40]:
date_from = read_date - pd.DateOffset(months=12)
date_from = date_from.strftime('%Y-%m-01')
date_to = read_date.strftime('%Y-%m-%d')
df_annual_gdp[df_annual_gdp['ReportDateTime'] < date_to]

,ReportDateTime,Country,Indicator,FullName,Period,Value
0,2023-06-08 00:50:00,Saudi Arabia,GDP (YoY),GDP (YoY) (Q1),2023-01-01 00:00:00,3.8
1,2023-06-08 04:00:00,Eurozone,GDP (YoY),GDP (YoY) (Q4),2022-10-01 00:00:00,1.0
2,2023-06-14 01:00:00,United Kingdom,GDP (YoY),GDP (YoY) (Apr),2023-04-01 00:00:00,0.5
3,2023-06-14 17:45:00,New Zealand,GDP (YoY),GDP (YoY) (Q1),2023-01-01 00:00:00,2.2
4,2023-06-15 00:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Apr),2023-04-01 00:00:00,1.3
...,...,...,...,...,...,...
302,2024-06-04 19:00:00,Korea,GDP (YoY),GDP (YoY) (Q1),2024-01-01 00:00:00,3.3
303,2024-06-04 21:30:00,Australia,GDP (YoY),GDP (YoY) (Q1),2024-01-01 00:00:00,1.1
304,2024-06-06 06:00:00,Ireland,GDP (YoY),Irish GDP (YoY) (Q1),2024-01-01 00:00:00,-6.5
305,2024-06-07 05:00:00,Greece,GDP (YoY),Greek GDP (YoY) (Q1),2024-01-01 00:00:00,2.1
306,2024-06-07 05:00:00,Eurozone,GDP (YoY),GDP (YoY),2024-01-01 00:00:00,0.4

In [41]:
df_recent = preprocessor.get_most_recent_values(
    df_annual_gdp, read_date, no_months, is_quarterly=True)
df_recent

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-10-01,NaN,0.4,-0.2,0.93,0.7,0.6,-0.2,1.5,-0.4,-0.2,...,NaN,5.2,4.93,7.8,2.2,2.1,4.9,1.2,2.5,3.0
2023-11-01,NaN,0.4,0.2,0.93,0.7,0.6,-0.2,1.5,-0.4,-0.2,...,NaN,5.2,4.93,7.8,2.2,2.1,4.9,1.2,2.5,3.0
2023-12-01,NaN,0.4,0.0,0.93,0.7,0.6,-0.2,1.5,-0.4,-0.2,...,NaN,5.2,4.93,7.8,2.2,2.1,4.9,1.2,2.5,3.0
2024-01-01,NaN,-2.0,0.2,0.53,1.1,0.6,-0.2,1.1,-0.7,0.7,...,NaN,5.3,6.56,NaN,3.3,2.5,5.4,0.5,1.6,4.2
2024-02-01,NaN,-2.0,-0.2,0.53,1.1,0.6,-0.2,1.1,-0.7,0.7,...,NaN,5.3,6.56,NaN,3.3,2.5,5.4,0.5,1.6,4.2
2024-03-01,NaN,-2.0,0.7,0.53,1.1,0.6,-0.2,1.1,-0.7,0.7,...,NaN,5.3,6.56,NaN,3.3,2.5,5.4,0.5,1.6,4.2

In [42]:
data_provider.fill_missing_values(df_recent)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-10-01,0.33,0.4,-0.2,0.93,0.7,0.6,-0.2,1.5,-0.4,-0.2,...,0.05,5.2,4.93,7.8,2.2,2.1,4.9,1.2,2.5,3.0
2023-11-01,0.49,0.4,0.2,0.93,0.7,0.6,-0.2,1.5,-0.4,-0.2,...,0.61,5.2,4.93,7.8,2.2,2.1,4.9,1.2,2.5,3.0
2023-12-01,0.51,0.4,0.0,0.93,0.7,0.6,-0.2,1.5,-0.4,-0.2,...,0.49,5.2,4.93,7.8,2.2,2.1,4.9,1.2,2.5,3.0
2024-01-01,0.37,-2.0,0.2,0.53,1.1,0.6,-0.2,1.1,-0.7,0.7,...,0.27,5.3,6.56,7.8,3.3,2.5,5.4,0.5,1.6,4.2
2024-02-01,0.37,-2.0,-0.2,0.53,1.1,0.6,-0.2,1.1,-0.7,0.7,...,0.59,5.3,6.56,7.8,3.3,2.5,5.4,0.5,1.6,4.2
2024-03-01,0.37,-2.0,0.7,0.53,1.1,0.6,-0.2,1.1,-0.7,0.7,...,0.45,5.3,6.56,7.8,3.3,2.5,5.4,0.5,1.6,4.2

### GDP Growth Rate

In [43]:
print(preprocessor.key_calendar_indicators[1])
gdp_qoq = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[1], limit_date)

GDP Growth Rate

In [44]:
preprocessor.get_most_recent_values(
    gdp_qoq, read_date, no_months, is_quarterly=True)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-10-01,3.4,0.1,-0.3,1.0,0.1,0.3,-0.3,0.2,0.4,-0.1,...,1.5,1.0,NaN,NaN,0.6,0.0,NaN,0.1,0.1,NaN
2023-11-01,3.4,0.1,-0.3,1.0,0.1,0.3,-0.3,0.2,0.4,-0.1,...,1.5,1.0,NaN,NaN,0.6,0.0,NaN,0.1,0.1,NaN
2023-12-01,3.4,0.1,-0.3,1.0,0.1,0.3,-0.3,0.2,0.4,-0.1,...,1.5,1.0,NaN,NaN,0.6,0.0,NaN,0.1,0.1,NaN
2024-01-01,1.3,-0.5,0.6,1.7,0.2,0.5,0.2,0.1,-0.1,0.7,...,0.2,1.6,NaN,NaN,1.3,0.8,NaN,-0.1,0.3,NaN
2024-02-01,1.3,-0.5,0.6,1.7,0.2,0.5,0.2,0.1,-0.1,0.7,...,0.2,1.6,NaN,NaN,1.3,0.8,NaN,-0.1,0.3,NaN
2024-03-01,1.3,-0.5,0.6,1.7,0.2,0.5,0.2,0.1,-0.1,0.7,...,0.2,1.6,NaN,NaN,1.3,0.8,NaN,-0.1,0.3,NaN

### Unemployment Rate

In [45]:
print(preprocessor.key_calendar_indicators[2])
df_unemployment = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[2], limit_date)

Unemployment Rate

In [46]:
preprocessor.get_most_recent_values(df_unemployment, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-11-01,3.7,2.5,4.2,5.8,NaN,2.1,5.9,3.9,3.5,7.1,...,3.7,5.0,3.37,NaN,2.8,7.6,2.9,NaN,2.8,3.4
2023-12-01,3.7,2.4,3.8,5.8,NaN,2.2,5.9,3.9,3.6,7.7,...,3.5,5.1,3.4,NaN,3.3,7.5,3.0,NaN,2.8,3.3
2024-01-01,3.7,2.4,3.9,5.7,7.5,2.2,5.8,4.1,3.6,8.5,...,4.5,5.3,3.39,NaN,3.0,7.4,2.9,32.9,2.8,3.3
2024-02-01,3.9,2.6,4.2,5.8,NaN,2.2,5.9,3.7,3.7,8.5,...,3.6,NaN,3.4,NaN,2.6,7.6,2.8,NaN,2.6,3.3
2024-03-01,3.8,2.6,4.3,6.1,NaN,2.3,5.9,3.8,3.6,9.2,...,4.0,5.2,3.4,NaN,2.8,7.8,2.7,NaN,2.7,3.3
2024-04-01,3.9,2.6,NaN,6.1,NaN,2.3,5.9,4.1,3.7,8.9,...,4.3,5.0,3.39,NaN,2.8,7.5,2.6,NaN,2.6,NaN

### Inflation Rate

In [47]:
print(preprocessor.key_calendar_indicators[3])
df_inflation_rate = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[3], limit_date)

Inflation Rate

In [48]:
preprocessor.get_most_recent_values(df_inflation_rate, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-12-01,3.4,2.6,4.0,3.4,3.7,1.7,3.7,NaN,1.2,4.4,...,4.8,-0.3,2.71,5.69,3.2,4.62,7.4,5.1,4.66,1.5
2024-01-01,3.1,2.2,4.0,2.9,3.1,1.3,2.9,3.6,3.2,5.4,...,4.7,-0.8,1.79,5.1,2.8,4.51,7.4,5.3,4.88,1.5
2024-02-01,3.2,2.8,3.4,2.8,3.0,1.2,2.5,NaN,2.8,4.5,...,4.5,0.7,3.08,5.09,3.1,4.5,7.7,5.6,4.4,1.8
2024-03-01,3.5,2.7,3.2,2.9,2.3,1.0,2.2,NaN,3.1,4.1,...,3.9,0.1,2.14,4.85,3.1,3.93,7.7,5.3,4.42,1.8
2024-04-01,3.4,2.5,2.3,2.7,2.2,1.4,2.2,NaN,2.7,3.9,...,3.6,0.3,1.95,4.83,2.9,3.69,7.8,5.2,4.65,1.8
2024-05-01,NaN,NaN,NaN,NaN,2.2,1.4,2.4,NaN,2.7,NaN,...,NaN,NaN,2.24,NaN,2.7,NaN,NaN,NaN,4.69,NaN

### Inflation Rate MoM

In [49]:
print(preprocessor.key_calendar_indicators[4])
df_inflation_rate_mom = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[4], limit_date)

Inflation Rate MoM

In [50]:
preprocessor.get_most_recent_values(df_inflation_rate_mom, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-11-01,0.1,NaN,-0.2,0.1,-0.2,-0.2,-0.4,NaN,-1.0,0.3,...,0.5,-0.5,-0.07,NaN,-0.6,0.28,1.1,-0.1,0.64,NaN
2023-12-01,0.3,NaN,0.4,-0.3,0.1,0.0,0.1,NaN,0.0,0.7,...,0.1,0.1,0.29,NaN,0.0,0.56,0.7,0.0,0.71,0.2
2024-01-01,0.3,NaN,-0.6,0.0,-0.3,0.2,0.2,NaN,0.5,-0.1,...,0.1,0.3,0.21,NaN,0.4,0.42,0.9,0.1,0.89,0.2
2024-02-01,0.4,0.0,0.6,0.3,0.8,0.6,0.4,NaN,0.7,0.2,...,0.2,1.0,0.15,NaN,0.5,0.83,0.7,1.0,0.09,0.5
2024-03-01,0.4,0.2,0.6,0.6,0.2,0.0,0.4,NaN,0.5,0.1,...,0.2,-1.0,0.26,NaN,0.1,0.16,0.4,0.8,0.29,0.1
2024-04-01,0.3,0.2,0.3,0.5,0.5,0.3,0.5,NaN,0.7,0.3,...,0.8,0.1,0.1,NaN,0.0,0.38,0.5,0.3,0.2,0.2

### Producer Price Index

In [51]:
print(preprocessor.key_calendar_indicators[5])
df_ppi = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[5], limit_date)

Producer Price Index

In [52]:
preprocessor.get_most_recent_values(df_ppi, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-11-01,0.9,0.3,NaN,NaN,0.3,-1.3,-7.9,NaN,NaN,-4.2,...,-15.6,-3.0,NaN,NaN,0.6,NaN,21.9,4.6,1.2,NaN
2023-12-01,1.0,0.0,NaN,NaN,-0.9,-1.1,-8.6,NaN,NaN,-7.7,...,-25.6,-2.7,NaN,NaN,1.2,NaN,19.2,4.0,1.0,NaN
2024-01-01,0.9,0.2,NaN,NaN,-5.1,-2.3,-4.4,4.3,NaN,-2.3,...,-12.9,-2.5,NaN,NaN,1.3,NaN,19.4,4.7,1.0,NaN
2024-02-01,1.6,0.6,NaN,NaN,-5.5,-2.0,-4.1,NaN,NaN,-1.3,...,-12.6,-2.7,NaN,NaN,1.5,NaN,19.5,4.5,1.4,NaN
2024-03-01,2.1,0.8,NaN,NaN,-7.5,-2.1,-2.9,NaN,NaN,-0.6,...,-6.9,-2.8,NaN,NaN,1.6,NaN,19.1,4.6,2.0,NaN
2024-04-01,2.2,0.9,NaN,NaN,-6.8,-1.8,-3.3,NaN,NaN,0.9,...,-4.5,-2.5,NaN,NaN,1.8,NaN,18.4,5.1,2.6,NaN

### Manufacturing PMI

In [53]:
print(preprocessor.key_calendar_indicators[6])
manufacturing_pmi = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[6], limit_date)

Manufacturing PMI

In [54]:
preprocessor.get_most_recent_values(manufacturing_pmi, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,NaN,48.8,...,51.7,49.0,47.1,54.9,49.9,48.4,54.6,50.9,52.0,NaN
2024-01-01,50.7,48.0,47.0,48.3,43.1,43.1,45.5,50.1,NaN,47.1,...,50.7,49.2,48.8,56.5,51.2,52.8,52.4,43.6,50.2,NaN
2024-02-01,52.2,47.2,47.5,49.7,47.1,44.0,42.5,47.8,NaN,49.0,...,51.9,49.1,48.6,56.9,50.7,54.1,54.7,51.7,52.3,NaN
2024-03-01,51.9,48.2,50.3,49.8,46.2,45.2,41.9,47.3,NaN,50.0,...,50.8,50.8,49.3,NaN,49.8,53.6,55.7,49.2,52.2,NaN
2024-04-01,50.0,49.6,49.1,49.4,45.3,41.4,42.5,49.6,NaN,51.4,...,52.4,50.4,50.2,NaN,49.4,55.9,54.3,54.0,51.0,NaN
2024-05-01,51.3,50.4,51.2,49.3,46.4,46.4,45.4,49.7,NaN,54.0,...,52.3,49.5,50.9,NaN,51.6,52.1,54.4,NaN,51.2,NaN

### Industrial Production

In [55]:
print(preprocessor.key_calendar_indicators[7])
df_industrial_production = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[7], limit_date)

Industrial Production

In [56]:
preprocessor.get_most_recent_values(df_industrial_production, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-11-01,-0.39,NaN,-0.1,NaN,NaN,NaN,-4.87,NaN,NaN,-1.1,...,NaN,6.6,-2.48,2.4,5.3,1.3,4.3,NaN,2.8,0.6
2023-12-01,0.98,NaN,0.6,NaN,NaN,NaN,-3.13,NaN,NaN,0.2,...,NaN,6.8,-3.99,3.8,6.2,1.0,2.7,NaN,0.0,-0.1
2024-01-01,0.03,NaN,0.5,NaN,NaN,-3.1,-5.35,NaN,NaN,0.1,...,NaN,NaN,15.98,3.8,12.9,3.6,4.6,NaN,2.9,4.3
2024-02-01,-0.23,NaN,1.4,NaN,NaN,NaN,-4.76,NaN,NaN,-1.5,...,NaN,7.0,-1.1,5.7,4.8,5.0,8.5,NaN,3.3,3.1
2024-03-01,0.00,NaN,0.5,NaN,NaN,NaN,-3.35,NaN,NaN,NaN,...,NaN,4.5,3.99,4.9,0.7,-2.8,4.0,NaN,-3.0,2.4
2024-04-01,-0.38,NaN,NaN,NaN,NaN,NaN,-3.86,NaN,NaN,2.9,...,NaN,6.7,14.61,NaN,6.1,8.4,3.9,NaN,NaN,NaN

### Retail Sales

In [57]:
print(preprocessor.key_calendar_indicators[8])
df_retail_sales = preprocessor.read_key_indicator(
    preprocessor.key_calendar_indicators[8], limit_date)

Retail Sales

In [58]:
df_recent = preprocessor.get_most_recent_values(
        df_retail_sales, read_date, no_months)
df_recent

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-11-01,4.09,5.3,0.1,NaN,NaN,0.7,-2.4,NaN,3.7,-1.7,...,NaN,10.1,NaN,NaN,NaN,2.2,10.5,-0.9,2.7,NaN
2023-12-01,5.59,2.1,-2.4,NaN,NaN,-0.8,-1.7,NaN,1.9,-2.2,...,NaN,7.4,NaN,NaN,NaN,1.3,10.2,2.7,-0.2,NaN
2024-01-01,0.65,2.3,0.7,NaN,NaN,0.3,-1.4,NaN,2.4,-1.2,...,NaN,NaN,NaN,NaN,NaN,4.1,9.1,-2.1,-0.8,NaN
2024-02-01,1.50,4.6,-0.4,NaN,NaN,-0.2,-2.7,NaN,5.0,0.3,...,NaN,5.5,NaN,NaN,NaN,8.2,12.3,-0.8,3.0,NaN
2024-03-01,4.02,1.2,0.8,NaN,NaN,-0.1,0.3,NaN,3.9,1.1,...,NaN,3.1,NaN,NaN,NaN,5.7,11.1,2.3,-1.7,NaN
2024-04-01,3.04,2.4,-2.7,NaN,NaN,2.7,-0.6,NaN,3.0,0.5,...,NaN,2.3,NaN,NaN,NaN,NaN,8.3,NaN,NaN,NaN

In [59]:
df_recent_filled = data_provider.fill_missing_values(df_recent)
df_recent_filled

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-11-01,4.09,5.3,0.1,0.32,1.62,0.7,-2.4,1.62,3.7,-1.7,...,0.54,10.1,1.04,1.70,1.40,2.2,10.5,-0.9,2.7,1.88
2023-12-01,5.59,2.1,-2.4,-0.08,0.24,-0.8,-1.7,0.24,1.9,-2.2,...,-0.58,7.4,-0.08,0.98,3.44,1.3,10.2,2.7,-0.2,3.02
2024-01-01,0.65,2.3,0.7,-0.05,0.60,0.3,-1.4,0.60,2.4,-1.2,...,-0.12,7.4,0.22,0.25,1.93,4.1,9.1,-2.1,-0.8,1.64
2024-02-01,1.50,4.6,-0.4,0.22,1.24,-0.2,-2.7,1.24,5.0,0.3,...,0.30,5.5,2.50,0.54,3.92,8.2,12.3,-0.8,3.0,2.92
2024-03-01,4.02,1.2,0.8,1.64,1.52,-0.1,0.3,1.52,3.9,1.1,...,0.96,3.1,2.16,1.54,3.20,5.7,11.1,2.3,-1.7,0.38
2024-04-01,3.04,2.4,-2.7,-0.33,-0.38,2.7,-0.6,-0.38,3.0,0.5,...,-0.88,2.3,0.38,-0.37,1.89,5.7,8.3,2.3,-1.7,-2.80

## PCA

In [60]:
read_date = datetime.today() #- pd.DateOffset(months=12)
print(read_date)

indicators_norm = pd.DataFrame(
    data=np.zeros((no_months*len(data_provider.selected_countries),
                   len(preprocessor.key_calendar_indicators))),
    columns=preprocessor.key_calendar_indicators)

for indicator in preprocessor.key_calendar_indicators:
    df = preprocessor.read_key_indicator(indicator)
    is_quarterly = (indicator == 'GDP Annual Growth Rate' or
                    indicator == 'GDP Growth Rate')
    df_recent = preprocessor.get_most_recent_values(
        df, read_date, no_months, is_quarterly)
    print(indicator, df_recent.isna().sum().sum(), 'NAs')

    df_recent_filled = data_provider.fill_missing_values(df_recent)
    df_normalized = data_provider.normilize_dataframe(df_recent_filled)
    indicators_norm.loc[:, indicator] = (df_normalized.values.reshape(-1))

pca = PCA(n_components=1)
principal_component = pca.fit_transform(indicators_norm)

principal_component_arr = principal_component.reshape(
    -1, len(data_provider.selected_countries))
principal_component_df = pd.DataFrame(
    principal_component_arr,
    index=range(no_months),
    columns=data_provider.selected_countries)
principal_component_df

2024-06-08 10:28:01.172706
GDP Annual Growth Rate 21 NAs
GDP Growth Rate 24 NAs
Unemployment Rate 34 NAs
Inflation Rate 5 NAs
Inflation Rate MoM 16 NAs
Producer Price Index 73 NAs
Manufacturing PMI 40 NAs
Industrial Production 71 NAs
Retail Sales 64 NAs

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
0,0.275336,-0.367590,-1.357220,-0.999356,-1.456088,-1.890785,-2.931613,-0.039443,-2.106140,-0.236994,...,-0.401876,0.849846,-0.194319,3.541923,-0.004514,0.197176,5.633568,0.570848,1.858399,0.068604
1,1.057123,-0.884862,-1.183685,-1.018875,-1.432159,-1.835086,-2.411048,0.043989,-1.951637,-1.187021,...,-1.495712,1.264081,0.084116,2.665192,1.249129,0.950240,4.761809,-0.309993,1.083828,-0.067738
2,0.912407,-0.982522,-1.247921,-0.578564,-1.355728,-1.650656,-2.435398,-0.269093,-0.822243,-0.557468,...,-0.445609,1.295177,-0.353126,2.845222,1.292577,1.329137,4.901880,0.643982,1.112737,0.028849
3,0.520941,-1.058598,-0.185914,-0.409855,-0.939081,-1.615144,-2.782220,-0.195988,-0.746021,0.081877,...,-0.924921,2.166748,3.078908,2.952895,2.676085,2.480688,5.720860,0.687162,1.177128,1.137722
4,0.549629,-1.007121,-0.295901,-0.138693,-1.535907,-2.517553,-2.326562,0.170023,-0.945001,0.060629,...,-0.285700,0.686216,0.896910,3.200971,1.313833,2.238253,5.714566,1.503614,0.765184,0.678717
5,0.601087,-1.142120,-0.547921,-0.374813,-1.438824,-1.282452,-1.793398,-0.049672,-0.761763,0.532082,...,-0.150779,0.827693,1.403948,2.870848,0.898659,0.858910,4.926238,1.179893,0.030547,0.509298

Three additional indicators: Producer Price Index, Industrial Production, Retail Sales have low data coverage - around 50-60% and won't be included in DNN model.

In [62]:
read_date = datetime.today().date()
limit_date = (read_date - pd.DateOffset(months=12)).strftime('%Y-%m-%d')
print('Read date', read_date, 'Limit date', limit_date)

data_provider.calculate_principal_component_from_calendar(read_date, no_months, limit_date)

Read date 2024-06-08 Limit date 2023-06-08

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
0,-0.017846,-1.045564,-1.272993,-0.814744,-1.821823,-2.399739,-2.072676,-0.738859,-3.022186,-0.060142,...,1.097314,-1.025398,-0.169735,2.674018,-0.563370,0.395963,3.736803,1.192373,1.414858,-0.639528
1,0.649080,-1.155017,-0.492850,-0.779622,-1.538262,-2.318306,-1.433181,0.063050,-1.160527,0.311851,...,0.604197,-0.584851,0.205466,3.278024,0.133292,1.474467,2.940210,-0.071878,1.199087,-0.622302
2,0.976379,-1.121248,-1.549518,-0.263041,-1.162868,-1.989168,-2.052923,-0.546187,-0.612654,-0.323980,...,0.777419,0.060096,0.374441,3.461772,0.494038,1.591656,3.665348,1.691463,1.623163,-0.170942
3,0.660611,-1.543072,0.273978,0.131763,-0.439716,-1.407353,-1.975435,-0.269758,-0.446229,0.359764,...,0.138332,0.991422,0.505369,3.468855,0.757227,1.939509,3.853973,1.768512,0.726587,0.303204
4,0.256768,-1.148229,-0.319164,0.277138,-1.203216,-2.574564,-1.858707,0.106092,-0.807441,0.494643,...,0.428019,-0.882029,0.722570,3.471294,0.250320,1.694674,3.332119,2.485157,0.753986,0.130416
5,0.419509,-0.992591,-0.013058,0.164877,-0.710794,-1.323409,-1.138579,-0.327812,-0.358499,1.178169,...,0.945939,-0.041522,0.801545,3.275346,0.522381,1.151660,3.441744,2.021124,0.719360,0.390533