# Investing.com indictors from Economic Calendar

Exploring daily processing of macroeconomic indicators from Economic Calendar based on Report Date Time. That will provide the most recent values as soon as they are released for most countries.

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.decomposition import PCA

from InvestingCalendarPreprocessor import InvestingCalendarPreprocessor
from DataProvider import DataProvider

In [2]:
preprocessor = InvestingCalendarPreprocessor()
data_provider = DataProvider()

In [3]:
# Empty value to read from cache and limit date to read the most recent values from db
limit_date = ''
read_date = datetime.today() - pd.DateOffset(months=6)
no_months = 6

In [4]:
read_date

Timestamp('2023-12-07 20:23:26.439038')

In [5]:
# Initialize cache
for indicator in preprocessor.key_indicators:
    preprocessor.read_key_indicator(indicator)

### GDP Annual Growth Rate

In [6]:
print(preprocessor.key_indicators[0])
df_annual_gdp = preprocessor.read_key_indicator(
    preprocessor.key_indicators[0], limit_date)

GDP Annual Growth Rate

In [7]:
date_from = read_date - pd.DateOffset(months=12)
date_from = date_from.strftime('%Y-%m-01')
date_to = read_date.strftime('%Y-%m-%d')
df_annual_gdp[df_annual_gdp['ReportDateTime'] < date_to]

,ReportDateTime,Country,Indicator,FullName,Period,Value
0,1999-01-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Dec),1998-12-01 00:00:00,3.49
1,1999-02-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Jan),1999-01-01 00:00:00,6.92
2,1999-03-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Feb),1999-02-01 00:00:00,6.22
3,1999-04-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Mar),1999-03-01 00:00:00,7.40
4,1999-05-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Apr),1999-04-01 00:00:00,4.30
...,...,...,...,...,...,...
3234,2023-12-04 18:00:00,Korea,GDP (YoY),GDP (YoY) (Q3),2023-07-01 00:00:00,1.40
3235,2023-12-05 04:30:00,South Africa,GDP (YoY),GDP (YoY) (Q3),2023-07-01 00:00:00,-0.70
3236,2023-12-05 07:00:00,Brazil,GDP (YoY),GDP (YoY) (Q3),2023-07-01 00:00:00,2.00
3237,2023-12-05 19:30:00,Australia,GDP (YoY),GDP (YoY) (Q3),2023-07-01 00:00:00,2.10
3238,2023-12-06 05:00:00,Greece,GDP (YoY),Greek GDP (YoY) (Q3),2023-07-01 00:00:00,2.10

In [8]:
df_recent = preprocessor.get_most_recent_values(
    df_annual_gdp, read_date, no_months, is_quarterly=True)
df_recent

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-04-01,NaN,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,...,NaN,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-05-01,NaN,3.5,-0.4,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,...,NaN,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-06-01,NaN,3.5,0.9,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,...,NaN,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-07-01,NaN,-2.1,0.6,0.47,0.6,0.3,-0.4,2.1,-0.6,-1.4,...,NaN,4.9,2.32,NaN,1.4,2.0,5.5,-0.7,3.3,3.3
2023-08-01,NaN,-2.1,0.5,0.47,0.6,0.3,-0.4,2.1,-0.6,-1.4,...,NaN,4.9,2.32,NaN,1.4,2.0,5.5,-0.7,3.3,3.3
2023-09-01,NaN,-2.1,1.3,0.47,0.6,0.3,-0.4,2.1,-0.6,-1.4,...,NaN,4.9,2.32,NaN,1.4,2.0,5.5,-0.7,3.3,3.3

In [9]:
data_provider.fill_missing_values(df_recent)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-04-01,0.74,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,...,1.02,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-05-01,0.58,3.5,-0.4,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,...,1.02,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-06-01,0.74,3.5,0.9,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,...,1.08,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-07-01,0.43,-2.1,0.6,0.47,0.6,0.3,-0.4,2.1,-0.6,-1.4,...,0.77,4.9,2.32,7.6,1.4,2.0,5.5,-0.7,3.3,3.3
2023-08-01,0.43,-2.1,0.5,0.47,0.6,0.3,-0.4,2.1,-0.6,-1.4,...,0.75,4.9,2.32,7.6,1.4,2.0,5.5,-0.7,3.3,3.3
2023-09-01,0.03,-2.1,1.3,0.47,0.6,0.3,-0.4,2.1,-0.6,-1.4,...,0.59,4.9,2.32,7.6,1.4,2.0,5.5,-0.7,3.3,3.3

### GDP Growth Rate

In [10]:
print(preprocessor.key_indicators[1])
gdp_qoq = preprocessor.read_key_indicator(
    preprocessor.key_indicators[1], limit_date)

GDP Growth Rate

In [11]:
preprocessor.get_most_recent_values(
    gdp_qoq, read_date, no_months, is_quarterly=True)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-04-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,...,0.0,0.8,NaN,NaN,0.6,0.9,NaN,0.6,0.8,NaN
2023-05-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,...,0.0,0.8,NaN,NaN,0.6,0.9,NaN,0.6,0.8,NaN
2023-06-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,...,0.0,0.8,NaN,NaN,0.6,0.9,NaN,0.6,0.8,NaN
2023-07-01,5.2,-0.5,0.0,-1.1,-0.1,0.3,-0.1,0.2,-0.2,-0.3,...,-0.5,1.3,NaN,NaN,0.6,0.1,NaN,-0.2,1.1,NaN
2023-08-01,5.2,-0.5,0.0,-1.1,-0.1,0.3,-0.1,0.2,-0.2,-0.3,...,-0.5,1.3,NaN,NaN,0.6,0.1,NaN,-0.2,1.1,NaN
2023-09-01,5.2,-0.5,0.0,-1.1,-0.1,0.3,-0.1,0.2,-0.2,-0.3,...,-0.5,1.3,NaN,NaN,0.6,0.1,NaN,-0.2,1.1,NaN

### Unemployment Rate

In [12]:
print(preprocessor.key_indicators[2])
df_unemployment = preprocessor.read_key_indicator(
    preprocessor.key_indicators[2], limit_date)

Unemployment Rate

In [13]:
preprocessor.get_most_recent_values(df_unemployment, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,3.7,2.6,4.0,5.2,NaN,2.0,5.6,3.6,3.5,7.9,...,3.0,5.2,3.5,NaN,2.5,8.5,3.2,NaN,3.0,3.5
2023-06-01,3.6,2.5,4.2,5.4,NaN,2.0,5.7,3.5,3.5,9.2,...,3.4,5.2,3.45,NaN,2.6,8.3,3.1,NaN,2.7,3.5
2023-07-01,3.5,2.7,4.3,5.5,7.4,2.1,5.6,3.7,3.6,6.2,...,3.5,5.3,3.43,NaN,2.8,8.0,3.0,31.9,2.9,3.4
2023-08-01,3.8,2.7,4.2,5.5,NaN,2.1,5.7,3.7,3.6,7.7,...,3.6,5.2,3.42,NaN,2.4,7.9,3.0,NaN,2.7,3.4
2023-09-01,3.8,2.6,4.2,5.5,NaN,2.1,5.7,3.6,3.7,7.7,...,3.5,5.0,3.48,NaN,2.6,7.8,3.0,NaN,2.7,3.4
2023-10-01,3.9,2.5,NaN,5.7,NaN,2.1,5.8,3.7,3.6,7.4,...,3.6,5.0,3.41,NaN,2.5,7.7,2.9,NaN,2.6,3.4

### Inflation Rate

In [14]:
print(preprocessor.key_indicators[3])
df_inflation_rate = preprocessor.read_key_indicator(
    preprocessor.key_indicators[3], limit_date)

Inflation Rate

In [15]:
preprocessor.get_most_recent_values(df_inflation_rate, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,4.0,3.2,8.7,3.4,5.1,2.2,6.1,NaN,6.1,9.7,...,6.7,0.2,2.02,4.25,3.3,3.94,2.5,6.3,5.84,2.8
2023-06-01,3.0,3.3,7.9,2.8,4.5,1.7,6.4,NaN,5.7,9.3,...,6.4,0.0,1.75,4.81,2.7,3.16,3.2,5.4,5.06,2.4
2023-07-01,3.2,3.3,6.8,3.3,4.3,1.6,6.2,5.4,4.6,9.3,...,5.4,-0.3,1.88,7.44,2.3,3.99,4.3,4.7,4.79,2.0
2023-08-01,3.7,3.2,6.7,4.0,4.8,1.6,6.1,NaN,3.0,7.5,...,4.8,0.1,2.52,6.83,3.4,4.61,5.2,4.8,4.64,2.0
2023-09-01,3.7,3.0,6.7,3.8,4.9,1.7,4.5,NaN,0.2,6.5,...,3.3,0.0,2.93,5.02,3.7,5.19,6.0,5.4,4.45,1.9
2023-10-01,3.2,3.3,4.6,3.1,4.0,1.7,3.8,NaN,-0.4,6.5,...,4.0,-0.2,3.05,4.87,3.8,4.82,6.7,5.9,4.26,1.8

### Inflation Rate MoM

In [16]:
print(preprocessor.key_indicators[4])
df_inflation_rate_mom = preprocessor.read_key_indicator(
    preprocessor.key_indicators[4], limit_date)

Inflation Rate MoM

In [17]:
preprocessor.get_most_recent_values(df_inflation_rate_mom, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,0.1,0.0,0.7,0.4,-0.1,0.3,-0.1,NaN,0.2,0.3,...,0.5,-0.2,-0.11,NaN,0.3,0.23,0.3,0.2,-0.22,0.2
2023-06-01,0.2,0.2,0.1,0.1,0.2,0.1,0.3,NaN,-0.3,1.1,...,0.6,-0.2,-0.08,NaN,0.0,-0.08,0.4,0.2,0.1,0.2
2023-07-01,0.2,0.4,-0.4,0.6,0.1,-0.1,0.3,NaN,1.0,0.0,...,0.4,0.2,0.16,NaN,0.1,0.12,0.6,0.9,0.48,0.1
2023-08-01,0.6,0.2,0.3,0.4,1.0,0.2,0.3,NaN,0.4,0.1,...,-0.8,0.3,0.18,NaN,1.0,0.23,0.3,0.3,0.55,0.2
2023-09-01,0.4,0.3,0.5,-0.1,-0.5,-0.1,0.3,NaN,-0.4,0.5,...,-0.1,0.2,0.34,NaN,0.6,0.26,0.9,0.6,0.44,0.1
2023-10-01,0.0,NaN,0.0,0.1,0.1,0.1,0.0,NaN,0.4,0.2,...,1.0,-0.1,0.33,NaN,0.3,0.24,0.8,0.9,0.38,0.1

### Producer Price Index

In [18]:
print(preprocessor.key_indicators[5])
df_ppi = preprocessor.read_key_indicator(
    preprocessor.key_indicators[5], limit_date)

Producer Price Index

In [19]:
preprocessor.get_most_recent_values(df_ppi, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,1.1,5.1,NaN,NaN,NaN,-0.3,1.0,NaN,NaN,-2.1,...,-23.5,-4.6,NaN,NaN,0.6,NaN,-3.6,7.3,0.1,NaN
2023-06-01,0.1,4.1,NaN,NaN,3.0,-0.6,0.1,NaN,NaN,-3.1,...,-28.5,-5.4,NaN,NaN,-0.2,NaN,0.0,4.8,-0.9,NaN
2023-07-01,0.8,3.6,NaN,NaN,0.9,-0.6,-6.0,3.8,NaN,-2.1,...,-35.4,-4.4,NaN,NaN,-0.2,NaN,4.1,2.7,-0.8,NaN
2023-08-01,1.6,3.2,NaN,NaN,-1.3,-0.8,-12.6,NaN,NaN,-5.9,...,-37.4,-3.0,NaN,NaN,1.0,NaN,10.6,4.3,0.1,NaN
2023-09-01,2.2,2.0,NaN,NaN,-1.7,-1.0,-14.7,NaN,NaN,-4.6,...,-29.3,-2.5,NaN,NaN,1.3,NaN,16.7,5.1,0.7,NaN
2023-10-01,1.3,0.8,NaN,NaN,-1.2,-0.9,-11.0,NaN,NaN,-3.7,...,-10.9,-2.6,NaN,NaN,0.8,NaN,21.6,5.8,1.3,NaN

### Manufacturing PMI

In [20]:
print(preprocessor.key_indicators[6])
manufacturing_pmi = preprocessor.read_key_indicator(
    preprocessor.key_indicators[6], limit_date)

Manufacturing PMI

In [21]:
preprocessor.get_most_recent_values(manufacturing_pmi, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-06-01,46.3,49.8,46.5,48.8,46.0,44.9,40.6,48.2,NaN,44.8,...,48.0,49.0,44.8,57.8,47.8,46.6,52.6,47.6,50.9,NaN
2023-07-01,49.0,49.6,45.3,49.6,45.1,38.5,38.8,49.6,NaN,47.6,...,56.7,49.3,44.1,57.7,49.4,47.8,52.1,47.3,50.9,NaN
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,NaN,45.8,...,51.4,49.7,44.3,58.6,48.9,50.1,52.7,49.7,51.2,NaN
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,NaN,43.3,...,52.5,50.2,46.4,57.5,49.9,49.0,54.5,45.4,49.8,NaN
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,NaN,45.7,...,47.9,49.5,47.6,55.5,49.8,48.6,53.8,45.4,52.1,NaN
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,NaN,49.0,...,49.9,49.4,48.3,56.0,50.0,49.4,53.8,48.2,52.5,NaN

### Industrial Production

In [22]:
print(preprocessor.key_indicators[7])
df_industrial_production = preprocessor.read_key_indicator(
    preprocessor.key_indicators[7], limit_date)

Industrial Production

In [23]:
preprocessor.get_most_recent_values(df_industrial_production, read_date, no_months)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-04-01,0.24,NaN,-1.9,NaN,NaN,-0.8,1.75,NaN,NaN,-0.1,...,NaN,5.6,-22.86,4.2,-8.9,-2.7,5.2,NaN,0.7,-3.3
2023-05-01,0.23,NaN,-2.3,NaN,NaN,NaN,0.82,NaN,NaN,3.4,...,NaN,3.5,-15.73,5.2,-7.3,1.9,7.1,NaN,3.9,4.7
2023-06-01,-0.43,NaN,0.7,NaN,NaN,NaN,-1.83,NaN,NaN,3.8,...,NaN,4.4,-16.63,3.7,-5.6,0.3,6.5,NaN,3.7,-2.2
2023-07-01,-0.23,NaN,0.4,NaN,NaN,2.0,-2.25,NaN,NaN,-2.8,...,NaN,3.7,-15.2,5.7,-8.0,-1.1,4.9,NaN,4.8,0.7
2023-08-01,0.25,NaN,1.3,NaN,NaN,NaN,-1.75,NaN,NaN,-4.0,...,NaN,4.5,-10.53,10.3,-0.5,0.5,5.4,NaN,5.2,-0.3
2023-09-01,0.08,NaN,1.5,NaN,NaN,NaN,-3.86,NaN,NaN,4.7,...,NaN,4.5,-6.72,5.8,3.0,0.6,5.6,NaN,3.9,-0.5

### Retail Sales

In [24]:
print(preprocessor.key_indicators[8])
df_retail_sales = preprocessor.read_key_indicator(
    preprocessor.key_indicators[8], limit_date)

Retail Sales

In [25]:
df_recent = preprocessor.get_most_recent_values(
        df_retail_sales, read_date, no_months)
df_recent

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,1.61,5.7,-2.1,NaN,NaN,-1.1,-3.6,NaN,6.3,-5.4,...,NaN,12.7,NaN,NaN,NaN,-1.0,9.3,-1.4,2.6,NaN
2023-06-01,1.49,5.9,-1.0,NaN,NaN,NaN,-1.6,NaN,9.0,-4.4,...,NaN,3.1,NaN,NaN,NaN,1.3,10.0,-0.9,5.9,NaN
2023-07-01,3.17,6.8,-3.2,NaN,NaN,-2.2,-2.2,NaN,3.7,-2.1,...,NaN,2.5,NaN,NaN,NaN,2.4,10.5,-1.8,5.1,NaN
2023-08-01,2.47,7.0,-1.4,NaN,NaN,-1.8,-2.3,NaN,6.8,-1.7,...,NaN,4.6,NaN,NaN,NaN,2.3,11.0,-0.5,3.2,NaN
2023-09-01,3.75,5.8,-1.0,NaN,NaN,-0.6,-4.3,NaN,3.4,-3.8,...,NaN,5.5,NaN,NaN,NaN,3.3,12.2,0.9,2.3,NaN
2023-10-01,2.48,4.2,-2.7,NaN,NaN,-0.1,-0.1,NaN,3.9,-1.0,...,NaN,7.6,NaN,NaN,NaN,NaN,12.7,NaN,NaN,NaN

In [26]:
df_recent_filled = data_provider.fill_missing_values(df_recent)
df_recent_filled

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,1.61,5.7,-2.1,1.04,-0.36,-1.1,-3.6,1.04,6.3,-5.4,...,-0.36,12.7,2.36,1.04,1.20,-1.0,9.3,-1.4,2.6,1.58
2023-06-01,1.49,5.9,-1.0,2.30,2.60,-1.1,-1.6,2.30,9.0,-4.4,...,2.72,3.1,2.08,1.62,1.60,1.3,10.0,-0.9,5.9,2.74
2023-07-01,3.17,6.8,-3.2,0.83,1.88,-2.2,-2.2,-0.22,3.7,-2.1,...,1.68,2.5,1.05,0.83,0.06,2.4,10.5,-1.8,5.1,0.62
2023-08-01,2.47,7.0,-1.4,1.59,2.48,-1.8,-2.3,2.54,6.8,-1.7,...,0.76,4.6,1.53,1.59,2.08,2.3,11.0,-0.5,3.2,1.82
2023-09-01,3.75,5.8,-1.0,0.63,1.18,-0.6,-4.3,-0.88,3.4,-3.8,...,-0.26,5.5,0.07,0.63,0.38,3.3,12.2,0.9,2.3,-0.38
2023-10-01,2.48,4.2,-2.7,-0.00,1.48,-0.1,-0.1,0.46,3.9,-1.0,...,0.28,7.6,1.32,0.98,1.50,3.3,12.7,0.9,2.3,0.18

## PCA

In [27]:
read_date = datetime.today() #- pd.DateOffset(months=12)
print(read_date)

indicators_norm = pd.DataFrame(
    data=np.zeros((no_months*len(data_provider.selected_countries),
                   len(preprocessor.key_indicators))),
    columns=preprocessor.key_indicators)

for indicator in preprocessor.key_indicators:
    df = preprocessor.read_key_indicator(indicator)
    is_quarterly = (indicator == 'GDP Annual Growth Rate' or
                    indicator == 'GDP Growth Rate')
    df_recent = preprocessor.get_most_recent_values(
        df, read_date, no_months, is_quarterly)
    print(indicator, df_recent.isna().sum().sum(), 'NAs')

    df_recent_filled = data_provider.fill_missing_values(df_recent)
    df_normalized = data_provider.normilize_dataframe(df_recent_filled)
    indicators_norm.loc[:, indicator] = (df_normalized.values.reshape(-1))

pca = PCA(n_components=1)
principal_component = pca.fit_transform(indicators_norm)

principal_component_arr = principal_component.reshape(
    -1, len(data_provider.selected_countries))
principal_component_df = pd.DataFrame(
    principal_component_arr,
    index=range(no_months),
    columns=data_provider.selected_countries)
principal_component_df

2024-06-07 20:23:27.257557
GDP Annual Growth Rate 21 NAs
GDP Growth Rate 24 NAs
Unemployment Rate 34 NAs
Inflation Rate 5 NAs
Inflation Rate MoM 16 NAs
Producer Price Index 73 NAs
Manufacturing PMI 40 NAs
Industrial Production 71 NAs
Retail Sales 64 NAs

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
0,0.275336,-0.367590,-1.357220,-0.999356,-1.456088,-1.890785,-2.931613,-0.039443,-2.106140,-0.236994,...,-0.401876,0.849846,-0.194319,3.541923,-0.004514,0.197176,5.633568,0.570848,1.858399,0.068604
1,1.057123,-0.884862,-1.183685,-1.018875,-1.432159,-1.835086,-2.411048,0.043989,-1.951637,-1.187021,...,-1.495712,1.264081,0.084116,2.665192,1.249129,0.950240,4.761809,-0.309993,1.083828,-0.067738
2,0.912407,-0.982522,-1.247921,-0.578564,-1.355728,-1.650656,-2.435398,-0.269093,-0.822243,-0.557468,...,-0.445609,1.295177,-0.353126,2.845222,1.292577,1.329137,4.901880,0.643982,1.112737,0.028849
3,0.520941,-1.058598,-0.185914,-0.409855,-0.939081,-1.615144,-2.782220,-0.195988,-0.746021,0.081877,...,-0.924921,2.166748,3.078908,2.952895,2.676085,2.480688,5.720860,0.687162,1.177128,1.137722
4,0.549629,-1.007121,-0.295901,-0.138693,-1.535907,-2.517553,-2.326562,0.170023,-0.945001,0.060629,...,-0.285700,0.686216,0.896910,3.200971,1.313833,2.238253,5.714566,1.503614,0.765184,0.678717
5,0.601087,-1.142120,-0.547921,-0.374813,-1.438824,-1.282452,-1.793398,-0.049672,-0.761763,0.532082,...,-0.150779,0.827693,1.403948,2.870848,0.898659,0.858910,4.926238,1.179893,0.030547,0.509298

In [32]:
read_date = datetime.today() - pd.DateOffset(days=15)
print(read_date)
data_provider.calculate_principal_component_from_calendar(read_date, no_months)

2024-05-23 20:26:14.467277

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
0,0.511291,-0.189149,-1.559247,-0.681394,-1.326652,-1.829928,-2.939099,-0.037521,-1.755793,-0.257148,...,-0.498315,1.215387,0.192997,2.021812,0.181947,0.295843,6.040312,-0.140472,2.089959,-0.084221
1,0.705840,-0.345624,-0.993101,-1.215117,-1.224227,-1.498334,-2.773966,-0.046523,-1.559330,-0.820964,...,-0.717864,2.017142,0.182357,1.175427,0.975941,0.372061,5.559481,0.170717,1.685754,0.054212
2,1.375811,-0.734600,-1.703475,-0.742913,-1.560462,-1.618996,-2.320727,0.094417,-1.111619,-1.398578,...,-1.603617,1.780575,-0.237945,1.291504,1.670580,0.775223,4.959007,-0.165928,0.868895,0.188458
3,0.557633,-1.357393,-0.490110,-0.519855,-0.822998,-1.615241,-2.536042,0.012246,-1.029681,-0.891734,...,-0.914169,2.522133,2.963772,1.372941,2.793572,1.879007,5.496019,0.744544,0.779281,1.259991
4,0.685280,-0.774244,-0.231138,-0.263784,-1.203225,-1.831691,-2.722683,0.042711,-0.657468,-0.842550,...,-0.953964,1.438380,1.073756,1.663773,1.703717,2.110017,6.357512,0.427779,1.397082,1.038578
5,0.738227,-1.313296,-0.508313,-0.208028,-1.353270,-2.096243,-1.981218,0.311583,-0.868878,-0.454991,...,-0.141355,1.356085,1.701102,1.527362,0.971349,1.157501,5.505379,1.091217,-0.078672,0.786129