In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

from dotenv import load_dotenv
load_dotenv()

from DataProvider import DataProvider
data_provider = DataProvider()

### GDP Annual Growth Rate

In [2]:
indicator_name = 'GDP Annual Growth Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'QS')
df_investing_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,NaN,0.1,0.6,2.07,0.5,0.8,0.3,2.7,3.2,-0.9,-4.2,2.6,1.4,2.1,1.5,0.00,NaN,NaN,2.9,-0.41,6.1,1.3,1.9,-2.7,0.9,3.6,7.0
2023-01-01,NaN,2.7,0.2,2.21,0.8,0.6,-0.2,2.3,1.9,0.8,2.7,4.2,1.9,0.4,1.7,-0.40,NaN,NaN,4.5,-2.87,7.8,0.9,4.0,-1.8,0.2,3.7,5.6
2023-04-01,NaN,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,1.5,2.2,0.4,0.5,0.9,-0.40,NaN,NaN,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-07-01,NaN,-2.9,0.3,0.47,0.6,0.3,-0.4,2.1,-0.8,-1.4,4.1,1.8,0.1,1.1,-0.3,-1.20,NaN,NaN,4.9,2.32,NaN,1.4,2.0,5.1,-0.7,3.3,3.3
2023-10-01,NaN,-0.4,-0.2,NaN,0.7,NaN,-0.2,NaN,-0.5,0.0,4.3,2.0,0.5,2.2,3.1,-0.80,NaN,NaN,5.2,5.12,NaN,2.2,NaN,NaN,NaN,2.5,3.0

In [3]:
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'QS')
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.82,-0.84,2.34,4.19,2.78,1.03,0.79,5.27,4.21,4.22,NaN,4.24,0.86,NaN,2.31,5.93,1.90,0.87,8.9,NaN,6.20,6.58,0.67,NaN,0.98,2.29,NaN
1999-04-01,4.72,-0.03,2.17,5.01,2.61,0.58,1.22,4.61,4.62,3.52,NaN,4.30,0.64,NaN,3.62,4.39,2.96,-0.03,7.9,NaN,7.53,12.16,-0.44,NaN,1.64,2.30,NaN
1999-07-01,4.79,0.33,3.47,5.69,3.54,1.17,1.86,3.83,5.17,3.80,NaN,4.69,1.42,NaN,2.38,3.64,4.15,3.22,7.6,NaN,6.93,13.30,-0.46,NaN,2.97,2.76,NaN
1999-10-01,4.82,-0.44,4.26,5.74,4.18,3.73,3.12,3.97,5.68,4.45,NaN,4.73,3.33,NaN,3.48,3.61,5.15,4.25,6.7,NaN,7.29,13.73,2.15,NaN,4.01,3.61,NaN
2000-01-01,4.22,2.67,4.82,5.52,4.36,4.32,3.40,3.64,4.59,3.99,NaN,5.35,3.95,NaN,3.55,4.97,4.80,5.13,8.7,NaN,7.79,12.47,2.97,NaN,4.22,4.86,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,0.65,0.63,0.66,2.15,0.78,1.14,0.82,2.31,3.07,-0.11,NaN,3.81,1.63,NaN,0.35,-0.29,1.38,1.60,2.9,NaN,4.64,1.34,3.25,NaN,1.35,4.51,NaN
2023-01-01,1.72,2.48,0.37,1.80,0.93,1.51,-0.07,2.37,2.07,1.25,NaN,4.06,2.06,NaN,2.69,0.09,1.68,2.58,4.5,NaN,6.29,1.01,3.72,NaN,0.22,3.50,NaN
2023-04-01,2.38,2.27,0.32,1.20,1.22,0.40,0.09,2.05,-0.09,-0.34,NaN,2.05,0.28,NaN,0.95,-0.23,1.31,0.91,6.3,NaN,7.28,0.87,3.40,NaN,1.53,3.44,NaN
2023-07-01,2.93,1.63,0.27,0.47,0.63,0.43,-0.28,2.05,-0.56,-1.33,NaN,1.91,0.06,NaN,-0.32,-1.03,1.38,-1.49,4.9,NaN,7.02,1.25,2.47,NaN,-0.48,2.96,NaN
2023-10-01,3.11,NaN,NaN,0.98,0.66,NaN,-0.16,NaN,NaN,0.02,NaN,2.04,0.50,NaN,NaN,NaN,1.56,NaN,5.2,NaN,NaN,2.20,NaN,NaN,NaN,2.37,NaN

In [4]:
df_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.82,-0.84,2.34,4.19,2.78,1.03,0.79,5.27,4.21,4.22,NaN,4.24,0.86,NaN,2.31,6.92,1.90,0.87,8.9,NaN,6.20,6.58,0.67,NaN,0.98,2.29,NaN
1999-04-01,4.72,-0.03,2.17,5.01,2.61,0.58,1.22,4.61,4.62,3.52,NaN,4.30,0.64,NaN,3.62,4.30,2.96,-0.03,7.9,NaN,7.53,12.16,-0.44,NaN,1.64,2.30,NaN
1999-07-01,4.79,0.33,3.47,5.69,3.54,1.17,1.86,3.83,5.17,3.80,NaN,4.69,1.42,NaN,2.38,3.45,4.15,3.22,7.6,NaN,6.93,13.30,-0.46,NaN,2.97,2.76,NaN
1999-10-01,4.82,-0.44,4.26,5.74,4.18,3.73,3.12,3.97,5.68,4.45,NaN,4.73,3.33,NaN,3.48,2.92,5.15,4.25,6.7,NaN,7.29,13.73,2.15,NaN,4.01,3.61,NaN
2000-01-01,4.22,2.67,4.82,5.52,4.36,4.32,3.40,3.64,4.59,3.99,NaN,5.35,3.95,NaN,3.55,7.53,4.80,5.13,8.7,NaN,7.79,12.47,2.97,NaN,4.22,4.86,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,0.65,0.10,0.60,2.07,0.50,0.80,0.30,2.70,3.20,-0.90,-4.2,2.60,1.40,2.1,1.50,0.00,1.38,1.60,2.9,-0.41,6.10,1.30,1.90,-2.7,0.90,3.60,7.0
2023-01-01,1.72,2.70,0.20,2.21,0.80,0.60,-0.20,2.30,1.90,0.80,2.7,4.20,1.90,0.4,1.70,-0.40,1.68,2.58,4.5,-2.87,7.80,0.90,4.00,-1.8,0.20,3.70,5.6
2023-04-01,2.38,3.50,0.60,1.12,0.90,0.50,-0.20,2.10,-0.20,-1.00,1.5,2.20,0.40,0.5,0.90,-0.40,1.31,0.91,6.3,1.36,7.60,0.90,3.40,4.9,1.60,3.60,2.9
2023-07-01,2.93,-2.90,0.30,0.47,0.60,0.30,-0.40,2.10,-0.80,-1.40,4.1,1.80,0.10,1.1,-0.30,-1.20,1.38,-1.49,4.9,2.32,7.02,1.40,2.00,5.1,-0.70,3.30,3.3
2023-10-01,3.11,-0.40,-0.20,0.98,0.70,NaN,-0.20,NaN,-0.50,0.00,4.3,2.00,0.50,2.2,3.10,-0.80,1.56,NaN,5.2,5.12,NaN,2.20,NaN,NaN,NaN,2.50,3.0

In [5]:
df_missing_data = pd.DataFrame(index=data_provider.selected_countries)
df_missing_data[f'{indicator_name} (Investing)'] = df_investing_indicator.isna().sum()
df_missing_data[f'{indicator_name} (OECD)'] = df_oecd_indicator.isna().sum()
df_missing_data[f'{indicator_name} (Combined)'] = df_combined.isna().sum()
df_missing_data

,GDP Annual Growth Rate (Investing),GDP Annual Growth Rate (OECD),GDP Annual Growth Rate (Combined)
United States,100,0,0
Japan,58,1,0
United Kingdom,52,1,0
Canada,75,0,0
France,75,0,0
Switzerland,57,1,1
Germany,52,0,0
Australia,57,1,1
Netherlands,47,1,0
Sweden,59,0,0
Hong Kong,59,100,59
Spain,58,0,0
Italy,52,0,0
Singapore,47,100,47
Denmark,93,1,0
Finland,3,1,0
Belgium,100,0,0
Norway,100,1,1
China,47,0,0
Taiwan,43,100,43
India,46,1,1
Korea,52,0,0
Brazil,43,1,1
Russia,62,29,21
South Africa,62,1,1
Mexico,43,0,0
Malaysia,48,100,48

### GDP Growth Rate

In [6]:
indicator_name = 'GDP Growth Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'QS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'QS')
df_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,0.94,-1.37,0.69,1.81,0.66,0.10,1.16,0.74,1.67,1.09,NaN,1.00,0.63,NaN,0.91,1.65,1.04,1.02,NaN,NaN,1.62,3.03,0.31,NaN,0.96,0.86,NaN
1999-04-01,0.83,0.38,0.47,0.84,0.62,0.65,0.00,0.34,1.11,0.68,NaN,1.19,0.38,NaN,0.52,0.53,1.37,0.04,NaN,NaN,2.58,4.38,0.32,NaN,0.80,0.75,NaN
1999-07-01,1.33,0.53,1.60,1.56,1.50,0.63,1.11,1.14,1.38,0.71,NaN,1.33,0.89,NaN,0.62,0.53,1.45,1.71,NaN,NaN,1.25,2.78,0.06,NaN,1.09,0.95,NaN
1999-10-01,1.64,0.03,1.43,1.41,1.34,2.32,0.83,1.70,1.41,1.91,NaN,1.12,1.39,NaN,1.40,0.85,1.18,1.43,NaN,NaN,1.65,2.89,1.45,NaN,1.10,0.99,NaN
2000-01-01,0.36,1.71,1.23,1.60,0.83,0.66,1.43,0.41,0.62,0.64,NaN,1.60,1.23,NaN,0.98,2.98,0.71,1.87,NaN,NaN,2.10,1.90,1.11,NaN,1.17,2.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,2.60,0.00,0.10,0.00,0.10,0.00,-0.40,0.50,0.60,-0.90,0.0,0.20,-0.10,0.3,0.90,-0.60,0.10,0.20,0.0,NaN,1.14,-0.40,1.90,NaN,-1.30,0.50,NaN
2023-01-01,2.00,0.70,0.10,3.10,0.20,0.30,-0.30,0.20,-0.30,0.60,5.3,0.60,0.60,-1.6,0.60,0.20,0.50,0.20,2.2,NaN,2.08,0.30,1.44,NaN,0.40,1.00,NaN
2023-04-01,2.10,1.20,0.20,-0.20,0.50,0.00,0.00,0.40,-0.20,-0.80,-1.3,0.50,-0.40,0.1,-0.30,0.60,0.20,0.00,0.8,NaN,1.89,0.60,0.90,NaN,0.60,0.80,NaN
2023-07-01,4.90,-0.70,-0.10,-1.10,-0.10,0.30,-0.10,0.20,-0.30,-0.30,0.1,0.30,0.10,1.4,-0.70,-0.90,0.40,-0.50,1.3,NaN,1.74,0.60,0.10,NaN,-0.20,1.10,NaN
2023-10-01,3.30,-0.10,-0.30,0.30,0.00,NaN,-0.30,NaN,0.30,0.10,0.5,0.60,0.20,1.2,2.00,NaN,0.40,1.50,1.0,NaN,NaN,0.60,NaN,NaN,NaN,0.10,NaN

In [7]:
df_missing_data[f'{indicator_name} (Investing)'] = df_investing_indicator.isna().sum()
df_missing_data[f'{indicator_name} (OECD)'] = df_oecd_indicator.isna().sum()
df_missing_data[f'{indicator_name} (Combined)'] = df_combined.isna().sum()
df_missing_data.iloc[:, -3:]

,GDP Growth Rate (Investing),GDP Growth Rate (OECD),GDP Growth Rate (Combined)
United States,35,0,0
Japan,35,1,0
United Kingdom,35,1,0
Canada,58,0,0
France,35,0,0
Switzerland,36,1,1
Germany,35,0,0
Australia,36,1,1
Netherlands,61,1,0
Sweden,46,0,0
Hong Kong,43,100,43
Spain,45,0,0
Italy,36,0,0
Singapore,60,100,60
Denmark,41,1,0
Finland,61,1,1
Belgium,43,0,0
Norway,45,1,0
China,57,48,48
Taiwan,100,100,100
India,100,1,1
Korea,47,0,0
Brazil,59,1,1
Russia,100,26,26
South Africa,54,1,1
Mexico,60,0,0
Malaysia,100,100,100

### Unemployment Rate

In [8]:
indicator_name = 'Unemployment Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'MS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'MS')
df_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.4,4.5,6.2,7.9,12.0,3.1,10.7,7.1,4.6,7.3,6.4,14.80,11.1,NaN,6.1,10.6,8.9,2.7,NaN,2.92,NaN,7.6,NaN,14.2,NaN,2.6,NaN
1999-02-01,4.4,4.6,6.2,7.9,12.0,3.0,10.7,7.1,4.5,7.0,6.4,14.30,11.1,NaN,5.9,10.5,9.0,2.7,NaN,2.88,NaN,7.4,NaN,14.6,NaN,3.1,NaN
1999-03-01,4.2,4.7,6.2,7.9,11.8,3.0,10.6,7.0,4.4,7.0,6.3,13.90,11.1,NaN,5.9,10.5,9.0,2.9,NaN,2.84,NaN,7.2,NaN,14.1,NaN,2.7,NaN
1999-04-01,4.3,4.7,6.2,8.2,11.7,2.9,10.6,7.0,4.4,6.9,6.2,13.60,11.1,NaN,5.9,10.5,9.0,2.9,NaN,2.97,NaN,7.0,NaN,13.4,NaN,2.8,NaN
1999-05-01,4.2,4.7,6.1,7.9,11.5,2.8,10.5,7.0,4.3,6.7,6.2,13.50,11.1,NaN,5.8,10.4,9.0,2.9,NaN,2.98,NaN,6.8,NaN,12.7,NaN,2.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,3.8,2.7,4.2,5.5,7.4,2.1,5.7,3.7,3.6,7.7,2.8,11.90,7.3,NaN,2.5,7.2,5.3,3.6,5.2,3.42,NaN,2.4,7.9,3.0,NaN,2.7,3.4
2023-09-01,3.9,2.6,4.2,5.5,7.3,2.1,5.7,3.6,3.7,7.7,2.8,11.90,7.4,NaN,2.5,7.3,5.4,3.5,5.0,3.48,NaN,2.6,7.8,3.0,NaN,2.7,3.4
2023-10-01,3.7,2.5,4.2,5.7,7.5,2.1,5.8,3.7,3.6,7.4,2.9,11.76,7.8,2.0,2.5,7.5,5.6,3.6,5.0,3.41,NaN,2.5,7.7,2.9,32.1,2.6,3.4
2023-11-01,3.7,2.5,3.7,5.8,7.3,2.1,5.9,3.9,3.5,7.1,2.9,11.80,7.6,NaN,2.3,7.6,5.6,3.7,5.0,3.37,NaN,2.8,7.6,2.9,NaN,2.8,3.4
2023-12-01,3.7,2.4,3.7,5.8,7.3,2.2,5.9,3.9,3.6,7.7,2.9,11.70,7.2,NaN,2.5,7.6,5.7,3.5,5.1,3.40,NaN,3.3,7.5,3.7,NaN,2.8,3.3

In [9]:
df_missing_data[f'{indicator_name} (Investing)'] = df_investing_indicator.isna().sum()
df_missing_data[f'{indicator_name} (OECD)'] = df_oecd_indicator.isna().sum()
df_missing_data[f'{indicator_name} (Combined)'] = df_combined.isna().sum()
df_missing_data.iloc[:, -3:]

,Unemployment Rate (Investing),Unemployment Rate (OECD),Unemployment Rate (Combined)
United States,0,0,0
Japan,5,0,0
United Kingdom,2,2,0
Canada,0,0,0
France,245,0,0
Switzerland,0,300,0
Germany,9,0,0
Australia,0,0,0
Netherlands,50,0,0
Sweden,26,0,0
Hong Kong,0,300,0
Spain,249,0,0
Italy,63,0,0
Singapore,239,300,239
Denmark,3,0,0
Finland,10,0,0
Belgium,300,0,0
Norway,14,0,0
China,238,300,238
Taiwan,2,300,2
India,300,300,300
Korea,5,0,0
Brazil,55,300,55
Russia,3,300,3
South Africa,253,300,253
Mexico,75,0,0
Malaysia,190,300,190

### Inflation Rate

In [10]:
indicator_name = 'Inflation Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'MS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'MS')
df_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,1.6,0.2,1.6,0.7,0.24,0.1,0.2,NaN,2.2,-0.3,-1.1,1.5,1.4,-0.92,1.7,0.50,0.95,2.3,-1.2,0.40,9.38,1.5,1.65,96.9,8.84,19.02,5.2
1999-02-01,1.7,-0.1,1.4,0.7,0.18,0.3,0.1,1.19,2.1,-0.1,-1.7,1.8,1.3,-0.73,2.0,0.76,0.98,2.1,-1.3,2.09,8.64,0.2,2.24,103.2,8.58,18.54,3.8
1999-03-01,1.6,-0.4,1.7,1.0,0.35,0.5,0.2,NaN,2.2,0.1,-2.6,2.2,1.3,-0.52,2.3,0.79,1.21,2.3,-1.8,-0.47,8.95,0.5,3.02,107.5,7.83,18.26,3.0
1999-04-01,1.7,-0.1,1.5,1.6,0.42,0.6,0.6,NaN,2.1,0.1,-3.8,2.4,1.4,-0.32,2.3,1.06,1.18,2.5,-2.2,-0.10,8.36,0.4,3.35,112.9,7.57,18.23,2.9
1999-05-01,2.3,-0.4,1.3,1.5,0.41,0.6,0.5,1.04,2.3,0.1,-4.0,2.2,1.4,0.15,2.0,1.37,0.83,2.5,-2.2,0.49,7.71,0.8,3.14,116.6,7.08,18.01,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,3.7,3.2,6.7,4.0,4.80,1.6,6.1,5.37,3.0,7.5,1.8,2.6,5.4,4.00,2.4,5.60,4.09,4.8,0.1,2.52,6.83,3.4,4.61,5.2,4.80,4.64,2.0
2023-09-01,3.2,3.0,6.7,3.8,4.90,1.7,4.5,NaN,0.2,6.5,2.0,3.5,5.3,4.10,0.9,5.50,0.36,3.3,0.0,2.93,5.02,3.7,5.19,6.0,5.40,4.45,1.9
2023-10-01,3.1,3.3,4.6,3.1,4.00,1.7,3.8,4.10,-0.4,6.5,2.7,3.5,1.7,4.70,0.1,4.90,0.36,4.0,-0.2,3.05,4.87,3.8,4.82,6.7,5.90,4.26,1.8
2023-11-01,3.4,2.8,3.9,3.1,3.50,1.4,3.2,4.05,1.6,5.8,2.6,3.2,0.7,3.60,0.6,3.30,0.76,4.8,-0.5,2.90,5.55,3.3,4.68,7.5,5.50,4.32,1.5
2023-12-01,3.1,2.6,4.0,3.4,3.70,1.7,3.7,NaN,1.2,4.4,2.4,3.1,0.6,3.70,0.7,3.60,1.35,4.8,-0.3,2.71,5.69,3.2,4.62,7.4,5.10,4.66,1.5

In [11]:
df_missing_data[f'{indicator_name} (Investing)'] = df_investing_indicator.isna().sum()
df_missing_data[f'{indicator_name} (OECD)'] = df_oecd_indicator.isna().sum()
df_missing_data[f'{indicator_name} (Combined)'] = df_combined.isna().sum()
df_missing_data.iloc[:, -3:]

,Inflation Rate (Investing),Inflation Rate (OECD),Inflation Rate (Combined)
United States,0,0,0
Japan,6,30,0
United Kingdom,1,0,0
Canada,2,0,0
France,230,0,0
Switzerland,0,0,0
Germany,0,0,0
Australia,257,200,157
Netherlands,0,0,0
Sweden,6,0,0
Hong Kong,1,300,1
Spain,0,0,0
Italy,2,0,0
Singapore,1,300,1
Denmark,0,0,0
Finland,144,0,0
Belgium,2,0,0
Norway,0,0,0
China,0,0,0
Taiwan,0,300,0
India,160,0,0
Korea,3,0,0
Brazil,0,0,0
Russia,1,21,0
South Africa,1,0,0
Mexico,0,0,0
Malaysia,1,300,1

### Inflation Rate MoM

In [12]:
indicator_name = 'Inflation Rate MoM'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'MS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'MS')
df_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,0.2,-0.5,-0.6,0.2,-0.4,0.2,-0.1,NaN,0.06,0.0,NaN,0.4,0.1,NaN,-0.10,-0.21,0.33,0.4,0.2,0.16,-2.10,-0.1,0.70,8.3,0.75,2.53,NaN
1999-02-01,0.0,-0.4,0.2,0.1,0.3,0.3,0.1,NaN,0.50,0.0,NaN,0.1,0.1,NaN,0.77,0.24,0.23,0.2,1.3,-0.03,-1.19,0.4,1.05,4.2,0.00,1.34,NaN
1999-03-01,0.1,0.1,0.5,0.4,0.4,0.1,0.0,NaN,0.87,0.4,NaN,0.4,0.3,NaN,0.48,0.24,0.07,0.7,-0.8,-0.47,-0.24,0.2,1.10,2.8,0.00,0.93,NaN
1999-04-01,0.7,0.5,0.4,0.5,0.3,0.2,0.5,NaN,0.22,0.2,NaN,0.4,0.3,NaN,0.28,0.73,0.41,0.3,-1.0,-0.15,0.24,0.3,0.56,3.0,0.21,0.92,NaN
1999-05-01,0.1,0.0,0.3,0.2,0.0,-0.2,0.0,NaN,0.03,0.2,NaN,0.0,0.1,NaN,0.19,0.25,0.16,-0.2,-1.3,0.18,0.96,-0.2,0.30,2.1,-0.11,0.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.6,0.2,0.3,0.4,1.0,0.2,0.3,NaN,0.40,0.1,0.0,0.5,0.3,0.9,-0.70,-0.70,0.76,-0.8,0.3,0.18,-0.36,1.0,0.23,0.3,0.30,0.55,0.2
2023-09-01,0.4,0.3,0.5,-0.1,-0.5,-0.1,0.3,NaN,-0.40,0.5,0.4,0.2,0.2,0.5,-0.30,0.70,0.34,-0.1,0.2,0.34,-1.22,0.6,0.26,0.9,0.60,0.44,0.1
2023-10-01,0.0,NaN,0.0,0.1,0.1,0.1,0.0,NaN,0.40,0.2,1.0,0.3,-0.2,0.2,0.30,0.30,0.34,1.0,-0.1,0.33,0.65,0.3,0.24,0.8,0.90,0.38,0.1
2023-11-01,0.1,NaN,-0.2,0.1,-0.2,-0.2,-0.4,NaN,-1.00,0.3,0.0,-0.3,-0.5,-0.2,-0.30,-0.30,0.17,0.5,-0.5,-0.07,0.51,-0.6,0.28,1.1,-0.10,0.64,NaN
2023-12-01,0.3,NaN,0.4,-0.3,0.1,0.0,0.1,NaN,0.00,0.7,0.1,0.0,0.2,0.4,-0.50,0.30,0.43,0.1,0.1,0.29,-0.22,0.0,0.56,0.7,0.00,0.71,0.2

In [13]:
df_missing_data[f'{indicator_name} (Investing)'] = df_investing_indicator.isna().sum()
df_missing_data[f'{indicator_name} (OECD)'] = df_oecd_indicator.isna().sum()
df_missing_data[f'{indicator_name} (Combined)'] = df_combined.isna().sum()
df_missing_data.iloc[:, -3:]

,Inflation Rate MoM (Investing),Inflation Rate MoM (OECD),Inflation Rate MoM (Combined)
United States,1,0,0
Japan,233,30,5
United Kingdom,1,0,0
Canada,4,0,0
France,0,0,0
Switzerland,1,0,0
Germany,1,0,0
Australia,300,300,300
Netherlands,292,0,0
Sweden,0,0,0
Hong Kong,292,300,292
Spain,0,0,0
Italy,7,0,0
Singapore,292,300,292
Denmark,292,0,0
Finland,292,0,0
Belgium,4,0,0
Norway,0,0,0
China,1,0,0
Taiwan,0,300,0
India,300,0,0
Korea,5,0,0
Brazil,1,0,0
Russia,2,21,0
South Africa,30,0,0
Mexico,0,0,0
Malaysia,293,300,293

### Manufacturing PMI

In [14]:
indicator_name = 'Manufacturing PMI'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'MS')
df_investing_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,NaN,NaN,NaN,NaN,NaN,46.5,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,48.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,51.2,NaN,NaN,NaN,53.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,51.8,NaN,NaN,NaN,51.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,NaN,45.8,49.8,46.5,45.4,NaN,NaN,NaN,NaN,51.4,49.7,44.3,58.6,48.9,50.1,52.7,49.7,51.2,NaN
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,NaN,43.3,49.6,47.7,46.8,NaN,NaN,NaN,NaN,52.5,50.2,46.4,57.5,49.9,49.0,54.5,45.4,49.8,NaN
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,NaN,45.7,48.9,45.1,44.9,NaN,NaN,NaN,NaN,47.9,49.5,47.6,55.5,49.8,48.6,53.8,45.4,52.1,NaN
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,NaN,49.0,50.1,46.3,44.4,NaN,NaN,NaN,NaN,49.9,49.4,48.3,56.0,50.0,49.4,53.8,48.2,52.5,NaN
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,NaN,48.8,51.3,46.2,45.3,NaN,NaN,NaN,NaN,51.7,49.0,47.1,54.9,49.9,48.4,54.6,50.9,52.0,NaN

In [15]:
df_missing_data[f'{indicator_name} (Investing)'] = df_investing_indicator.isna().sum()
df_missing_data.iloc[:, -1]

United States     160
Japan             109
United Kingdom    109
Canada            263
France            115
Switzerland         0
Germany           109
Australia         239
Netherlands       300
Sweden              0
Hong Kong         161
Spain             157
Italy             161
Singapore         300
Denmark           290
Finland           300
Belgium           300
Norway             63
China              75
Taiwan            161
India             159
Korea             167
Brazil            161
Russia            162
South Africa      174
Mexico            161
Malaysia          300
Name: Manufacturing PMI (Investing), dtype: int64

### OECD Bussiness Confidence Indicator

In [18]:
indicator_name = 'OECD Bussiness Confidence Indicator'
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'MS')
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,99.25,96.93,96.75,100.01,99.91,99.06,99.08,99.89,100.24,98.22,NaN,100.91,99.64,NaN,96.11,98.14,98.50,98.85,NaN,NaN,NaN,103.24,96.63,99.72,97.37,97.22,NaN
1999-02-01,99.55,97.05,97.04,100.14,99.87,99.28,98.90,99.80,100.26,97.85,NaN,100.93,99.62,NaN,96.38,98.30,98.77,98.98,NaN,NaN,NaN,102.79,96.80,100.15,97.30,98.36,NaN
1999-03-01,99.78,97.20,97.58,100.27,99.79,99.33,98.80,99.94,100.24,97.74,NaN,101.09,99.70,NaN,96.64,98.55,99.07,99.08,NaN,NaN,NaN,101.93,97.00,100.68,97.25,99.39,NaN
1999-04-01,99.96,97.35,98.38,100.43,99.87,99.42,98.77,100.18,100.24,97.88,NaN,101.12,99.85,NaN,96.81,98.98,99.55,99.06,NaN,NaN,NaN,100.89,97.34,101.18,97.28,100.19,NaN
1999-05-01,100.17,97.52,99.14,100.66,100.09,99.50,98.81,100.38,100.26,98.31,NaN,101.13,100.20,NaN,97.07,99.21,99.90,99.00,NaN,NaN,NaN,99.99,97.93,101.72,97.38,100.66,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,98.72,100.46,100.09,NaN,99.66,99.06,99.16,100.23,100.01,99.92,NaN,100.08,99.90,NaN,100.17,96.98,97.81,99.02,98.12,NaN,NaN,98.11,98.99,NaN,98.81,101.34,NaN
2023-09-01,98.79,100.51,100.04,NaN,99.79,98.89,99.09,NaN,99.97,99.97,NaN,100.03,99.78,NaN,99.87,96.81,97.84,99.19,98.28,NaN,NaN,98.05,98.93,NaN,98.93,101.41,NaN
2023-10-01,98.70,100.60,100.04,NaN,99.83,98.79,99.06,NaN,99.99,99.93,NaN,100.00,99.72,NaN,99.78,96.76,97.85,NaN,98.15,NaN,NaN,98.08,98.99,NaN,98.96,101.49,NaN
2023-11-01,98.64,100.70,99.69,NaN,99.83,98.91,99.06,NaN,100.00,99.77,NaN,100.05,99.68,NaN,99.61,96.76,97.93,NaN,97.92,NaN,NaN,98.14,99.23,NaN,98.93,101.59,NaN
2023-12-01,98.65,100.81,99.54,NaN,99.83,99.06,99.09,NaN,99.89,99.47,NaN,100.26,99.63,NaN,99.76,96.79,98.23,NaN,97.64,NaN,NaN,98.24,99.57,NaN,98.87,101.75,NaN

In [19]:
df_missing_data[f'{indicator_name} (OECD)'] = df_oecd_indicator.isna().sum()
df_missing_data.iloc[:, -1]

United States       0
Japan               0
United Kingdom      0
Canada              5
France              0
Switzerland         0
Germany             0
Australia           4
Netherlands         0
Sweden              0
Hong Kong         300
Spain               0
Italy               0
Singapore         300
Denmark             0
Finland             0
Belgium             0
Norway              3
China              13
Taiwan            300
India              23
Korea               0
Brazil              0
Russia             23
South Africa        0
Mexico              0
Malaysia          300
Name: OECD Bussiness Confidence Indicator (OECD), dtype: int64

### Missing data summary

In [20]:
df_missing_data.iloc[:, [2,5,8,11,14,15,16]]

,GDP Annual Growth Rate (Combined),GDP Growth Rate (Combined),Unemployment Rate (Combined),Inflation Rate (Combined),Inflation Rate MoM (Combined),Manufacturing PMI (Investing),Services PMI (Investing),OECD Bussiness Confidence Indicator (OECD)
United States,0,0,0,0,0,160,162,0
Japan,0,0,0,0,5,109,246,0
United Kingdom,0,0,0,0,0,109,109,0
Canada,0,0,0,0,0,263,300,5
France,0,0,0,0,0,115,115,0
Switzerland,1,1,0,0,0,0,300,0
Germany,0,0,0,0,0,109,109,0
Australia,1,1,0,157,300,239,239,4
Netherlands,0,0,0,0,0,300,300,0
Sweden,0,0,0,0,0,0,84,0
Hong Kong,59,43,0,1,292,161,300,300
Spain,0,0,0,0,0,157,157,0
Italy,0,0,0,0,0,161,161,0
Singapore,47,60,239,1,292,300,300,300
Denmark,0,0,0,0,0,290,300,0
Finland,0,1,0,0,0,300,300,0
Belgium,0,0,0,0,0,300,300,0
Norway,1,0,0,0,0,63,300,3
China,0,48,238,0,0,75,300,13
Taiwan,43,100,2,0,0,161,300,300
India,1,1,300,0,0,159,158,23
Korea,0,0,0,0,0,167,300,0
Brazil,1,1,55,0,0,161,161,0
Russia,21,26,3,0,0,162,162,23
South Africa,1,1,253,0,0,174,300,0
Mexico,0,0,0,0,0,161,300,0
Malaysia,48,100,190,1,293,300,300,300

### Getting the most recent data

Annual GDP Growth Rate and GDP Growth Rate with quaterly data have 2 quaters of delay to get final data with all revisions

In [34]:
indicator_name = 'GDP Growth Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'QS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'QS')
df_gdp_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_gdp_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,0.94,-1.37,0.69,1.81,0.66,0.10,1.16,0.74,1.67,1.09,NaN,1.00,0.63,NaN,0.91,1.65,1.04,1.02,NaN,NaN,1.62,3.03,0.31,NaN,0.96,0.86,NaN
1999-04-01,0.83,0.38,0.47,0.84,0.62,0.65,0.00,0.34,1.11,0.68,NaN,1.19,0.38,NaN,0.52,0.53,1.37,0.04,NaN,NaN,2.58,4.38,0.32,NaN,0.80,0.75,NaN
1999-07-01,1.33,0.53,1.60,1.56,1.50,0.63,1.11,1.14,1.38,0.71,NaN,1.33,0.89,NaN,0.62,0.53,1.45,1.71,NaN,NaN,1.25,2.78,0.06,NaN,1.09,0.95,NaN
1999-10-01,1.64,0.03,1.43,1.41,1.34,2.32,0.83,1.70,1.41,1.91,NaN,1.12,1.39,NaN,1.40,0.85,1.18,1.43,NaN,NaN,1.65,2.89,1.45,NaN,1.10,0.99,NaN
2000-01-01,0.36,1.71,1.23,1.60,0.83,0.66,1.43,0.41,0.62,0.64,NaN,1.60,1.23,NaN,0.98,2.98,0.71,1.87,NaN,NaN,2.10,1.90,1.11,NaN,1.17,2.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,2.60,0.00,0.10,0.00,0.10,0.00,-0.40,0.50,0.60,-0.90,0.0,0.20,-0.10,0.3,0.90,-0.60,0.10,0.20,0.0,NaN,1.14,-0.40,1.90,NaN,-1.30,0.50,NaN
2023-01-01,2.00,0.70,0.10,3.10,0.20,0.30,-0.30,0.20,-0.30,0.60,5.3,0.60,0.60,-1.6,0.60,0.20,0.50,0.20,2.2,NaN,2.08,0.30,1.44,NaN,0.40,1.00,NaN
2023-04-01,2.10,1.20,0.20,-0.20,0.50,0.00,0.00,0.40,-0.20,-0.80,-1.3,0.50,-0.40,0.1,-0.30,0.60,0.20,0.00,0.8,NaN,1.89,0.60,0.90,NaN,0.60,0.80,NaN
2023-07-01,4.90,-0.70,-0.10,-1.10,-0.10,0.30,-0.10,0.20,-0.30,-0.30,0.1,0.30,0.10,1.4,-0.70,-0.90,0.40,-0.50,1.3,NaN,1.74,0.60,0.10,NaN,-0.20,1.10,NaN
2023-10-01,3.30,-0.10,-0.30,0.30,0.00,NaN,-0.30,NaN,0.30,0.10,0.5,0.60,0.20,1.2,2.00,NaN,0.40,1.50,1.0,NaN,NaN,0.60,NaN,NaN,NaN,0.10,NaN

In [42]:
date = pd.Timestamp('2023-12-06')
date_minus_2_quarters = date - pd.DateOffset(months=6)

latest_known_period = pd.to_datetime(f'{date_minus_2_quarters.year}-Q{date_minus_2_quarters.quarter}')
df_latest = df_gdp_combined[:latest_known_period].iloc[-int(6/3):]
df_latest

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-01-01,2.0,0.7,0.1,3.1,0.2,0.3,-0.3,0.2,-0.3,0.6,5.3,0.6,0.6,-1.6,0.6,0.2,0.5,0.2,2.2,NaN,2.08,0.3,1.44,NaN,0.4,1.0,NaN
2023-04-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,-1.3,0.5,-0.4,0.1,-0.3,0.6,0.2,0.0,0.8,NaN,1.89,0.6,0.90,NaN,0.6,0.8,NaN

In [44]:
new_monthly_index = pd.date_range(df_latest.index[0], df_latest.index[-1]+pd.DateOffset(months=2), freq='MS')
df_mon = pd.DataFrame(df_latest, index=new_monthly_index)
df_mon.ffill()

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-01-01,2.0,0.7,0.1,3.1,0.2,0.3,-0.3,0.2,-0.3,0.6,5.3,0.6,0.6,-1.6,0.6,0.2,0.5,0.2,2.2,NaN,2.08,0.3,1.44,NaN,0.4,1.0,NaN
2023-02-01,2.0,0.7,0.1,3.1,0.2,0.3,-0.3,0.2,-0.3,0.6,5.3,0.6,0.6,-1.6,0.6,0.2,0.5,0.2,2.2,NaN,2.08,0.3,1.44,NaN,0.4,1.0,NaN
2023-03-01,2.0,0.7,0.1,3.1,0.2,0.3,-0.3,0.2,-0.3,0.6,5.3,0.6,0.6,-1.6,0.6,0.2,0.5,0.2,2.2,NaN,2.08,0.3,1.44,NaN,0.4,1.0,NaN
2023-04-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,-1.3,0.5,-0.4,0.1,-0.3,0.6,0.2,0.0,0.8,NaN,1.89,0.6,0.90,NaN,0.6,0.8,NaN
2023-05-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,-1.3,0.5,-0.4,0.1,-0.3,0.6,0.2,0.0,0.8,NaN,1.89,0.6,0.90,NaN,0.6,0.8,NaN
2023-06-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.8,-1.3,0.5,-0.4,0.1,-0.3,0.6,0.2,0.0,0.8,NaN,1.89,0.6,0.90,NaN,0.6,0.8,NaN

Monthly indicators: Unemployment Rate, Inflation Rate, Inflation Rate MoM and OECD Bussiness Confidence Indicator have 2 months delay to get final data with all revisions

In [23]:
indicator_name = 'Inflation Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'MS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'MS')
df_inflation_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_inflation_combined

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,1.6,0.2,1.6,0.7,0.24,0.1,0.2,NaN,2.2,-0.3,-1.1,1.5,1.4,-0.92,1.7,0.50,0.95,2.3,-1.2,0.40,9.38,1.5,1.65,96.9,8.84,19.02,5.2
1999-02-01,1.7,-0.1,1.4,0.7,0.18,0.3,0.1,1.19,2.1,-0.1,-1.7,1.8,1.3,-0.73,2.0,0.76,0.98,2.1,-1.3,2.09,8.64,0.2,2.24,103.2,8.58,18.54,3.8
1999-03-01,1.6,-0.4,1.7,1.0,0.35,0.5,0.2,NaN,2.2,0.1,-2.6,2.2,1.3,-0.52,2.3,0.79,1.21,2.3,-1.8,-0.47,8.95,0.5,3.02,107.5,7.83,18.26,3.0
1999-04-01,1.7,-0.1,1.5,1.6,0.42,0.6,0.6,NaN,2.1,0.1,-3.8,2.4,1.4,-0.32,2.3,1.06,1.18,2.5,-2.2,-0.10,8.36,0.4,3.35,112.9,7.57,18.23,2.9
1999-05-01,2.3,-0.4,1.3,1.5,0.41,0.6,0.5,1.04,2.3,0.1,-4.0,2.2,1.4,0.15,2.0,1.37,0.83,2.5,-2.2,0.49,7.71,0.8,3.14,116.6,7.08,18.01,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,3.7,3.2,6.7,4.0,4.80,1.6,6.1,5.37,3.0,7.5,1.8,2.6,5.4,4.00,2.4,5.60,4.09,4.8,0.1,2.52,6.83,3.4,4.61,5.2,4.80,4.64,2.0
2023-09-01,3.2,3.0,6.7,3.8,4.90,1.7,4.5,NaN,0.2,6.5,2.0,3.5,5.3,4.10,0.9,5.50,0.36,3.3,0.0,2.93,5.02,3.7,5.19,6.0,5.40,4.45,1.9
2023-10-01,3.1,3.3,4.6,3.1,4.00,1.7,3.8,4.10,-0.4,6.5,2.7,3.5,1.7,4.70,0.1,4.90,0.36,4.0,-0.2,3.05,4.87,3.8,4.82,6.7,5.90,4.26,1.8
2023-11-01,3.4,2.8,3.9,3.1,3.50,1.4,3.2,4.05,1.6,5.8,2.6,3.2,0.7,3.60,0.6,3.30,0.76,4.8,-0.5,2.90,5.55,3.3,4.68,7.5,5.50,4.32,1.5
2023-12-01,3.1,2.6,4.0,3.4,3.70,1.7,3.7,NaN,1.2,4.4,2.4,3.1,0.6,3.70,0.7,3.60,1.35,4.8,-0.3,2.71,5.69,3.2,4.62,7.4,5.10,4.66,1.5

In [24]:
date = pd.Timestamp('2023-12-06')
date_minus_2_months = date - pd.DateOffset(months=2)

latest_known_period = pd.to_datetime(f'{date_minus_2_months.year}-{date_minus_2_months.month}-1')
df_inflation_combined[:latest_known_period].iloc[-6:]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,3.0,3.2,8.7,3.4,5.1,2.2,6.1,6.03,6.1,9.7,2.0,3.2,7.6,5.1,2.9,6.8,5.20,6.7,0.2,2.02,4.25,3.3,3.94,2.5,6.3,5.84,2.8
2023-06-01,3.2,3.3,7.9,2.8,4.5,1.7,6.4,NaN,5.7,9.3,1.9,1.9,6.4,4.5,2.5,6.3,4.15,6.4,0.0,1.75,4.81,2.7,3.16,3.2,5.4,5.06,2.4
2023-07-01,3.7,3.3,6.8,3.3,4.3,1.6,6.2,5.40,4.6,9.3,1.8,2.3,5.9,4.1,3.1,6.5,4.14,5.4,-0.3,1.88,7.44,2.3,3.99,4.3,4.7,4.79,2.0
2023-08-01,3.7,3.2,6.7,4.0,4.8,1.6,6.1,5.37,3.0,7.5,1.8,2.6,5.4,4.0,2.4,5.6,4.09,4.8,0.1,2.52,6.83,3.4,4.61,5.2,4.8,4.64,2.0
2023-09-01,3.2,3.0,6.7,3.8,4.9,1.7,4.5,NaN,0.2,6.5,2.0,3.5,5.3,4.1,0.9,5.5,0.36,3.3,0.0,2.93,5.02,3.7,5.19,6.0,5.4,4.45,1.9
2023-10-01,3.1,3.3,4.6,3.1,4.0,1.7,3.8,4.10,-0.4,6.5,2.7,3.5,1.7,4.7,0.1,4.9,0.36,4.0,-0.2,3.05,4.87,3.8,4.82,6.7,5.9,4.26,1.8

PMI indicators have all values from previous month at most on day 6 each month (with very rare exeption like South Africa on day 8 every couple months)

In [25]:
indicator_name = 'Manufacturing PMI'
df_pmi_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'MS')
df_pmi_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,NaN,NaN,NaN,NaN,NaN,46.5,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,48.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,51.2,NaN,NaN,NaN,53.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,51.8,NaN,NaN,NaN,51.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,NaN,45.8,49.8,46.5,45.4,NaN,NaN,NaN,NaN,51.4,49.7,44.3,58.6,48.9,50.1,52.7,49.7,51.2,NaN
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,NaN,43.3,49.6,47.7,46.8,NaN,NaN,NaN,NaN,52.5,50.2,46.4,57.5,49.9,49.0,54.5,45.4,49.8,NaN
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,NaN,45.7,48.9,45.1,44.9,NaN,NaN,NaN,NaN,47.9,49.5,47.6,55.5,49.8,48.6,53.8,45.4,52.1,NaN
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,NaN,49.0,50.1,46.3,44.4,NaN,NaN,NaN,NaN,49.9,49.4,48.3,56.0,50.0,49.4,53.8,48.2,52.5,NaN
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,NaN,48.8,51.3,46.2,45.3,NaN,NaN,NaN,NaN,51.7,49.0,47.1,54.9,49.9,48.4,54.6,50.9,52.0,NaN

In [26]:
date = pd.Timestamp('2023-12-06')
date_minus_1_month = date - pd.DateOffset(months=1)

latest_known_period = pd.to_datetime(f'{date_minus_1_month.year}-{date_minus_1_month.month}-1')
df_pmi_indicator[:latest_known_period].iloc[-6:]

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-06-01,46.3,49.8,46.5,48.8,46.0,44.9,40.6,48.2,NaN,44.8,50.3,48.0,43.8,NaN,NaN,NaN,NaN,48.0,49.0,44.8,57.8,47.8,46.6,52.6,47.6,50.9,NaN
2023-07-01,49.0,49.6,45.3,49.6,45.1,38.5,38.8,49.6,NaN,47.6,49.4,47.8,44.5,NaN,NaN,NaN,NaN,56.7,49.3,44.1,57.7,49.4,47.8,52.1,47.3,50.9,NaN
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,NaN,45.8,49.8,46.5,45.4,NaN,NaN,NaN,NaN,51.4,49.7,44.3,58.6,48.9,50.1,52.7,49.7,51.2,NaN
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,NaN,43.3,49.6,47.7,46.8,NaN,NaN,NaN,NaN,52.5,50.2,46.4,57.5,49.9,49.0,54.5,45.4,49.8,NaN
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,NaN,45.7,48.9,45.1,44.9,NaN,NaN,NaN,NaN,47.9,49.5,47.6,55.5,49.8,48.6,53.8,45.4,52.1,NaN
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,NaN,49.0,50.1,46.3,44.4,NaN,NaN,NaN,NaN,49.9,49.4,48.3,56.0,50.0,49.4,53.8,48.2,52.5,NaN

## Fill missing values

I believe the most reliable way would be to get the list of correlated countries and fill missing values with mean values of 5 most correlated countries.

In [21]:
indicator_name = 'GDP Growth Rate'
df_investing_indicator = data_provider.get_indicator_values(indicator_name, 'Investing', 'QS')
df_oecd_indicator = data_provider.get_indicator_values(indicator_name, 'OECD', 'QS')
df = df_investing_indicator.combine_first(df_oecd_indicator)
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,0.94,-1.37,0.69,1.81,0.66,0.10,1.16,0.74,1.67,1.09,NaN,1.00,0.63,NaN,0.91,1.65,1.04,1.02,NaN,NaN,1.62,3.03,0.31,NaN,0.96,0.86,NaN
1999-04-01,0.83,0.38,0.47,0.84,0.62,0.65,0.00,0.34,1.11,0.68,NaN,1.19,0.38,NaN,0.52,0.53,1.37,0.04,NaN,NaN,2.58,4.38,0.32,NaN,0.80,0.75,NaN
1999-07-01,1.33,0.53,1.60,1.56,1.50,0.63,1.11,1.14,1.38,0.71,NaN,1.33,0.89,NaN,0.62,0.53,1.45,1.71,NaN,NaN,1.25,2.78,0.06,NaN,1.09,0.95,NaN
1999-10-01,1.64,0.03,1.43,1.41,1.34,2.32,0.83,1.70,1.41,1.91,NaN,1.12,1.39,NaN,1.40,0.85,1.18,1.43,NaN,NaN,1.65,2.89,1.45,NaN,1.10,0.99,NaN
2000-01-01,0.36,1.71,1.23,1.60,0.83,0.66,1.43,0.41,0.62,0.64,NaN,1.60,1.23,NaN,0.98,2.98,0.71,1.87,NaN,NaN,2.10,1.90,1.11,NaN,1.17,2.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,2.60,0.00,0.10,0.00,0.10,0.00,-0.40,0.50,0.60,-0.90,0.0,0.20,-0.10,0.3,0.90,-0.60,0.10,0.20,0.0,NaN,1.14,-0.40,1.90,NaN,-1.30,0.50,NaN
2023-01-01,2.00,0.70,0.10,3.10,0.20,0.30,-0.30,0.20,-0.30,0.60,5.3,0.60,0.60,-1.6,0.60,0.20,0.50,0.20,2.2,NaN,2.08,0.30,1.44,NaN,0.40,1.00,NaN
2023-04-01,2.10,1.20,0.20,-0.20,0.50,0.00,0.00,0.40,-0.20,-0.80,-1.3,0.50,-0.40,0.1,-0.30,0.60,0.20,0.00,0.8,NaN,1.89,0.60,0.90,NaN,0.60,0.80,NaN
2023-07-01,4.90,-0.70,-0.10,-1.10,-0.10,0.30,-0.10,0.20,-0.30,-0.30,0.1,0.30,0.10,1.4,-0.70,-0.90,0.40,-0.50,1.3,NaN,1.74,0.60,0.10,NaN,-0.20,1.10,NaN
2023-10-01,3.30,-0.10,-0.30,0.30,0.00,NaN,-0.30,NaN,0.30,0.10,0.5,0.60,0.20,1.2,2.00,NaN,0.40,1.50,1.0,NaN,NaN,0.60,NaN,NaN,NaN,0.10,NaN

In [22]:
corr = data_provider.calculate_correlations_for_returns()
corr

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
United States,1.000000,0.710745,0.855438,0.840156,0.831309,0.789297,0.841066,0.812146,0.839523,0.828214,0.704916,0.724697,0.730427,0.757625,0.754029,0.707538,0.747305,0.751160,0.552008,0.689280,0.572456,0.759343,0.624864,0.486934,0.691935,0.755241,0.485625
Japan,0.710745,1.000000,0.699654,0.657359,0.671085,0.652048,0.662230,0.678393,0.663154,0.655067,0.610519,0.595741,0.593389,0.608368,0.605196,0.580865,0.570016,0.607942,0.478496,0.561726,0.533337,0.658396,0.522715,0.414242,0.651685,0.627716,0.356102
United Kingdom,0.855438,0.699654,1.000000,0.838113,0.907727,0.848554,0.874993,0.851946,0.876310,0.823603,0.756371,0.831627,0.844424,0.793830,0.787161,0.705047,0.852316,0.859508,0.576931,0.638442,0.594052,0.718404,0.674165,0.506463,0.756171,0.772738,0.517849
Canada,0.840156,0.657359,0.838113,1.000000,0.805033,0.723487,0.796380,0.832693,0.769772,0.783783,0.724000,0.720693,0.729738,0.752560,0.725954,0.654954,0.708119,0.817267,0.586878,0.662952,0.595065,0.734531,0.734219,0.547047,0.770482,0.761179,0.510452
France,0.831309,0.671085,0.907727,0.805033,1.000000,0.865822,0.940449,0.800416,0.923805,0.882221,0.710694,0.886373,0.924472,0.745574,0.823069,0.757771,0.867613,0.826364,0.536484,0.634968,0.593266,0.692957,0.665464,0.494866,0.720498,0.743590,0.490981
Switzerland,0.789297,0.652048,0.848554,0.723487,0.865822,1.000000,0.845692,0.768979,0.857831,0.795146,0.678581,0.763231,0.791614,0.683612,0.790869,0.665430,0.830368,0.740715,0.513718,0.579252,0.517580,0.664002,0.573443,0.406299,0.656501,0.668438,0.441513
Germany,0.841066,0.662230,0.874993,0.796380,0.940449,0.845692,1.000000,0.781443,0.917318,0.896784,0.726864,0.852763,0.878039,0.764830,0.832350,0.733056,0.826261,0.800071,0.569012,0.677877,0.624959,0.740976,0.669458,0.512078,0.715110,0.746217,0.547152
Australia,0.812146,0.678393,0.851946,0.832693,0.800416,0.768979,0.781443,1.000000,0.782944,0.775203,0.726612,0.738409,0.732762,0.782546,0.706079,0.639519,0.749889,0.809326,0.595182,0.654092,0.621889,0.754673,0.714237,0.460478,0.792636,0.762686,0.545544
Netherlands,0.839523,0.663154,0.876310,0.769772,0.923805,0.857831,0.917318,0.782944,1.000000,0.867423,0.714015,0.834702,0.874780,0.756970,0.849379,0.713530,0.879519,0.804619,0.564796,0.652720,0.612413,0.700808,0.630692,0.475429,0.686688,0.736591,0.505183
Sweden,0.828214,0.655067,0.823603,0.783783,0.882221,0.795146,0.896784,0.775203,0.867423,1.000000,0.703688,0.781215,0.802356,0.742248,0.820769,0.761632,0.761986,0.778846,0.546025,0.669365,0.622791,0.726815,0.648511,0.503507,0.697187,0.724389,0.495237
Hong Kong,0.704916,0.610519,0.756371,0.724000,0.710694,0.678581,0.726864,0.726612,0.714015,0.703688,1.000000,0.657083,0.638503,0.824294,0.648485,0.593643,0.660323,0.688945,0.779799,0.705653,0.585243,0.723386,0.636496,0.512211,0.720793,0.662163,0.616216
Spain,0.724697,0.595741,0.831627,0.720693,0.886373,0.763231,0.852763,0.738409,0.834702,0.781215,0.657083,1.000000,0.899908,0.679634,0.747296,0.637509,0.799719,0.733697,0.511735,0.586044,0.559006,0.643532,0.648392,0.462045,0.657578,0.715339,0.464788
Italy,0.730427,0.593389,0.844424,0.729738,0.924472,0.791614,0.878039,0.732762,0.874780,0.802356,0.638503,0.899908,1.000000,0.670643,0.766373,0.686077,0.819113,0.777089,0.478114,0.580662,0.595840,0.621039,0.618388,0.463899,0.645274,0.692454,0.420821
Singapore,0.757625,0.608368,0.793830,0.752560,0.745574,0.683612,0.764830,0.782546,0.756970,0.742248,0.824294,0.679634,0.670643,1.000000,0.660879,0.562071,0.724439,0.727762,0.658878,0.677221,0.603919,0.754315,0.654469,0.503735,0.742663,0.745699,0.668327
Denmark,0.754029,0.605196,0.787161,0.725954,0.823069,0.790869,0.832350,0.706079,0.849379,0.820769,0.648485,0.747296,0.766373,0.660879,1.000000,0.654109,0.826721,0.771485,0.520661,0.568502,0.539114,0.625844,0.571115,0.426948,0.618241,0.645728,0.466866
Finland,0.707538,0.580865,0.705047,0.654954,0.757771,0.665430,0.733056,0.639519,0.713530,0.761632,0.593643,0.637509,0.686077,0.562071,0.654109,1.000000,0.599103,0.620995,0.455903,0.533140,0.513849,0.599478,0.542340,0.438851,0.552483,0.612927,0.351341
Belgium,0.747305,0.570016,0.852316,0.708119,0.867613,0.830368,0.826261,0.749889,0.879519,0.761986,0.660323,0.799719,0.819113,0.724439,0.826721,0.599103,1.000000,0.791950,0.510902,0.564483,0.546999,0.608719,0.594099,0.418143,0.660505,0.676637,0.466173
Norway,0.751160,0.607942,0.859508,0.817267,0.826364,0.740715,0.800071,0.809326,0.804619,0.778846,0.688945,0.733697,0.777089,0.727762,0.771485,0.620995,0.791950,1.000000,0.552090,0.616683,0.581770,0.672899,0.694093,0.481776,0.731058,0.684010,0.490358
China,0.552008,0.478496,0.576931,0.586878,0.536484,0.513718,0.569012,0.595182,0.564796,0.546025,0.779799,0.511735,0.478114,0.658878,0.520661,0.455903,0.510902,0.552090,1.000000,0.594171,0.435683,0.629521,0.505346,0.446549,0.603467,0.470190,0.439468
Taiwan,0.689280,0.561726,0.638442,0.662952,0.634968,0.579252,0.677877,0.654092,0.652720,0.669365,0.705653,0.586044,0.580662,0.677221,0.568502,0.533140,0.564483,0.616683,0.594171,1.000000,0.545232,0.752505,0.606471,0.503453,0.607307,0.636588,0.531629
India,0.572456,0.533337,0.594052,0.595065,0.593266,0.517580,0.624959,0.621889,0.612413,0.622791,0.585243,0.559006,0.595840,0.603919,0.539114,0.513849,0.546999,0.581770,0.435683,0.545232,1.000000,0.562450,0.577594,0.414097,0.624779,0.592367,0.352232
Korea,0.759343,0.658396,0.718404,0.734531,0.692957,0.664002,0.740976,0.754673,0.700808,0.726815,0.723386,0.643532,0.621039,0.754315,0.625844,0.599478,0.608719,0.672899,0.629521,0.752505,0.562450,1.000000,0.629397,0.471718,0.711880,0.708128,0.534152
Brazil,0.624864,0.522715,0.674165,0.734219,0.665464,0.573443,0.669458,0.714237,0.630692,0.648511,0.636496,0.648392,0.618388,0.654469,0.571115,0.542340,0.594099,0.694093,0.505346,0.606471,0.577594,0.629397,1.000000,0.476726,0.715512,0.731796,0.487711
Russia,0.486934,0.414242,0.506463,0.547047,0.494866,0.406299,0.512078,0.460478,0.475429,0.503507,0.512211,0.462045,0.463899,0.503735,0.426948,0.438851,0.418143,0.481776,0.446549,0.503453,0.414097,0.471718,0.476726,1.000000,0.451845,0.494017,0.339526
South Africa,0.691935,0.651685,0.756171,0.770482,0.720498,0.656501,0.715110,0.792636,0.686688,0.697187,0.720793,0.657578,0.645274,0.742663,0.618241,0.552483,0.660505,0.731058,0.603467,0.607307,0.624779,0.711880,0.715512,0.451845,1.000000,0.723305,0.526585
Mexico,0.755241,0.627716,0.772738,0.761179,0.743590,0.668438,0.746217,0.762686,0.736591,0.724389,0.662163,0.715339,0.692454,0.745699,0.645728,0.612927,0.676637,0.684010,0.470190,0.636588,0.592367,0.708128,0.731796,0.494017,0.723305,1.000000,0.550222
Malaysia,0.485625,0.356102,0.517849,0.510452,0.490981,0.441513,0.547152,0.545544,0.505183,0.495237,0.616216,0.464788,0.420821,0.668327,0.466866,0.351341,0.466173,0.490358,0.439468,0.531629,0.352232,0.534152,0.487711,0.339526,0.526585,0.550222,1.000000

In [23]:
df = df.ffill(limit=3).bfill(limit=3)
countries_with_missing_data = df.columns[df.isna().sum() > 0]
countries_with_missing_data

Index(['Hong Kong', 'Singapore', 'China', 'Taiwan', 'Russia', 'Malaysia'], dtype='object')

In [24]:
country = countries_with_missing_data[0]
most_correlated_countries = corr[country].sort_values()[::-1]
most_correlated_countries

Hong Kong         1.000000
Singapore         0.824294
China             0.779799
United Kingdom    0.756371
Germany           0.726864
Australia         0.726612
Canada            0.724000
Korea             0.723386
South Africa      0.720793
Netherlands       0.714015
France            0.710694
Taiwan            0.705653
United States     0.704916
Sweden            0.703688
Norway            0.688945
Switzerland       0.678581
Mexico            0.662163
Belgium           0.660323
Spain             0.657083
Denmark           0.648485
Italy             0.638503
Brazil            0.636496
Malaysia          0.616216
Japan             0.610519
Finland           0.593643
India             0.585243
Russia            0.512211
Name: Hong Kong, dtype: float64

In [27]:
most_correlated_countries = corr[country].sort_values()[::-1][1:].index
most_correlated_countries_with_data = most_correlated_countries[~most_correlated_countries.isin(countries_with_missing_data)][:5]
most_correlated_countries_with_data

Index(['United Kingdom', 'Germany', 'Australia', 'Canada', 'Korea'], dtype='object')

In [28]:
missing_dates = df[df[country].isna()].index
mean_values = df.loc[missing_dates, most_correlated_countries_with_data].mean(axis=1).round(2)
mean_values

1999-01-01    1.49
1999-04-01    1.21
1999-07-01    1.64
1999-10-01    1.65
2000-01-01    1.31
2000-04-01    1.00
2000-07-01    0.92
2000-10-01   -0.03
2001-01-01    1.14
2001-04-01    0.57
2001-07-01    0.54
2001-10-01    0.77
2002-01-01    0.90
2002-04-01    1.02
2002-07-01    0.86
2002-10-01    0.62
2003-01-01   -0.14
2003-04-01    0.24
2003-07-01    1.13
2003-10-01    1.23
2004-01-01    0.58
2004-04-01    0.75
2004-07-01    0.49
2004-10-01    0.54
2005-01-01    0.54
2005-04-01    0.90
2005-07-01    1.08
2005-10-01    0.84
2006-01-01    0.81
2006-04-01    0.62
2006-07-01    0.88
2006-10-01    0.89
2007-01-01    0.95
2007-04-01    0.98
2007-07-01    0.78
2007-10-01    0.75
2008-01-01    0.58
2008-04-01    0.14
2008-07-01    0.13
2008-10-01   -1.73
Freq: QS-JAN, dtype: float64

In [29]:
df.loc[missing_dates, country] = mean_values

In [30]:
df[country]

1999-01-01    1.49
1999-04-01    1.21
1999-07-01    1.64
1999-10-01    1.65
2000-01-01    1.31
              ...
2022-10-01    0.00
2023-01-01    5.30
2023-04-01   -1.30
2023-07-01    0.10
2023-10-01    0.50
Freq: QS-JAN, Name: Hong Kong, Length: 100, dtype: float64

## Testing methods in DataProvider

In [3]:
for indicator in data_provider.key_indicators:
    print(indicator)
    data_provider.get_key_indicator_values(indicator)

GDP Annual Growth Rate
GDP Growth Rate
Unemployment Rate
Inflation Rate
Inflation Rate MoM
Manufacturing PMI
OECD Bussiness Confidence Indicator

Quaterly data for GBP

In [35]:
indicator = data_provider.key_indicators[0]
print(indicator)
df = data_provider.get_key_indicator_values(indicator)
df

GDP Annual Growth Rate

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.82,-0.84,2.34,4.19,2.78,1.03,0.79,5.27,4.21,4.22,4.30,4.24,0.86,3.49,2.31,6.92,1.90,0.87,8.9,4.12,6.20,6.58,0.67,2.86,0.98,2.29,3.18
1999-04-01,4.72,-0.03,2.17,5.01,2.61,0.58,1.22,4.61,4.62,3.52,4.18,4.30,0.64,3.47,3.62,4.30,2.96,-0.03,7.9,5.33,7.53,12.16,-0.44,2.91,1.64,2.30,4.39
1999-07-01,4.79,0.33,3.47,5.69,3.54,1.17,1.86,3.83,5.17,3.80,4.49,4.69,1.42,3.82,2.38,3.45,4.15,3.22,7.6,5.89,6.93,13.30,-0.46,3.67,2.97,2.76,4.94
1999-10-01,4.82,-0.44,4.26,5.74,4.18,3.73,3.12,3.97,5.68,4.45,4.76,4.73,3.33,4.37,3.48,2.92,5.15,4.25,6.7,6.37,7.29,13.73,2.15,4.35,4.01,3.61,5.69
2000-01-01,4.22,2.67,4.82,5.52,4.36,4.32,3.40,3.64,4.59,3.99,5.22,5.35,3.95,4.13,3.55,7.53,4.80,5.13,8.7,5.92,7.79,12.47,2.97,4.42,4.22,4.86,5.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,0.65,0.10,0.60,2.07,0.50,0.80,0.30,2.70,3.20,-0.90,-4.20,2.60,1.40,2.10,1.50,0.00,1.38,1.60,2.9,-0.41,6.10,1.30,1.90,-2.70,0.90,3.60,7.00
2023-01-01,1.72,2.70,0.20,2.21,0.80,0.60,-0.20,2.30,1.90,0.80,2.70,4.20,1.90,0.40,1.70,-0.40,1.68,2.58,4.5,-2.87,7.80,0.90,4.00,-1.80,0.20,3.70,5.60
2023-04-01,2.38,3.50,0.60,1.12,0.90,0.50,-0.20,2.10,-0.20,-1.00,1.50,2.20,0.40,0.50,0.90,-0.40,1.31,0.91,6.3,1.36,7.60,0.90,3.40,4.90,1.60,3.60,2.90
2023-07-01,2.93,-2.90,0.30,0.47,0.60,0.30,-0.40,2.10,-0.80,-1.40,4.10,1.80,0.10,1.10,-0.30,-1.20,1.38,-1.49,4.9,2.32,7.02,1.40,2.00,5.10,-0.70,3.30,3.30
2023-10-01,3.11,-0.40,-0.20,0.98,0.70,0.30,-0.20,2.10,-0.50,0.00,4.30,2.00,0.50,2.20,3.10,-0.80,1.56,-1.49,5.2,5.12,7.02,2.20,2.00,5.10,-0.70,2.50,3.00

In [36]:
date = pd.Timestamp('2023-12-06')
data_provider.get_latest_data(indicator, df, date, periods=12)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2022-07-01,1.71,-0.8,1.9,3.10,1.0,0.5,1.2,5.9,3.1,2.5,-4.5,4.4,2.6,4.1,3.4,1.0,1.90,2.31,3.9,4.01,4.4,3.1,3.6,-3.7,4.1,4.3,14.2
2022-08-01,1.71,-0.8,1.9,3.10,1.0,0.5,1.2,5.9,3.1,2.5,-4.5,4.4,2.6,4.1,3.4,1.0,1.90,2.31,3.9,4.01,4.4,3.1,3.6,-3.7,4.1,4.3,14.2
2022-09-01,1.71,-0.8,1.9,3.10,1.0,0.5,1.2,5.9,3.1,2.5,-4.5,4.4,2.6,4.1,3.4,1.0,1.90,2.31,3.9,4.01,4.4,3.1,3.6,-3.7,4.1,4.3,14.2
2022-10-01,0.65,0.1,0.6,2.07,0.5,0.8,0.3,2.7,3.2,-0.9,-4.2,2.6,1.4,2.1,1.5,0.0,1.38,1.60,2.9,-0.41,6.1,1.3,1.9,-2.7,0.9,3.6,7.0
2022-11-01,0.65,0.1,0.6,2.07,0.5,0.8,0.3,2.7,3.2,-0.9,-4.2,2.6,1.4,2.1,1.5,0.0,1.38,1.60,2.9,-0.41,6.1,1.3,1.9,-2.7,0.9,3.6,7.0
2022-12-01,0.65,0.1,0.6,2.07,0.5,0.8,0.3,2.7,3.2,-0.9,-4.2,2.6,1.4,2.1,1.5,0.0,1.38,1.60,2.9,-0.41,6.1,1.3,1.9,-2.7,0.9,3.6,7.0
2023-01-01,1.72,2.7,0.2,2.21,0.8,0.6,-0.2,2.3,1.9,0.8,2.7,4.2,1.9,0.4,1.7,-0.4,1.68,2.58,4.5,-2.87,7.8,0.9,4.0,-1.8,0.2,3.7,5.6
2023-02-01,1.72,2.7,0.2,2.21,0.8,0.6,-0.2,2.3,1.9,0.8,2.7,4.2,1.9,0.4,1.7,-0.4,1.68,2.58,4.5,-2.87,7.8,0.9,4.0,-1.8,0.2,3.7,5.6
2023-03-01,1.72,2.7,0.2,2.21,0.8,0.6,-0.2,2.3,1.9,0.8,2.7,4.2,1.9,0.4,1.7,-0.4,1.68,2.58,4.5,-2.87,7.8,0.9,4.0,-1.8,0.2,3.7,5.6
2023-04-01,2.38,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,1.5,2.2,0.4,0.5,0.9,-0.4,1.31,0.91,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-05-01,2.38,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,1.5,2.2,0.4,0.5,0.9,-0.4,1.31,0.91,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9
2023-06-01,2.38,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,-1.0,1.5,2.2,0.4,0.5,0.9,-0.4,1.31,0.91,6.3,1.36,7.6,0.9,3.4,4.9,1.6,3.6,2.9

Sample monthly data

In [37]:
indicator = data_provider.key_indicators[4]
print(indicator)
df = data_provider.get_key_indicator_values(indicator)
df

Inflation Rate MoM

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,0.2,-0.5,-0.6,0.2,-0.4,0.2,-0.1,-0.04,0.06,0.0,-0.08,0.4,0.1,-0.11,-0.10,-0.21,0.33,0.4,0.2,0.16,-2.10,-0.1,0.70,8.3,0.75,2.53,0.65
1999-02-01,0.0,-0.4,0.2,0.1,0.3,0.3,0.1,0.16,0.50,0.0,0.42,0.1,0.1,0.24,0.77,0.24,0.23,0.2,1.3,-0.03,-1.19,0.4,1.05,4.2,0.00,1.34,0.36
1999-03-01,0.1,0.1,0.5,0.4,0.4,0.1,0.0,0.42,0.87,0.4,0.06,0.4,0.3,0.33,0.48,0.24,0.07,0.7,-0.8,-0.47,-0.24,0.2,1.10,2.8,0.00,0.93,0.13
1999-04-01,0.7,0.5,0.4,0.5,0.3,0.2,0.5,0.44,0.22,0.2,0.14,0.4,0.3,0.42,0.28,0.73,0.41,0.3,-1.0,-0.15,0.24,0.3,0.56,3.0,0.21,0.92,0.36
1999-05-01,0.1,0.0,0.3,0.2,0.0,-0.2,0.0,0.08,0.03,0.2,-0.20,0.0,0.1,0.05,0.19,0.25,0.16,-0.2,-1.3,0.18,0.96,-0.2,0.30,2.1,-0.11,0.60,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.6,0.2,0.3,0.4,1.0,0.2,0.3,0.30,0.40,0.1,0.00,0.5,0.3,0.90,-0.70,-0.70,0.76,-0.8,0.3,0.18,-0.36,1.0,0.23,0.3,0.30,0.55,0.20
2023-09-01,0.4,0.3,0.5,-0.1,-0.5,-0.1,0.3,0.04,-0.40,0.5,0.40,0.2,0.2,0.50,-0.30,0.70,0.34,-0.1,0.2,0.34,-1.22,0.6,0.26,0.9,0.60,0.44,0.10
2023-10-01,0.0,0.3,0.0,0.1,0.1,0.1,0.0,0.24,0.40,0.2,1.00,0.3,-0.2,0.20,0.30,0.30,0.34,1.0,-0.1,0.33,0.65,0.3,0.24,0.8,0.90,0.38,0.10
2023-11-01,0.1,0.3,-0.2,0.1,-0.2,-0.2,-0.4,0.06,-1.00,0.3,0.00,-0.3,-0.5,-0.20,-0.30,-0.30,0.17,0.5,-0.5,-0.07,0.51,-0.6,0.28,1.1,-0.10,0.64,0.10
2023-12-01,0.3,0.3,0.4,-0.3,0.1,0.0,0.1,0.12,0.00,0.7,0.10,0.0,0.2,0.40,-0.50,0.30,0.43,0.1,0.1,0.29,-0.22,0.0,0.56,0.7,0.00,0.71,0.20

In [38]:
date = pd.Timestamp('2023-12-06')
data_provider.get_latest_data(indicator, df, date, periods=12)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2022-11-01,0.1,0.3,0.4,0.1,0.3,0.0,-0.5,0.14,-3.04,1.0,-0.06,-0.1,0.5,-0.63,-0.85,1.22,0.23,-0.2,-0.2,0.07,0.00,-0.1,0.41,0.4,0.3,0.58,0.07
2022-12-01,-0.1,0.3,0.4,-0.6,-0.1,-0.2,-0.8,-0.06,0.47,2.1,-0.16,0.2,0.3,0.03,-0.60,-0.07,-0.16,0.1,0.0,0.33,-0.15,0.2,0.62,0.8,0.4,0.38,0.10
2023-01-01,0.5,0.4,-0.6,0.5,0.4,0.6,1.0,0.20,-1.38,-1.1,0.50,-0.2,0.1,0.06,0.43,0.57,0.09,0.2,0.8,0.39,0.38,0.8,0.53,0.8,-0.1,0.68,0.55
2023-02-01,0.4,-0.6,1.1,0.4,1.1,0.7,0.8,0.68,1.01,1.1,-0.30,0.9,0.2,0.30,0.94,0.84,-0.70,0.4,-0.5,0.17,-0.08,0.3,0.84,0.5,0.7,0.56,0.20
2023-03-01,0.1,0.3,0.8,0.5,0.7,0.2,0.8,0.58,0.22,0.6,-0.30,0.4,-0.4,0.30,-0.17,0.65,0.57,0.8,-0.3,0.27,0.45,0.2,0.71,0.4,1.0,0.27,0.20
2023-04-01,0.4,0.6,1.2,0.7,0.6,0.0,0.4,0.80,1.03,0.5,-0.30,0.6,0.4,0.30,0.26,0.31,0.67,1.1,-0.1,0.42,0.68,0.2,0.61,0.4,0.4,-0.02,0.20
2023-05-01,0.1,0.0,0.7,0.4,-0.1,0.3,-0.1,0.32,0.20,0.3,-0.30,0.0,0.3,0.30,-1.40,0.30,0.38,0.5,-0.2,-0.11,0.37,0.3,0.23,0.3,0.2,-0.22,0.20
2023-06-01,0.2,0.2,0.1,0.1,0.2,0.1,0.3,0.24,-0.30,1.1,0.20,0.6,0.0,0.50,0.30,0.20,-0.15,0.6,-0.2,-0.08,1.26,0.0,-0.08,0.4,0.2,0.10,0.20
2023-07-01,0.2,0.4,-0.4,0.6,0.1,-0.1,0.3,0.18,1.00,0.0,0.00,0.2,0.0,-0.20,1.80,0.50,0.81,0.4,0.2,0.16,2.42,0.1,0.12,0.6,0.9,0.48,0.10
2023-08-01,0.6,0.2,0.3,0.4,1.0,0.2,0.3,0.30,0.40,0.1,0.00,0.5,0.3,0.90,-0.70,-0.70,0.76,-0.8,0.3,0.18,-0.36,1.0,0.23,0.3,0.3,0.55,0.20
2023-09-01,0.4,0.3,0.5,-0.1,-0.5,-0.1,0.3,0.04,-0.40,0.5,0.40,0.2,0.2,0.50,-0.30,0.70,0.34,-0.1,0.2,0.34,-1.22,0.6,0.26,0.9,0.6,0.44,0.10
2023-10-01,0.0,0.3,0.0,0.1,0.1,0.1,0.0,0.24,0.40,0.2,1.00,0.3,-0.2,0.20,0.30,0.30,0.34,1.0,-0.1,0.33,0.65,0.3,0.24,0.8,0.9,0.38,0.10

PMI indicator

In [39]:
indicator = data_provider.key_indicators[5]
print(indicator)
df = data_provider.get_key_indicator_values(indicator)
df

Manufacturing PMI

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,49.25,46.93,46.75,50.01,49.91,46.5,49.08,49.89,50.24,48.0,49.79,50.91,49.64,49.04,46.11,48.14,48.50,48.85,49.45,49.92,48.92,53.24,46.63,49.72,47.37,47.22,49.36
1999-02-01,49.55,47.05,47.04,50.14,49.87,48.0,48.90,49.80,50.26,48.6,49.73,50.93,49.62,49.11,46.38,48.30,48.77,48.98,49.41,50.00,48.97,52.79,46.80,50.15,47.30,48.36,49.43
1999-03-01,49.78,47.20,47.58,50.27,49.79,48.7,48.80,49.94,50.24,51.3,49.70,51.09,49.70,49.27,46.64,48.55,49.07,49.08,49.39,50.42,49.51,51.93,47.00,50.68,47.25,49.39,49.46
1999-04-01,49.96,47.35,48.38,50.43,49.87,51.2,48.77,50.18,50.24,53.1,49.73,51.12,49.85,49.51,46.81,48.98,49.55,49.06,49.43,50.63,49.91,50.89,47.34,51.18,47.28,50.19,49.46
1999-05-01,50.17,47.52,49.14,50.66,50.09,51.8,48.81,50.38,50.26,51.7,49.80,51.13,50.20,49.75,47.07,49.21,49.90,49.00,49.51,50.27,49.71,49.99,47.93,51.72,47.38,50.66,49.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.90,49.60,43.00,48.00,46.00,39.9,39.10,49.60,50.01,45.8,49.80,46.50,45.40,45.92,50.17,46.98,47.81,51.40,49.70,44.30,58.60,48.90,50.10,52.70,49.70,51.20,47.70
2023-09-01,49.80,48.50,44.30,47.50,44.20,44.9,39.60,48.70,49.97,43.3,49.60,47.70,46.80,46.47,49.87,46.81,47.84,52.50,50.20,46.40,57.50,49.90,49.00,54.50,45.40,49.80,46.68
2023-10-01,50.00,48.70,44.80,48.60,42.80,40.6,40.80,48.20,49.99,45.7,48.90,45.10,44.90,46.76,49.78,46.76,47.85,47.90,49.50,47.60,55.50,49.80,48.60,53.80,45.40,52.10,47.26
2023-11-01,49.40,48.30,47.20,47.70,42.90,42.1,42.60,47.70,50.00,49.0,50.10,46.30,44.40,47.38,49.61,46.76,47.93,49.90,49.40,48.30,56.00,50.00,49.40,53.80,48.20,52.50,48.20
2023-12-01,47.90,47.90,46.20,45.40,42.10,43.0,43.30,47.60,49.89,48.8,51.30,46.20,45.30,46.98,49.76,46.79,48.23,51.70,49.00,47.10,54.90,49.90,48.40,54.60,50.90,52.00,48.74

In [40]:
date = pd.Timestamp('2023-12-06')
data_provider.get_latest_data(indicator, df, date, periods=12)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2022-12-01,46.2,48.9,45.3,49.2,49.2,54.1,47.1,50.2,50.80,45.9,49.6,46.4,48.5,47.92,51.20,48.90,48.62,50.0,47.0,44.6,57.8,48.2,44.2,53.0,53.1,51.3,49.98
2023-01-01,46.9,48.9,47.0,51.0,50.5,49.3,47.3,50.0,50.84,46.8,51.2,48.4,50.4,48.41,54.90,48.92,48.78,50.0,50.1,44.3,55.4,48.5,47.5,52.6,53.0,48.9,49.54
2023-02-01,47.3,47.7,49.3,52.4,47.4,48.9,46.3,50.5,50.85,47.0,53.9,50.7,52.0,48.85,44.10,48.73,48.91,47.5,52.6,49.0,55.3,48.5,49.2,53.6,48.8,51.0,49.02
2023-03-01,49.2,49.2,47.9,48.6,47.3,47.0,44.7,49.1,50.81,45.7,53.5,51.3,51.1,48.34,44.30,48.38,48.96,48.3,51.9,48.6,56.4,47.6,47.0,53.2,48.1,51.0,48.10
2023-04-01,50.2,49.5,47.8,50.2,45.6,45.3,44.5,48.0,50.68,45.5,52.4,49.0,46.8,48.24,44.20,48.10,48.76,51.2,49.2,47.1,57.2,48.1,44.3,52.6,49.8,51.1,48.30
2023-05-01,48.4,50.6,47.1,49.0,45.7,43.2,43.2,48.4,50.51,40.6,50.6,48.4,45.9,47.52,45.70,47.85,48.39,47.4,48.8,44.3,58.7,48.4,47.1,53.5,49.2,50.5,47.94
2023-06-01,46.3,49.8,46.5,48.8,46.0,44.9,40.6,48.2,50.33,44.8,50.3,48.0,43.8,46.39,50.38,47.51,48.06,48.0,49.0,44.8,57.8,47.8,46.6,52.6,47.6,50.9,47.02
2023-07-01,49.0,49.6,45.3,49.6,45.1,38.5,38.8,49.6,50.15,47.6,49.4,47.8,44.5,46.57,50.39,47.20,47.86,56.7,49.3,44.1,57.7,49.4,47.8,52.1,47.3,50.9,47.20
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,50.01,45.8,49.8,46.5,45.4,45.92,50.17,46.98,47.81,51.4,49.7,44.3,58.6,48.9,50.1,52.7,49.7,51.2,47.70
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,49.97,43.3,49.6,47.7,46.8,46.47,49.87,46.81,47.84,52.5,50.2,46.4,57.5,49.9,49.0,54.5,45.4,49.8,46.68
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,49.99,45.7,48.9,45.1,44.9,46.76,49.78,46.76,47.85,47.9,49.5,47.6,55.5,49.8,48.6,53.8,45.4,52.1,47.26
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,50.00,49.0,50.1,46.3,44.4,47.38,49.61,46.76,47.93,49.9,49.4,48.3,56.0,50.0,49.4,53.8,48.2,52.5,48.20