In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from SqlAlquemySelectDataHandler import SqlAlquemySelectDataHandler

from dotenv import load_dotenv
load_dotenv()

from DataProvider import DataProvider

In [3]:
indicator_name = 'GDP Annual Growth Rate'
data_provider = DataProvider()
df_investing_indicator = data_provider.get_indicator_values(
    indicator_name, 'Investing', 'QS')
df_investing_indicator

            United States  Japan  ...  Mexico  Malaysia
1999-01-01            NaN    NaN  ...     NaN       NaN
1999-04-01            NaN    NaN  ...     NaN       NaN
1999-07-01            NaN    NaN  ...     NaN       NaN
1999-10-01            NaN    NaN  ...     NaN       NaN
2000-01-01            NaN    NaN  ...     NaN       NaN
...                   ...    ...  ...     ...       ...
2022-10-01            NaN    0.1  ...     3.6       7.0
2023-01-01            NaN    2.7  ...     3.7       5.6
2023-04-01            NaN    3.5  ...     3.6       2.9
2023-07-01            NaN   -2.9  ...     3.3       3.3
2023-10-01            NaN   -0.4  ...     2.5       3.0

[100 rows x 27 columns]

In [9]:
df_investing_indicator.isna().sum()

United States     100
Japan              58
United Kingdom     52
Canada             75
France             75
Switzerland        57
Germany            52
Australia          57
Netherlands        47
Sweden             59
Hong Kong          59
Spain              58
Italy              52
Singapore          47
Denmark            93
Finland             3
Belgium           100
Norway            100
China              47
Taiwan             43
India              46
Korea              52
Brazil             43
Russia             62
South Africa       62
Mexico             43
Malaysia           48
dtype: int64

In [4]:
df_oecd_indicator = data_provider.get_indicator_values(
    indicator_name, 'OECD', 'QS')
df_oecd_indicator

            United States  Japan  ...  Mexico  Malaysia
1999-01-01           4.82  -0.84  ...    2.29       NaN
1999-04-01           4.72  -0.03  ...    2.30       NaN
1999-07-01           4.79   0.33  ...    2.76       NaN
1999-10-01           4.82  -0.44  ...    3.61       NaN
2000-01-01           4.22   2.67  ...    4.86       NaN
...                   ...    ...  ...     ...       ...
2022-10-01           0.65   0.63  ...    4.51       NaN
2023-01-01           1.72   2.48  ...    3.50       NaN
2023-04-01           2.38   2.27  ...    3.44       NaN
2023-07-01           2.93   1.63  ...    2.96       NaN
2023-10-01           3.11    NaN  ...    2.37       NaN

[100 rows x 27 columns]

In [10]:
df_oecd_indicator.isna().sum()

United States       0
Japan               1
United Kingdom      1
Canada              0
France              0
Switzerland         1
Germany             0
Australia           1
Netherlands         1
Sweden              0
Hong Kong         100
Spain               0
Italy               0
Singapore         100
Denmark             1
Finland             1
Belgium             0
Norway              1
China               0
Taiwan            100
India               1
Korea               0
Brazil              1
Russia             29
South Africa        1
Mexico              0
Malaysia          100
dtype: int64

In [6]:
df_combined = df_investing_indicator.combine_first(df_oecd_indicator)
df_combined

            United States  Japan  ...  Mexico  Malaysia
1999-01-01           4.82  -0.84  ...    2.29       NaN
1999-04-01           4.72  -0.03  ...    2.30       NaN
1999-07-01           4.79   0.33  ...    2.76       NaN
1999-10-01           4.82  -0.44  ...    3.61       NaN
2000-01-01           4.22   2.67  ...    4.86       NaN
...                   ...    ...  ...     ...       ...
2022-10-01           0.65   0.10  ...    3.60       7.0
2023-01-01           1.72   2.70  ...    3.70       5.6
2023-04-01           2.38   3.50  ...    3.60       2.9
2023-07-01           2.93  -2.90  ...    3.30       3.3
2023-10-01           3.11  -0.40  ...    2.50       3.0

[100 rows x 27 columns]

In [7]:
df_combined.isna().sum()

United States      0
Japan              0
United Kingdom     0
Canada             0
France             0
Switzerland        1
Germany            0
Australia          1
Netherlands        0
Sweden             0
Hong Kong         59
Spain              0
Italy              0
Singapore         47
Denmark            0
Finland            0
Belgium            0
Norway             1
China              0
Taiwan            43
India              1
Korea              0
Brazil             1
Russia            21
South Africa       1
Mexico             0
Malaysia          48
dtype: int64