In [1]:
import pandas as pd

In [2]:
all_countries = ['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
                 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
                 'Sweden', 'Spain', 'Hong Kong', 'Italy', 'Singapore',
                 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland',
                 'New Zealand', 'Austria', 'Portugal', #'Eurozone',
                 'China', 'Taiwan', 'India', 'Korea', 'Brazil',
                 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia',
                 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye',
                 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru',
                 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']

## Countries by Stock Market Capitalization

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_stock_market_capitalization')
total_market_cap_df = df[0]
total_market_cap_df

,Country,Total market cap (in mil. US$)[2],Total market cap (% of GDP)[3],Number of domestic companies listed[4],Year
0,United States,44719661,194.5,4266,2020
1,China,13214311,83.0,4154,2020
2,Japan,6718220,122.2,3754,2020
3,Hong Kong,6130420,1768.8,2353,2020
4,India,"3,612,985[5]",103.0,5270,2023
...,...,...,...,...,...
95,Algeria,371,0.2,...,2018
96,Paraguay,313,3.5,55,1999
97,Uruguay,284,1.4,17,1996
98,Eswatini,234,6.8,6,2007
99,Bermuda,220,39.6,13,2020

In [4]:

total_market_cap_df.index = total_market_cap_df['Country']
total_market_cap_df.index.name = None
total_market_cap = total_market_cap_df['Total market cap (in mil. US$)[2]']
total_market_cap.name = 'Total market cap'

total_market_cap.rename(index={
    'Czech Republic': 'Czechia',
    'Turkey': 'Turkiye',
    'South Korea': 'Korea'
}, inplace=True)

total_market_cap

United States        44719661
China                13214311
Japan                 6718220
Hong Kong             6130420
India            3,612,985[5]
                     ...
Algeria                   371
Paraguay                  313
Uruguay                   284
Eswatini                  234
Bermuda                   220
Name: Total market cap, Length: 100, dtype: object

In [5]:
# Correct annotations
for country in total_market_cap.index:
    if str(total_market_cap[country]).endswith(']'):
        total_market_cap[country] = int(total_market_cap[country][:-3].replace(',', ''))

C:\Users\lukas\AppData\Local\Temp\ipykernel_5332\1015479240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_market_cap[country] = int(total_market_cap[country][:-3].replace(',', ''))
C:\Users\lukas\AppData\Local\Temp\ipykernel_5332\1015479240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_market_cap[country] = int(total_market_cap[country][:-3].replace(',', ''))
C:\Users\lukas\AppData\Local\Temp\ipykernel_5332\1015479240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_market_cap[country] = int(total_market_cap[country][:-3].replace(',', ''))
C:\Users\lukas\AppData\Local\Temp\ipykernel_5332\1015479240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_market_cap[country] = int(total_market_cap[country][:-3].replace(',', ''))
C:\Users\lukas\AppData\Local\Temp\ipykernel_5332\1015479240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_market_cap[country] = int(total_market_cap[country][:-3].replace(',', ''))

In [6]:
total_market_cap = total_market_cap.astype('int32')
total_market_cap.loc[all_countries]

United States           44719661
Japan                    6718220
United Kingdom           2821000
Canada                   2641455
France                   2823000
Switzerland              2001603
Germany                  2284109
Australia                1720556
Netherlands              1597215
Denmark                   670282
Sweden                    913163
Spain                     909175
Hong Kong                6130420
Italy                     747438
Singapore                 652615
Finland                    20344
Belgium                   321094
Norway                    295549
Israel                    262062
Ireland                   110154
New Zealand               132198
Austria                   132083
Portugal                   61934
China                   13214311
Taiwan                   2007560
India                    3612985
Korea                    2176190
Brazil                    988374
Saudi Arabia             2429102
South Africa             1051529
Mexico                    399617
Thailand                  543164
Indonesia                 496086
Malaysia                  436538
United Arab Emirates      294832
Qatar                     165394
Kuwait                    105987
Turkiye                   237474
Philippines               272790
Poland                    177508
Chile                     184549
Greece                     50986
Peru                       87092
Hungary                    27971
Czechia                    26614
Egypt                      41351
Colombia                  106315
Argentina                  39394
Russia                    694739
Name: Total market cap, dtype: int32

In [7]:
total_value = total_market_cap.sum()
total_value

110602130

In [8]:
pct_of_global_stock = total_market_cap.loc[all_countries]/total_value * 100
pct_of_global_stock = round(pct_of_global_stock, 2)
pct_of_global_stock

United States           40.43
Japan                    6.07
United Kingdom           2.55
Canada                   2.39
France                   2.55
Switzerland              1.81
Germany                  2.07
Australia                1.56
Netherlands              1.44
Denmark                  0.61
Sweden                   0.83
Spain                    0.82
Hong Kong                5.54
Italy                    0.68
Singapore                0.59
Finland                  0.02
Belgium                  0.29
Norway                   0.27
Israel                   0.24
Ireland                  0.10
New Zealand              0.12
Austria                  0.12
Portugal                 0.06
China                   11.95
Taiwan                   1.82
India                    3.27
Korea                    1.97
Brazil                   0.89
Saudi Arabia             2.20
South Africa             0.95
Mexico                   0.36
Thailand                 0.49
Indonesia                0.45
Malaysia                 0.39
United Arab Emirates     0.27
Qatar                    0.15
Kuwait                   0.10
Turkiye                  0.21
Philippines              0.25
Poland                   0.16
Chile                    0.17
Greece                   0.05
Peru                     0.08
Hungary                  0.03
Czechia                  0.02
Egypt                    0.04
Colombia                 0.10
Argentina                0.04
Russia                   0.63
Name: Total market cap, dtype: float64

In [9]:
pct_of_global_stock.to_csv('Indicators/countries_by_stock_market_capitalization.csv')

## Global GDP

In [10]:
gdp_df = pd.read_csv('Indicators/gdp_2022.csv', index_col=0)
gdp_df.loc['Taiwan'] = 790728000000
gdp_df

                                 0
United States         2.546270e+13
China                 1.796317e+13
Japan                 4.231141e+12
Germany               4.072192e+12
India                 3.385090e+12
United Kingdom        3.070668e+12
France                2.782905e+12
Russia                2.240422e+12
Canada                2.139840e+12
Italy                 2.010432e+12
Brazil                1.920096e+12
Australia             1.675419e+12
Korea                 1.665246e+12
Mexico                1.414187e+12
Spain                 1.397509e+12
Indonesia             1.319100e+12
Saudi Arabia          1.108149e+12
Netherlands           9.911146e+11
Turkiye               9.059878e+11
Switzerland           8.077060e+11
Poland                6.881766e+11
Argentina             6.327703e+11
Sweden                5.859392e+11
Norway                5.792674e+11
Belgium               5.786041e+11
Ireland               5.292449e+11
Israel                5.220334e+11
United Arab Emirates  5.075349e+11
Thailand              4.953406e+11
Egypt                 4.767477e+11
Austria               4.714001e+11
Singapore             4.667885e+11
Malaysia              4.063059e+11
South Africa          4.058697e+11
Philippines           4.042843e+11
Denmark               3.954039e+11
Hong Kong             3.598386e+11
Colombia              3.439394e+11
Chile                 3.010252e+11
Czechia               2.909235e+11
Finland               2.808260e+11
Portugal              2.519454e+11
New Zealand           2.472341e+11
Peru                  2.426315e+11
Qatar                 2.372956e+11
Greece                2.190659e+11
Kuwait                1.845583e+11
Hungary               1.787886e+11
Taiwan                7.907280e+11

In [11]:
# Value from World Bank for 2022
est_global_gdp = 100562011000000

In [12]:
pct_of_global_gdp = gdp_df.loc[all_countries]/est_global_gdp * 100
pct_of_global_gdp = round(pct_of_global_gdp, 2)
pct_of_global_gdp.to_csv('Indicators/countries_by_pct_of_global_gdp.csv')
pct_of_global_gdp

                          0
United States         25.32
Japan                  4.21
United Kingdom         3.05
Canada                 2.13
France                 2.77
Switzerland            0.80
Germany                4.05
Australia              1.67
Netherlands            0.99
Denmark                0.39
Sweden                 0.58
Spain                  1.39
Hong Kong              0.36
Italy                  2.00
Singapore              0.46
Finland                0.28
Belgium                0.58
Norway                 0.58
Israel                 0.52
Ireland                0.53
New Zealand            0.25
Austria                0.47
Portugal               0.25
China                 17.86
Taiwan                 0.79
India                  3.37
Korea                  1.66
Brazil                 1.91
Saudi Arabia           1.10
South Africa           0.40
Mexico                 1.41
Thailand               0.49
Indonesia              1.31
Malaysia               0.40
United Arab Emirates   0.50
Qatar                  0.24
Kuwait                 0.18
Turkiye                0.90
Philippines            0.40
Poland                 0.68
Chile                  0.30
Greece                 0.22
Peru                   0.24
Hungary                0.18
Czechia                0.29
Egypt                  0.47
Colombia               0.34
Argentina              0.63
Russia                 2.23